Repository Autodesk/maya-usd, pull requests merged in 2020-04, with the labels that each got.

#396 MAYA-104134 Add .usdz extension to the identifyFile function
  plugin/adsk/plugin/importTranslator.cpp
  plugin/pxr/maya/lib/usdMaya/importTranslator.cpp
Labels: import-export

#407 Address remaning feedbacks for lib/mayaUsd
  lib/mayaUsd/fileio/importData.h
  lib/mayaUsd/fileio/primUpdaterRegistry.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/utils.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/wrapUtils.cpp
  lib/mayaUsd/utils/util.cpp
Labels: build

#408 Address remaining feedback in lib/usd and plugin/adsk
  lib/usd/hdMaya/adapters/materialAdapter.cpp
  lib/usd/hdMaya/adapters/proxyAdapter.cpp
  lib/usd/hdMaya/delegates/delegate.h
  lib/usd/hdMaya/delegates/proxyDelegate.cpp
  lib/usd/hdMaya/delegates/proxyDelegate.h
  lib/usd/schemas/wrapALMayaReference.cpp
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/cameraWriter.h
  lib/usd/translators/fileTextureWriter.h
  lib/usd/translators/instancerWriter.h
  lib/usd/translators/jointWriter.h
  lib/usd/translators/locatorWriter.h
  lib/usd/translators/mayaReferenceUpdater.h
  lib/usd/translators/meshWriter.h
  lib/usd/translators/meshWriter_Primvars.cpp
  lib/usd/translators/meshWriter_Skin.cpp
  lib/usd/translators/meshWriter_Subdiv.cpp
  lib/usd/translators/nurbsCurveWriter.h
  lib/usd/translators/nurbsSurfaceWriter.h
  lib/usd/translators/particleWriter.h
  lib/usd/translators/plugin.cpp
  lib/usd/translators/strokeWriter.h
  plugin/adsk/plugin/plugin.cpp
Labels: build

#410 fix some of the ufe headers promoted incorrectly.
  lib/mayaUsd/ufe/UsdHierarchy.cpp
Labels: build

#411 Fix the build when project is not created with Qt.
  plugin/adsk/plugin/CMakeLists.txt
Labels: build

#409 Update mayaUsd_add_test macro calls in AL plugin to add support for additional schema paths
  lib/usd/translators/CMakeLists.txt
  plugin/al/mayautils/AL/maya/tests/mayaplugintest/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/translators/pxrUsdTranslators/tests/CMakeLists.txt
  plugin/al/translators/tests/CMakeLists.txt
Labels: unit test

#209 build ufe Python bindings module consistently with other modules
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/__init__.py
  lib/mayaUsd/ufe/module.cpp
  lib/mayaUsd/ufe/moduleDeps.cpp
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testUfePythonImport.py
Labels: ufe-usd

#414 add pre-emptive includes of sdf/types.h before M3dView.h for Maya 2019
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/pxrUsdMayaGL/hdImagingShapeUI.h
  lib/mayaUsd/render/pxrUsdMayaGL/instancerShapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/proxyShapeUI.h
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.h
Labels: build

#413 MAYA-104219 - Rename 'Create Stage from Existing Layer'
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: proxy, workflows

#417 add one more pre-emptive include of sdf/types.h pxrUsdMayaGL/hdRenderer.h
  lib/mayaUsd/render/pxrUsdMayaGL/hdRenderer.h
Labels: build

#419 [pxrUsdMayaGL] remove unused customBucketName from PxrMayaHdRenderParams
  lib/mayaUsd/render/pxrUsdMayaGL/renderParams.h
Labels: core, pxr

#429 MAYA-103876 - Update expected failing tests
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testRotateCmd.py
  test/lib/ufe/testScaleCmd.py
Labels: unit test

#415 Add a script to measure key performance information for MayaUsd Vp2RenderDelegate.
  lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/analyticMayaUsdPerformance.py
Labels: adsk, vp2renderdelegate

#431 Failure to create shader instance when running command-line render
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.h
Labels: bug, vp2renderdelegate

#402 apply updates to comply with recent core USD dev branch commits
  cmake/defaults/msvcdefaults.cmake
  doc/build.md
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/hdRenderer.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/usd/hdMaya/adapters/materialAdapter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.h
  lib/usd/hdMaya/adapters/proxyAdapter.cpp
  lib/usd/hdMaya/adapters/proxyAdapter.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
  plugin/al/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeUI.cpp
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/usdmayautils/AL/usdmaya/utils/CMakeLists.txt
Labels: build

#438 upgrade maya-usd project to the C++14 standard
  cmake/defaults/CXXDefaults.cmake
  cmake/defaults/gccclangshareddefaults.cmake
  cmake/modules/FindUSD.cmake
Labels: build

#437 MAYA-101454 Clear stage cach on file new/open.
  lib/mayaUsd/listeners/notice.cpp
  plugin/adsk/plugin/plugin.cpp
Labels: adsk, workflows

#439 add a performance test for measuring the time to duplicate a pxrUsdProxyShape
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDuplicatePerformanceTest/CubeGridModelRefs_10.usd
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDuplicatePerformanceTest/CubeModel.usda
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDuplicatePerformanceTest/Grid_5_of_CubeGridModelRefs_10.ma
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDuplicatePerformanceTest/baseline/CubeGrid.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeDuplicatePerformance.py
Labels: pxr, unit test

#440 Fix PXR_PATCH_VERSION!
  cmake/defaults/CXXDefaults.cmake
  cmake/defaults/Version.cmake
  plugin/pxr/cmake/macros/Private.cmake
Labels: build

#441 Fix compilation error on gcc 9.1
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#443 plugin/pxr is now adopting mayaUsd_compile_config routine
  CMakeLists.txt
  plugin/pxr/CMakeLists.txt
  plugin/pxr/cmake/macros/Private.cmake
  plugin/pxr/cmake/macros/Public.cmake
Labels: build

#412 The aim of this PR is to allow compiler flags to be easily and clearly added within Maya USD build echo system.
  CMakeLists.txt
  cmake/compiler_config.cmake
  cmake/utils.cmake
  doc/build.md
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/usd/hdMaya/CMakeLists.txt
  lib/usd/schemas/CMakeLists.txt
  lib/usd/translators/CMakeLists.txt
  lib/usd/ui/CMakeLists.txt
  lib/usd/ui/demo/CMakeLists.txt
  lib/usd/utils/CMakeLists.txt
  plugin/adsk/plugin/CMakeLists.txt
  plugin/al/CMakeLists.txt
  plugin/pxr/CMakeLists.txt
  plugin/pxr/cmake/defaults/CXXDefaults.cmake
  plugin/pxr/cmake/defaults/CXXHelpers.cmake
  plugin/pxr/cmake/defaults/Options.cmake
  plugin/pxr/cmake/defaults/clangdefaults.cmake
  plugin/pxr/cmake/defaults/gccclangshareddefaults.cmake
  plugin/pxr/cmake/defaults/gccdefaults.cmake
  plugin/pxr/cmake/defaults/msvcdefaults.cmake
  plugin/pxr/cmake/macros/Private.cmake
  plugin/pxr/cmake/macros/Public.cmake
  test/lib/usd/utils/CMakeLists.txt
Labels: build

#449 updates from Hdx de-boostification and Hd reorganization
  lib/usd/hdMaya/adapters/lightAdapter.cpp
  lib/usd/hdMaya/utils.h
Labels: build

#450 remove Pixar batch renderer's support of MAYA_VP2_USE_VP1_SELECTION env var
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
Labels: core, pxr

#452 MAYA-102232 Check the index vs the size of the prim data array
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#445 plugin/al is now adopting mayaUsd_compile_config routine
  plugin/al/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
  plugin/al/mayatest/AL/maya/test/CMakeLists.txt
  plugin/al/mayautils/AL/maya/CMakeLists.txt
  plugin/al/mayautils/AL/maya/tests/mayaplugintest/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaPlugin/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/mayatest/CMakeLists.txt
  plugin/al/translators/CMakeLists.txt
  plugin/al/translators/pxrUsdTranslators/CMakeLists.txt
  plugin/al/usdmayautils/AL/usdmaya/utils/CMakeLists.txt
  plugin/al/usdtransaction/AL/usd/transaction/CMakeLists.txt
  plugin/al/usdtransaction/AL/usd/transaction/tests/CMakeLists.txt
  plugin/al/utils/AL/CMakeLists.txt
Labels: build

#451 remove virtual dispatch for PxrMayaHdShapeAdapter::IsViewport2()
  lib/mayaUsd/render/pxrUsdMayaGL/instancerImager.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/instancerImager.h
  lib/mayaUsd/render/pxrUsdMayaGL/instancerShapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/instancerShapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyShapeUI.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.h
  plugin/pxr/maya/lib/usdMaya/instancerShapeAdapterWithSceneAssembly.cpp
  plugin/pxr/maya/lib/usdMaya/instancerShapeAdapterWithSceneAssembly.h
  plugin/pxr/maya/lib/usdMaya/referenceAssembly.cpp
Labels: core, pxr

#453 [al] When updating a transform via a quat, test for equivalence in quat space
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/TransformationMatrix.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/TransformationMatrix.h
Labels: al, bug

#465 Enable exception handling for VS compiler
  cmake/compiler_config.cmake
  lib/mayaUsd/CMakeLists.txt
Labels: enhancement
