Repository Autodesk/maya-usd, pull requests merged in 2020-08, with the labels that each got.

#691 MAYA-104967 mel commands for Undo/Redo USD target change and sublayer edits
  build.py
  lib/mayaUsd/commands/CMakeLists.txt
  lib/mayaUsd/commands/editTargetCommand.cpp
  lib/mayaUsd/commands/editTargetCommand.h
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/mayaUsd/commands/layerEditorCommand.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ready-for-merge, workflows

#675 MAYA-102330 Add UI to display the number of selected prims and changed variants
  lib/mayaUsd/fileio/importData.cpp
  lib/mayaUsd/fileio/importData.h
  lib/usd/ui/ItemDelegate.cpp
  lib/usd/ui/ItemDelegate.h
  lib/usd/ui/TreeItem.h
  lib/usd/ui/TreeModel.cpp
  lib/usd/ui/TreeModel.h
  lib/usd/ui/USDImportDialog.cpp
  lib/usd/ui/USDImportDialog.h
  lib/usd/ui/USDImportDialog.ui
  lib/usd/ui/USDImportDialogCmd.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: import-export, ready-for-merge

#682 Refactor layersWithContribution routine to use UsdPrimCompositionQuery utility
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge, unit test, workflows

#700 Fix build script and test failures with python3 build
  build.py
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: build

#661 MAYA-105368: set the edittarget to default into RootLayer instead of SessionLayer
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/stageNode.cpp
  test/lib/testMayaUsdProxyAccessor.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testRename.py
Labels: ready-for-merge, ufe-usd, workflows

#699 fixed unused-but-set-variable on compiling with Maya 2018 earlier than 2018.7
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: build, vp2renderdelegate

#694 [mayaUsd] load Plug libraries when finding and loading in the registry
  lib/mayaUsd/fileio/registryHelper.cpp
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdMayaAdaptorGeomTest/UsdAttrs.usda
  test/lib/usd/translators/UsdMayaAdaptorMetadataTest/UsdAttrs.usda
  test/lib/usd/translators/fixturesUtils.py
  test/lib/usd/translators/testUsdMayaAdaptor.py
  test/lib/usd/translators/testUsdMayaAdaptorGeom.py
  test/lib/usd/translators/testUsdMayaAdaptorMetadata.py
  test/lib/usd/translators/testUsdMayaAdaptorUndoRedo.py
Labels: core, import-export

#695 MAYA-104770: Naming of stage and shape at creation are not inline with naming in Maya
  plugin/adsk/scripts/mayaUsd_createStageWithNewLayer.py
  test/lib/ufe/testContextOps.py
Labels: ready-for-merge, ufe-usd, workflows

#702 Fix windows build when compiling for Maya 2018 or without UFE
  lib/mayaUsd/commands/editTargetCommand.h
Labels: build, workflows

#647 [mtoh] Support USD enableSceneMaterials better.
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/usd/hdMaya/adapters/proxyAdapter.cpp
  lib/usd/hdMaya/adapters/proxyAdapter.h
  lib/usd/hdMaya/delegates/proxyDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
Labels: mtoh

#698 MAYA-105944 - MayaUSD plugin version in plugin manager doesn't match …
  plugin/adsk/plugin/CMakeLists.txt
  plugin/adsk/plugin/plugin.cpp
Labels: adsk, enhancement, ready-for-merge

#703 MAYA-105732 Do not auto turn on displayColors
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
Labels: import-export, ready-for-merge

#686 MAYA-105604 Use relative file paths on export
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportPreviewSurface/props/billboards/billboards.usda
  test/lib/usd/translators/UsdImportPreviewSurface/props/billboards/textures/green_A.png
  test/lib/usd/translators/UsdImportPreviewSurface/props/textures/black_B.png
  test/lib/usd/translators/UsdImportPreviewSurface/textures/red_C.png
  test/lib/usd/translators/UsdImportPreviewSurface/world.usda
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdImportPreviewSurface.py
Labels: import-export, ready-for-merge

#697 MAYA-105764: Fix cruft in data model after re-parenting on undo/redo.
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
Labels: ready-for-merge, ufe-usd, workflows

#714 Do not test unparent functionality until Maya with UFE 0.2.20.
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge, unit test

#710 adjust verification of texture path relative-ness in testUsdExportImportRoundtripPreviewSurface
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, unit test

#716 Added changelog for v0.3.0
  doc/CHANGELOG.md
Labels: documentation

#722 Add missing test data file.
  test/lib/ufe/test-samples/parentCmd/simpleSceneUSD_TRS.ma
Labels: ready-for-merge, unit test

#720 Bump version to 0.4.0
  cmake/mayausd_version.info
Labels: build

#725 MAYA-106390 change assignee condition
  .github/workflows/maya-usd-preflight-launcher.yml
Labels: build

#717 updates for building with latest post-20.08 commits of core USD
  doc/build.md
  lib/mayaUsd/fileio/writeJobContext.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/usd/translators/skelReader.cpp
  test/lib/usd/translators/testUsdExportSkeleton.py
  test/lib/usd/translators/testUsdImportSkeleton.py
Labels: build

#709 MAYA-103230 Cleaned-up export material UI
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#715 MAYA-105263 Improve draw performance for dense mesh
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
Labels: ready-for-merge, vp2renderdelegate

#712 MAYA-106190 - As a user, I would like see prim type icons
  lib/mayaUsd/ufe/UsdSceneItem.cpp
  lib/mayaUsd/ufe/UsdSceneItem.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testSceneItem.py
Labels: enhancement, ready-for-merge, requires maya, workflows

#726 MAYA-103701 - UFE: Maya crashes after switching variant
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  lib/mayaUsd/ufe/private/UfeNotifGuard.h
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testDeleteCmd.py
Labels: bug, ready-for-merge, ufe-usd, workflows

#728 Prefer lambda over std::bind
  lib/mayaUsd/nodes/proxyShapeBase.cpp
Labels: core

#706 add initial "interactive" unit test using testPxrUsdMayaGL from the Pixar plugin
  cmake/test.cmake
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/CMakeLists.txt
  test/lib/mayaUsd/render/CMakeLists.txt
  test/lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
  test/lib/mayaUsd/render/pxrUsdMayaGL/PxrUsdMayaGL/blank.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/PxrUsdMayaGL/plane0.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/PxrUsdMayaGL/plane1.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/testPxrUsdMayaGL.py
  test/lib/ufe/CMakeLists.txt
  test/lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
Labels: unit test

#731 Split Maya module file into separate plugins
  CMakeLists.txt
  cmake/test.cmake
  modules/alUSD.mod.template
  modules/alUSD_Win.mod.template
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  modules/pxrUSD.mod.template
  modules/pxrUSD_Win.mod.template
  test/lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
Labels: adsk, al, pxr, ready-for-merge

#734 Removing code blocks for USD 19.07
  doc/build.md
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/mayaUsd/render/mayaToHydra/utils.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/usd/hdMaya/adapters/materialAdapter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.h
  lib/usd/hdMaya/delegates/delegate.h
  lib/usd/schemas/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeUI.cpp
Labels: build, ready-for-merge

#743 MAYA-105604 Handle empty relative path
  lib/usd/translators/shading/usdFileTextureWriter.cpp
Labels: import-export, ready-for-merge

#707 MAYA-104987 Allows converting preview surface to Maya native shaders
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/shaderReader.cpp
  lib/mayaUsd/fileio/shaderReader.h
  lib/mayaUsd/fileio/shaderReaderRegistry.cpp
  lib/mayaUsd/fileio/shaderReaderRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/utils/util.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.cpp
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/usdBlinnReader.cpp
  lib/usd/translators/shading/usdLambertReader.cpp
  lib/usd/translators/shading/usdLambertReader.h
  lib/usd/translators/shading/usdLambertWriter.cpp
  lib/usd/translators/shading/usdMaterialReader.cpp
  lib/usd/translators/shading/usdMaterialReader.h
  lib/usd/translators/shading/usdPhongEReader.cpp
  lib/usd/translators/shading/usdPhongReader.cpp
  lib/usd/translators/shading/usdStandardSurfaceReader.cpp
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/pxr/doc/README.md
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdImportPreviewSurface.py
Labels: import-export, ready-for-merge

#739 apply UsdGeomModelAPI schema to test assets that exercise the drawMode adapter
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/CubeModel.usda
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/RefAssemblyDrawRepresentationsTest/CubeModel.usda
Labels: ready-for-merge, unit test

#742 MAYA-106032 - add new prim fails after delete
  lib/mayaUsd/ufe/Utils.cpp
  test/lib/ufe/testContextOps.py
Labels: bug, ready-for-merge, ufe-usd

#738 adapt to refactoring in core USD of registry handling of prim specs versus prim definitions
  doc/build.md
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/fileio/utils/adaptor.h
Labels: build

#748 Reset version ids and dirty information when the USD stage is cleared.
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: ready-for-merge, vp2renderdelegate

#750 [mayaUsdUI] replace #pragma once with #ifndef include guards
  lib/usd/ui/IMayaMQtUtil.h
  lib/usd/ui/IUSDImportView.h
  lib/usd/ui/ItemDelegate.h
  lib/usd/ui/TreeItem.h
  lib/usd/ui/TreeModel.h
  lib/usd/ui/TreeModelFactory.h
  lib/usd/ui/USDImportDialog.h
  lib/usd/ui/USDImportDialogCmd.h
  lib/usd/ui/USDQtUtil.h
Labels: import-export

#746 MAYA-106529 - MayaUSD: Cleanup old UFE conditionals
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdObject3d.cpp
  lib/mayaUsd/ufe/UsdObject3d.h
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testMayaPickwalk.py
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testRotateCmd.py
  test/lib/ufe/testScaleCmd.py
  test/lib/ufe/testSelection.py
  test/lib/ufe/ufeTestUtils/ufeUtils.py
Labels: core, ready-for-merge, ufe-usd
