Repository Autodesk/maya-usd, pull requests merged in 2020-10, with the labels that each got.

#807 Necessary fixes required before we can apply clang format
  .clang-format
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/ExportTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Scope.h
  plugin/al/translators/Mesh.h
  plugin/al/translators/NurbsCurve.h
Labels: build, ready-for-merge

#785 Adding Cache Id to the Base Proxy Node
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdCacheId.py
Labels: proxy, ready-for-merge

#758 [mtoh] Refactor settings / defaultRenderGlobals storage
  lib/mayaUsd/render/mayaToHydra/plugin.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/mayaUsd/render/mayaToHydra/utils.cpp
  lib/mayaUsd/render/mayaToHydra/viewCommand.cpp
Labels: mtoh, ready-for-merge

#801 USD method GetSchemaType() was added in v20.08
  lib/mayaUsd/ufe/UsdSceneItem.cpp
Labels: ready-for-merge, ufe-usd

#808 remove unused hitMode field from HdxPickTaskContextParams
  doc/build.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.cpp
Labels: build, ready-for-merge

#810 always register and de-register the PxrMayaHdImagingShape and its draw override
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
Labels: legacy rendering, proxy, ready-for-merge

#815 disable shadows on the directionalLight in the Maya scene for the testProxyShapeDrawColorAccuracy test
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawColorAccuracyTest/ProxyShapeDrawColorAccuracyTest.ma
Labels: ready-for-merge, unit test

#797 MAYA-106755: Support automatic updating of internal references when the path they are referencing has changed.
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/usd/utils/ForwardDeclares.h
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
Labels: ready-for-merge, ufe-usd, workflows

#812 handle namespace migration of QStringListModel between Maya 2019 and Maya 2020 in userExportedAttributesUI
  plugin/pxr/maya/lib/usdMaya/userExportedAttributesUI.py
Labels: pxr, ready-for-merge

#816 MAYA-106630 - See which prims have a composition arc including a variant
  lib/mayaUsd/resources/icons/CMakeLists.txt
  lib/mayaUsd/resources/icons/out_USD_CompArcBadgeV_100.png
  lib/mayaUsd/resources/icons/out_USD_CompArcBadgeV_150.png
  lib/mayaUsd/resources/icons/out_USD_CompArcBadgeV_200.png
  lib/mayaUsd/resources/icons/out_USD_CompArcBadge_100.png
  lib/mayaUsd/resources/icons/out_USD_CompArcBadge_150.png
  lib/mayaUsd/resources/icons/out_USD_CompArcBadge_200.png
  lib/mayaUsd/ufe/UsdUIInfoHandler.cpp
  lib/mayaUsd/ufe/UsdUIInfoHandler.h
  test/lib/ufe/testUIInfoHandler.py
Labels: ready-for-merge, ufe-usd, workflows

#818 clean up pxr CMake and remove irrelevant build options
  CMakeLists.txt
  plugin/al/docs/build.md
  plugin/pxr/cmake/defaults/CXXDefaults.cmake
  plugin/pxr/cmake/defaults/CXXHelpers.cmake
  plugin/pxr/cmake/defaults/Options.cmake
  plugin/pxr/cmake/defaults/clangdefaults.cmake
  plugin/pxr/cmake/defaults/gccclangshareddefaults.cmake
  plugin/pxr/cmake/defaults/gccdefaults.cmake
  plugin/pxr/cmake/defaults/msvcdefaults.cmake
  plugin/pxr/cmake/macros/Private.cmake
  plugin/pxr/cmake/macros/Public.cmake
Labels: build, ready-for-merge

#817 MAYA-106867 [Github #769] Crash after discarding edits on an anon layer
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: ready-for-merge, ufe-usd, workflows

#819 MAYA-102621 don't snap to active objects when using point snapping
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#802 Remove #if/def directives for UFE_PREVIEW_VERSION_NUM >= 2021 now that PR 119 is out.
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdRotatePivotTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotatePivotTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.h
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.h
  lib/mayaUsd/ufe/UsdSceneItem.cpp
  lib/mayaUsd/ufe/UsdSceneItem.h
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.cpp
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.h
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  lib/mayaUsd/ufe/Utils.h
Labels: build

#821 MAYA-107249 When excluded prims changes we don't know if some prims were removed
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#827 Prepare for upcoming UFE interface changes to support Maya transform …
  lib/mayaUsd/ufe/UsdRotatePivotTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotatePivotTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.h
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.h
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdUIInfoHandler.cpp
  test/lib/ufe/testRotatePivot.py
Labels: ready-for-merge, ufe, ufe-usd, workflows

#825 move pxrUsdStageNode and pxrUsdPointBasedDeformerNode registration to mayaUsd core
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
  plugin/pxr/maya/lib/usdMaya/testenv/UsdTranslateTypelessDefs/ExoticTypeNames.usda
  plugin/pxr/maya/plugin/pxrUsd/plugin.cpp
  test/lib/mayaUsd/CMakeLists.txt
  test/lib/mayaUsd/nodes/CMakeLists.txt
  test/lib/mayaUsd/nodes/PointBasedDeformerNodeTest/DeformingCube.usda
  test/lib/mayaUsd/nodes/testPointBasedDeformerNode.py
  test/lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportExportTypelessDefsTest/ExoticTypeNames.usda
  test/lib/usd/translators/testUsdImportExportTypelessDefs.py
Labels: ready-for-merge, unit test

#828 fixes for testProxyShapeSelectionPerformance when run with the VP2 render delegate
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/CubeGridCombinedMesh_10.usd
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/CubeGridModelRefs_10.usd
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeSelectionPerformance.py
Labels: ready-for-merge, unit test

#831 update baseline USD file for testUsdExportSkeleton test following #822
  test/lib/usd/translators/UsdExportSkeletonTest/baseline/UsdExportSkeletonWithoutBindPose.usda
Labels: import-export, regression

#832 enable exportDisplayColor in testUsdExportRenderLayerMode test following #822
  test/lib/usd/translators/testUsdExportRenderLayerMode.py
Labels: import-export, regression

#833 enable exportDisplayColor in testProxyShapeDrawColors test following #822
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawColors.py
Labels: import-export, regression

#834 Absence of scale pivot support is not an error.
  lib/mayaUsd/ufe/UsdTransform3d.cpp
Labels: ufe

#835 update build.md to reflect support for core USD release 20.11
  doc/build.md
Labels: build, documentation

#839 add validation of exported USD in testUsdExportSkeleton for case without bind pose
  test/lib/usd/translators/UsdExportSkeletonTest/baseline/UsdExportSkeletonWithoutBindPose.usda
  test/lib/usd/translators/testUsdExportSkeleton.py
Labels: import-export, ready-for-merge, unit test

#837 fix import of "useSpecularWorkflow" input on UsdPreviewSurface shaders
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, ready-for-merge

#836 add translation support between lambert transparency and UsdPreviewSurface opacity
  lib/usd/translators/shading/usdLambertReader.cpp
  lib/usd/translators/shading/usdLambertReader.h
  lib/usd/translators/shading/usdLambertWriter.cpp
Labels: import-export, ready-for-merge

#794 Instance import, part 1
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/jobs/readJob.h
  lib/mayaUsd/fileio/translators/translatorXformable.cpp
  lib/mayaUsd/fileio/writeJobContext.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/pxr/maya/lib/usdMaya/referenceAssembly.cpp
  plugin/pxr/maya/lib/usdMaya/usdTranslatorImport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportInstancesTest/ComplexScenario_optimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/ComplexScenario_unoptimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/SimpleScenario_optimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/SimpleScenario_unoptimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/UsdExportInstancesTest_optimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/UsdExportInstancesTest_original.usda
  test/lib/usd/translators/UsdImportInstancesTest/UsdExportInstancesTest_unoptimized.usda
  test/lib/usd/translators/testUsdExportInstances.py
  test/lib/usd/translators/testUsdExportShadingInstanced.py
  test/lib/usd/translators/testUsdImportInstances.py
Labels: import-export, ready-for-merge

#853 Updated change log with 0.5.0 version
  doc/CHANGELOG.md
Labels: build

#854 Bump version to 0.6.0
  cmake/mayausd_version.info
Labels: build

#841 Devtoolset-9 fixes
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_NurbsCurveTranslator.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/DgNodeHelper.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/DiffPrimVar.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/MeshUtils.cpp
Labels: build, ready-for-merge

#847 author UsdPreviewSurface "normal" input using Normal3f type name
  lib/usd/translators/shading/usdLambertWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.h
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
Labels: import-export, ready-for-merge

#849 disable shading import in UsdMayaTranslatorCamera::ReadToCamera()
  lib/mayaUsd/fileio/translators/translatorCamera.cpp
Labels: import-export, ready-for-merge, regression

#846 Enable USD version check for components distributed separately
  lib/mayaUsd/fileio/shading/symmetricShaderWriter.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  lib/mayaUsd/render/mayaToHydra/plugin.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/plugRegistryHelper.h
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  plugin/adsk/plugin/plugin.cpp
Labels: ready-for-merge

#848 export lambert and descendants more sparsely
  lib/usd/translators/shading/usdLambertWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.h
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
Labels: import-export, ready-for-merge

#852 MAYA-107087: Don't allow parenting to a Gprim.
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testSelection.py
  test/testSamples/parentCmd/simpleSceneTRS.usda
Labels: ready-for-merge, ufe-usd, workflows

#845 MAYA-106205 - Updated the MtoH vendor and version
  lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  lib/mayaUsd/render/mayaToHydra/plugin.cpp
Labels: mtoh, ready-for-merge

#856 MAYA-106489 - Import instances is a boolean option
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/pxr/doc/README.md
  plugin/pxr/maya/lib/usdMaya/referenceAssembly.cpp
  plugin/pxr/maya/lib/usdMaya/usdTranslatorImport.mel
Labels: import-export, ready-for-merge

#859 MAYA-106489 - Rename InstanceSources to be Maya-specific
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/fileio/writeJobContext.cpp
  plugin/al/docs/importExport.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/Export.cpp
  test/lib/usd/translators/UsdImportInstancesTest/ComplexScenario_optimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/ComplexScenario_unoptimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/SimpleScenario_optimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/SimpleScenario_unoptimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/UsdExportInstancesTest_optimized.usda
  test/lib/usd/translators/UsdImportInstancesTest/UsdExportInstancesTest_original.usda
  test/lib/usd/translators/UsdImportInstancesTest/UsdExportInstancesTest_unoptimized.usda
  test/lib/usd/translators/testUsdExportInstances.py
  test/lib/usd/translators/testUsdExportShadingInstanced.py
  test/lib/usd/translators/testUsdImportInstances.py
Labels: import-export, ready-for-merge

#863 MAYA-102319 - Align conversion as child of material import
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: import-export, ready-for-merge

#861 MAYA-107461 expose stage reset notices to python
  lib/mayaUsd/listeners/proxyShapeNotice.cpp
  lib/mayaUsd/listeners/proxyShapeNotice.h
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/module.cpp
  lib/mayaUsd/ufe/wrapNotice.cpp
Labels: ready-for-merge, ufe-usd, workflows

#862 MAYA-106892 - Export and import color space information on file nodes
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, ready-for-merge

#860 MAYA-106690 - Merge subsets connected to same material
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportGeomSubsetTest/UsdExportGeomSubsetTest.ma
  test/lib/usd/translators/testUsdExportGeomSubset.py
Labels: import-export, ready-for-merge

#864 MAYA-107591: Subtree invalidation support on StageProxy ( a.k.a pseudo-root ).
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: bug, ready-for-merge, workflows

#851 MAYA-105389 - Displacement import
  lib/mayaUsd/fileio/shaderReader.cpp
  lib/mayaUsd/fileio/shaderReader.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/usd/translators/shading/usdMaterialReader.cpp
  lib/usd/translators/shading/usdMaterialReader.h
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportDisplacementTest/RGBA.png
  test/lib/usd/translators/UsdImportDisplacementTest/SimpleDisplacement.usda
  test/lib/usd/translators/testUsdImportDisplacement.py
Labels: import-export, ready-for-merge

#844 MAYA-105389 - Displacement export
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/usdDisplacementShaderWriter.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportDisplacementTest/Mono.png
  test/lib/usd/translators/UsdExportDisplacementTest/MonoA.png
  test/lib/usd/translators/UsdExportDisplacementTest/RGB.png
  test/lib/usd/translators/UsdExportDisplacementTest/RGBA.png
  test/lib/usd/translators/UsdExportDisplacementTest/SimpleDisplacement.ma
  test/lib/usd/translators/testUsdExportDisplacement.py
Labels: import-export, ready-for-merge

#865 MAYA-107167 - Keep USDZ texture paths relative
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  plugin/pxr/maya/lib/usdMaya/usdTranslatorExport.mel
  plugin/pxr/maya/lib/usdMaya/usdTranslatorImport.mel
  test/lib/usd/translators/UsdImportPreviewSurface/Tiny.usdz
  test/lib/usd/translators/testUsdImportPreviewSurface.py
Labels: import-export, ready-for-merge

#868 [CMake] Add mayaUtils.openTestScene and mayaUtils.getTestScene
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testSelection.py
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, unit test

#867 MAYA-105277: Initial work to support None-destructive reorder ( move ) of prims relative to their siblings.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdUndoReorderCommand.cpp
  lib/mayaUsd/ufe/UsdUndoReorderCommand.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testReorderCmd.py
  test/testSamples/reorderCmd/primitives.ma
  test/testSamples/reorderCmd/primitives.usda
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, ufe-usd, workflows
