Repository Autodesk/maya-usd, pull requests merged in 2020-05, with the labels that each got.

#469 Add support for outline selection hilighting and disabling color-quantization
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/utils.cpp
Labels: mtoh

#472 Selecting an object/sub-tree in the outliner and framing it isn't working well.
  lib/mayaUsd/ufe/UsdObject3d.cpp
  test/lib/ufe/testObject3d.py
  test/lib/ufe/ufeTestUtils/testUtils.py
Labels: ufe-usd, workflows

#477 [al] flip translator order
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TranslatorBase.cpp
Labels: al

#474 MAYA-104544 Handle changing the USD stage
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: proxy, vp2renderdelegate

#471 Teach the import cmd ui how to import usd-assets and apply to proxy-shapes
  lib/usd/ui/USDImportDialogCmd.cpp
  lib/usd/ui/USDImportDialogCmd.h
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/mayaUsd_createStageFromAsset.mel
Labels: import-export, proxy, workflows

#482 remove UsdMayaGLHdRenderer
  lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
  lib/mayaUsd/render/pxrUsdMayaGL/hdRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/hdRenderer.h
Labels: core

#476 Watch for full xformOpOrder changes.
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: ufe-usd

#455 Tremblp/maya 103815/ufe parenting usd 00
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.h
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.h
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.cpp
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.h
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdTransform3dHandler.cpp
  lib/mayaUsd/ufe/UsdTransform3dHandler.h
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/test-samples/parentCmd/simpleHierarchy.ma
  test/lib/ufe/test-samples/parentCmd/simpleHierarchy.usda
  test/lib/ufe/test-samples/parentCmd/simpleSceneMayaPlusUSD_TRS.ma
  test/lib/ufe/test-samples/parentCmd/simpleSceneTRS.usda
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: pending beta, ufe-usd, workflows

#462 MAYA-104203 - undo/redo UFE rename command will crash maya
  test/lib/ufe/testMayaPickwalk.py
  test/lib/ufe/testRename.py
Labels: pending beta, ufe-usd, unit test

#486 minor cmake clean up
  CMakeLists.txt
  cmake/utils.cmake
  lib/mayaUsd/CMakeLists.txt
Labels: build

#481 remove use of HdxTaskController::SetColorizeQuantizationEnabled() after USD 20.05
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
Labels: mtoh

#484 MAYA-104031 MAYA-99931 Add Python, CMake guidelines and clang-format …
  .clang-format
  .clang-format-exclude
  .clang-format-include
  doc/codingGuidelines.md
Labels: documentation

#478 MAYA-104213 - add a new USD stage to an empty scene
  lib/mayaUsd/listeners/proxyShapeNotice.cpp
  lib/mayaUsd/listeners/proxyShapeNotice.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/StagesSubject.h
  lib/mayaUsd/ufe/UsdStageMap.cpp
  lib/mayaUsd/ufe/UsdStageMap.h
  lib/usd/hdMaya/adapters/proxyAdapter.cpp
  lib/usd/hdMaya/adapters/proxyAdapter.h
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsd_createStageWithNewLayer.py
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testTransform3dTranslate.py
Labels: proxy, workflows

#489 MAYA-104214 - As a user, I'd like to add a USD prim to an existing stage
  cmake/test.cmake
  lib/mayaUsd/ae/CMakeLists.txt
  lib/mayaUsd/ae/capsule/ae_template.py
  lib/mayaUsd/ae/cone/ae_template.py
  lib/mayaUsd/ae/cube/ae_template.py
  lib/mayaUsd/ae/cylinder/ae_template.py
  lib/mayaUsd/ae/sphere/ae_template.py
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/ProxyShapeContextOpsHandler.cpp
  lib/mayaUsd/ufe/ProxyShapeContextOpsHandler.h
  lib/mayaUsd/ufe/ProxyShapeHierarchyHandler.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchyHandler.h
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdContextOps.h
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, workflows

#491 Tremblp/maya 96058/enable trs tests
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testRotateCmd.py
  test/lib/ufe/testScaleCmd.py
  test/lib/ufe/testTRSBase.py
Labels: unit test

#483 Improve rename logics
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.h
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/test-samples/tree/tree.ma
  test/lib/ufe/test-samples/tree/tree.usda
  test/lib/ufe/test-samples/tree/treeRef.ma
  test/lib/ufe/test-samples/tree/treeRef.usda
  test/lib/ufe/testRename.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: core, ufe-usd, unit test

#492 remove unused PxrUsdMayaGLBatchRenderer::GetInstancerIndexForHit()
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
Labels: core, pxr

#493 MAYA-104273 - Add cmd combo test
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testTRSBase.py
Labels: unit test

#494 add instancerContext param for HdSceneDelegate::GetScenePrimPath()
  doc/build.md
  lib/usd/hdMaya/adapters/proxyAdapter.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
Labels: mtoh

#400 codingGuidelines.md: clarify some details about headers
  .clang-format
  doc/codingGuidelines.md
Labels: documentation

#470 Fix leak of UsdImagingDelegate
  lib/usd/hdMaya/adapters/proxyAdapter.cpp
Labels: mtoh, proxy, vp2renderdelegate

#503 MAYA-104401 Add/Clear Reference menu op's
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: ufe-usd, workflows

#475 MAYA-104215: improve renaming restriction on prim objects
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.h
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/usd/utils/CMakeLists.txt
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/test-samples/tree/tree.ma
  test/lib/ufe/test-samples/tree/tree.usda
  test/lib/ufe/test-samples/tree/treeRef.ma
  test/lib/ufe/test-samples/tree/treeRef.usda
  test/lib/ufe/testMatrices.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testRename.py
  test/lib/ufe/testRotatePivot.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: core, ufe-usd, unit test

#502 Add Python 3 support
  CMakeLists.txt
  build.py
  cmake/python.cmake
  doc/build.md
  lib/usd/schemas/__init__.py
  lib/usd/ui/CMakeLists.txt
  lib/usd/ui/ItemDelegate.cpp
  lib/usd/ui/TreeModel.cpp
  test/lib/ufe/testObject3d.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: build

#501 remove support for Maya releases older than 2018
  CMakeLists.txt
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/translators/translatorMayaReference.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/hdImagingShapeDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/hdImagingShapeUI.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/instancerShapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.h
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/mayaUsd/utils/util.cpp
  lib/usd/translators/fileTextureWriter.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/DebugCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/ListTranslators.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/RendererCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/SyncFileIOGui.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/LayerManager.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
  plugin/al/mayautils/AL/maya/utils/ForwardDeclares.h
  plugin/al/mayautils/AL/maya/utils/NodeHelper.h
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_MeshTranslator.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/DgNodeHelper.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/MeshUtils.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/NurbsCurveUtils.h
  plugin/pxr/maya/lib/usdMaya/testenv/UsdExportPointInstancerTest/InstancerTest.ma
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportPointInstancer.py
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/plugin.cpp
Labels: build

#464 Linux tests - Inject common LD_LIBRARY_PATHs into add_maya_test cmake function
  cmake/test.cmake
  doc/build.md
  plugin/al/mayautils/AL/maya/tests/mayaplugintest/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/translators/pxrUsdTranslators/tests/CMakeLists.txt
  plugin/al/translators/tests/CMakeLists.txt
  plugin/al/usdtransaction/AL/usd/transaction/tests/CMakeLists.txt
  test/lib/CMakeLists.txt
  test/lib/ufe/CMakeLists.txt
  test/lib/usd/schemas/CMakeLists.txt
  test/lib/usd/utils/CMakeLists.txt
Labels: unit test

#509 [al] Added '.variantFallbacks' attribute
  plugin/al/docs/proxyShape.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/proxy/ProxyShapeVariantFallbacks.cpp
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/nodes/test_VariantFallbacks.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testProxyShape.py
  plugin/al/plugin/AL_USDMayaTestPlugin/test_data/variant_fallbacks.usda
Labels: al, enhancement, proxy

#511 [al] Viewport Framing Fix
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Scope.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Scope.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Transform.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Transform.h
Labels: al, bug, legacy rendering

#513 [al] Support option to write point based extents
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/test_DiffPrimVar.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_NurbsCurveTranslator.cpp
  plugin/al/translators/CommonTranslatorOptions.cpp
  plugin/al/translators/CommonTranslatorOptions.h
  plugin/al/translators/Mesh.cpp
  plugin/al/translators/NurbsCurve.cpp
  plugin/al/translators/tests/testMeshVariants.usda
  plugin/al/translators/tests/testTranslators.py
  plugin/al/usdmayautils/AL/usdmaya/utils/DiffPrimVar.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/DiffPrimVar.h
  plugin/al/usdmayautils/AL/usdmaya/utils/MeshUtils.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/MeshUtils.h
  plugin/al/usdmayautils/AL/usdmaya/utils/NurbsCurveUtils.cpp
  plugin/al/usdmayautils/AL/usdmaya/utils/NurbsCurveUtils.h
Labels: al, enhancement, import-export

#514 Fixing the crash when loading USDSkel
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#518 Add OSMac_ definition to UFE_PYTHON_TARGET_NAME target.
  lib/mayaUsd/ufe/CMakeLists.txt
Labels: build

#515 Improved mayaUsd_copyDirectory routine to allow more control over copying dir/files.
  cmake/utils.cmake
  test/lib/ufe/CMakeLists.txt
Labels: unit test

#508 Add override flag for setting WORKING_DIRECTORY
  cmake/test.cmake
  test/lib/ufe/CMakeLists.txt
Labels: unit test

#510 [al] Handle anonymous layer in ProxyShape
  plugin/al/docs/layers.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testProxyShape.py
Labels: al, enhancement, proxy

#521 MAYA-104946 new add ref's menu should only be on prims, not proxy shape
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: bug

#527 MAYA-104964 Registering loaded/unloaded callbacks with the plugin.
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/mayaUsd_pluginBatchLoad.mel
  plugin/adsk/scripts/mayaUsd_pluginBatchUnload.mel
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
  plugin/adsk/scripts/mayaUsd_pluginUIDeletion.mel
Labels: adsk, enhancement

#524 Selection highlight disappears when switching variant
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#519 Use separate UsdStageCache's for stages that loadAll or loadNone.
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/stageData.h
  lib/mayaUsd/nodes/stageNode.cpp
  lib/mayaUsd/python/wrapStageCache.cpp
  lib/mayaUsd/utils/stageCache.cpp
  lib/mayaUsd/utils/stageCache.h
  plugin/pxr/maya/lib/usdMaya/referenceAssembly.cpp
  plugin/pxr/maya/lib/usdMaya/translatorModelAssembly.cpp
  test/lib/testMayaUsdPythonImport.py
Labels: proxy, workflows

#517 Set the render tags on our dummy render task correctly.
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: adsk, proxy, vp2renderdelegate

#436 Enable consolidation for instanced render items
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#468 Opt in to diffuse color multidraw consolidation
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
Labels: vp2renderdelegate

#421 PR II: Pixar Mesh write translator/utilities refactoring
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.h
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapMeshWriteUtils.cpp
  lib/usd/translators/meshReader.cpp
  lib/usd/translators/meshWriter.cpp
Labels: core, import-export

#422 PART III: Pixar Mesh write translator/utilities refactoring
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  lib/mayaUsd/fileio/translators/translatorMesh.h
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.h
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.h
  lib/mayaUsd/python/wrapMeshWriteUtils.cpp
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter.h
Labels: core, import-export

#423 PART IV: Pixar Mesh write translator/utilities refactoring
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.h
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter.h
  lib/usd/translators/meshWriter_Subdiv.cpp
Labels: core, import-export

#424 PART V: Pixar Mesh write translator/utilities refactoring
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.h
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/usd/translators/meshWriter.cpp
Labels: core, import-export

#426 PART VII: Pixar Mesh write translator/utilities refactoring
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/jointWriteUtils.cpp
  lib/mayaUsd/fileio/utils/jointWriteUtils.h
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/jointWriter.cpp
  lib/usd/translators/jointWriter.h
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter.h
Labels: core, import-export
