Repository Autodesk/maya-usd, pull requests merged in 2020-07, with the labels that each got.

#420 Pixar Mesh write translator/utilities refactoring
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primWriter.cpp
  lib/mayaUsd/fileio/primWriter.h
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  lib/mayaUsd/fileio/translators/translatorMesh.h
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/jointWriteUtils.cpp
  lib/mayaUsd/fileio/utils/jointWriteUtils.h
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.h
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.h
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/mayaUsd/fileio/writeJobContext.cpp
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapMeshWriteUtils.cpp
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/cameraWriter.cpp
  lib/usd/translators/instancerWriter.cpp
  lib/usd/translators/jointWriter.cpp
  lib/usd/translators/jointWriter.h
  lib/usd/translators/meshReader.cpp
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter.h
  lib/usd/translators/meshWriter_Primvars.cpp
  lib/usd/translators/meshWriter_Subdiv.cpp
  lib/usd/translators/nurbsCurveWriter.cpp
  lib/usd/translators/nurbsSurfaceWriter.cpp
  lib/usd/translators/particleWriter.cpp
  plugin/pxr/maya/lib/usdMaya/__init__.py
Labels: core, import-export

#543 Remove the call to the old multidraw API, and use the new xml based
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2ShaderFragments/FallbackShader.xml
Labels: vp2renderdelegate

#616 Make sure tests run from build directory and not source.
  test/lib/CMakeLists.txt
  test/lib/usd/schemas/CMakeLists.txt
Labels: unit test

#618 export UV sets as USD Texture Coordinate value types by default
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/fileio/import_instances.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/test_data/sphere.usda
  plugin/al/plugin/AL_USDMayaTestPlugin/test_data/sphere2.usda
  plugin/al/samples/testchar_animallogo01_surfgeo_highres.usd
  plugin/al/translators/pxrUsdTranslators/tests/sphere2.usda
  plugin/al/translators/tests/sphere.usda
  plugin/al/tutorials/tutorialAssets/cube.usda
  plugin/al/tutorials/tutorialAssets/sphere.usda
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDrawLightingTest/PlaneModel.usda
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDrawLightingTest/TorusModel.usda
  plugin/pxr/maya/lib/usdMaya/testenv/UsdExportAssemblyTest/DummyModel.usda
  plugin/pxr/maya/lib/usdMaya/testenv/UsdExportAssemblyTest/XformOpModel.usda
  plugin/pxr/maya/lib/usdMaya/testenv/UsdExportPointInstancerTest/Cone.usda
  plugin/pxr/maya/lib/usdMaya/testenv/UsdMayaAdaptorGeomTest/UsdAttrs.usda
  plugin/pxr/maya/lib/usdMaya/testenv/UsdMayaAdaptorMetadataTest/UsdAttrs.usda
  plugin/pxr/maya/lib/usdMaya/testenv/UsdMayaModelKindProcessorTest/KindTest.usd
  plugin/pxr/maya/lib/usdMaya/testenv/UsdReferenceAssemblyChangeRepresentationsTest/ComplexSet.usda
  test/lib/ufe/test-samples/ballset/StandaloneScene/Ball.maya.usd
  test/lib/ufe/test-samples/cylinder/cylinder.usda
  test/lib/ufe/test-samples/parentCmd/simpleHierarchy.usda
  test/lib/ufe/test-samples/parentCmd/simpleSceneTRS.usda
  test/lib/ufe/test-samples/sphereAnimatedRadius/sphereAnimatedRadius.usda
  test/lib/usd/translators/UsdExportSkeletonTest/baseline/UsdExportSkeletonWithoutBindPose.usda
  test/lib/usd/translators/UsdImportCameraTest/UsdImportCameraTest.usda
  test/lib/usd/translators/UsdImportColorSetsTest/UsdImportColorSetsTest.usda
  test/lib/usd/translators/UsdImportFrameRangeTest/MovingCube.usda
  test/lib/usd/translators/UsdImportMeshTest/Mesh.usda
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
  test/lib/usd/translators/UsdImportSessionLayerTest/Cubes.usda
  test/lib/usd/translators/UsdImportShadingModeDisplayColor/RedCube.usda
  test/lib/usd/translators/UsdImportShadingModePxrRis/MarbleCube.usda
  test/lib/usd/translators/UsdImportUVSetsFloatTest/UsdImportUVSetsTestWithCreases_Float.usda
  test/lib/usd/translators/UsdImportUVSetsFloatTest/UsdImportUVSetsTest_Float.usda
Labels: core, import-export

#619 initialize Maya standalone mode when the testUsdExportRenderLayerMode module is loaded
  test/lib/usd/translators/testUsdExportRenderLayerMode.py
Labels: unit test

#620 Fix the regression for selecting single instance objects.
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate

#622 MAYA-105232 - misc fixes for python3
  build.py
  plugin/al/usdtransaction/CMakeLists.txt
Labels: build

#623 Wait after configuring cache before making changes. Re-enable tests.
  test/lib/testMayaUsdProxyAccessor.py
Labels: proxy, workflows

#625 MAYA-104858: Fix naming of prim at creation not being inlined with naming in Maya
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: ufe-usd, workflows

#626 fix opacity vs. transparency issues with UsdPreviewSurface and pxrUsdPreviewSurface
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurface.xml
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurfaceCore.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceShadingNodeOverride.cpp
Labels: core, import-export, vp2renderdelegate

#628 Fix naming a prim to something that contains an invalid character crashes Maya
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  test/lib/ufe/testRename.py
Labels: ufe-usd, workflows

#629 MAYA-105538 adjust button width
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: import-export

#627 MAYA-104876: Fix renaming a prim to something already existing crashes maya.
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  test/lib/ufe/testRename.py
Labels: ufe-usd, workflows

#633 MAYA-104226 update group cmd test
  test/lib/ufe/testGroupCmd.py
Labels: ufe, ufe-usd, unit test

#638 Minor update to doc regarding pip install
  doc/build.md
Labels: documentation

#634 Add menu in Hierarchy View to reset the model and variant selections
  lib/usd/ui/TreeModel.cpp
  lib/usd/ui/TreeModel.h
  lib/usd/ui/USDImportDialog.cpp
  lib/usd/ui/USDImportDialog.h
  lib/usd/ui/USDImportDialog.ui
Labels: import-export

#636 fix for exporting mesh crease sharpnesses following PR #420
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  test/lib/usd/translators/UsdExportMeshTest/UsdExportMeshTest.ma
  test/lib/usd/translators/testUsdExportMesh.py
Labels: import-export

#639 Revise some of the renaming restrictions rules
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/usd/utils/ForwardDeclares.h
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/test-samples/appleBite/appleBite.ma
  test/lib/ufe/test-samples/appleBite/asset_flattened_instancing_and_class_removed.usda
  test/lib/ufe/testRename.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: ufe-usd, workflows

#642 Move nameToDagPath routine out of ufe/Utils.h
  lib/mayaUsd/ufe/UsdStageMap.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
Labels: core

#644 fix includes of private api.h header files in pxr plugins
  plugin/pxr/maya/plugin/pxrUsd/plugin.cpp
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/plugin.cpp
Labels: pxr

#631 MAYA-105621 - MayaUSD: install USD from artifact beside plugin
  CMakeLists.txt
  cmake/test.cmake
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
Labels: build

#641 Selection by kind
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate

#615 [mtoh] Add playblasting support.
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
Labels: mtoh

#637 Use proper boost target name
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
Labels: al, build

#652 Convenience function for printing the list of queried composition arcs in order
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
Labels: ufe-usd

#659 MAYA-104778: Handle two more illegal cases:
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  test/lib/ufe/testRename.py
Labels: ufe-usd, workflows

#660 Fix anonymous layer default name
  lib/mayaUsd/nodes/proxyShapeBase.cpp
Labels: ufe-usd, workflows

#649 [mtoh] Remove explicit call to HdChangeTracker::RprimInserted.
  lib/usd/hdMaya/adapters/meshAdapter.cpp
  lib/usd/hdMaya/adapters/nurbsCurveAdapter.cpp
  lib/usd/hdMaya/delegates/delegateCtx.cpp
  lib/usd/hdMaya/delegates/delegateCtx.h
Labels: mtoh

#657 MAYA-99006 Filter out objects to export by hierarchy.
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  plugin/adsk/plugin/exportTranslator.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportSelectionHierarchy/UsdExportSelectionHierarchy.ma
  test/lib/usd/translators/testUsdExportSelectionHierarchy.py
Labels: import-export

#664 Remove testUsdMayaAppDir
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
  plugin/pxr/maya/lib/usdMaya/testenv/UsdMayaAppDirTest/maya_profile/scripts/userSetup.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdMayaAppDir.py
Labels: unit test

#653 Minor cmake clean up pxr plugin
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
Labels: build

#663 MAYA-104858: fix regression after UsdUndoAddNewPrimCommand was introduced.
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  test/lib/ufe/testGroupCmd.py
Labels: ufe-usd

#655 Clean up cmake variable names according to guidelines
  cmake/compiler_config.cmake
  cmake/modules/FindMaya.cmake
  cmake/test.cmake
  cmake/utils.cmake
  lib/mayaUsd/base/CMakeLists.txt
  lib/mayaUsd/commands/CMakeLists.txt
  lib/mayaUsd/fileio/CMakeLists.txt
  lib/mayaUsd/fileio/chaser/CMakeLists.txt
  lib/mayaUsd/fileio/jobs/CMakeLists.txt
  lib/mayaUsd/fileio/shading/CMakeLists.txt
  lib/mayaUsd/fileio/translators/CMakeLists.txt
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/listeners/CMakeLists.txt
  lib/mayaUsd/nodes/CMakeLists.txt
  lib/mayaUsd/render/px_vp20/CMakeLists.txt
  lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/utils/CMakeLists.txt
  lib/usd/CMakeLists.txt
  lib/usd/hdMaya/CMakeLists.txt
  lib/usd/hdMaya/adapters/CMakeLists.txt
  lib/usd/hdMaya/delegates/CMakeLists.txt
  lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  lib/usd/schemas/CMakeLists.txt
  lib/usd/translators/CMakeLists.txt
  lib/usd/ui/CMakeLists.txt
  lib/usd/utils/CMakeLists.txt
  test/lib/CMakeLists.txt
  test/lib/ufe/CMakeLists.txt
  test/lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  test/lib/usd/schemas/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
Labels: build

#669 Create a utility function for applying restrict command rules.
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/mayaUsd/ufe/private/Utils.h
Labels: ufe-usd, workflows

#668 Create a function template for sending ufe notification.
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
Labels: ufe-usd, workflows

#621 MAYA-102319 Basic useRegistry import support
  lib/mayaUsd/fileio/CMakeLists.txt
  lib/mayaUsd/fileio/primReaderArgs.cpp
  lib/mayaUsd/fileio/primReaderArgs.h
  lib/mayaUsd/fileio/primWriterContext.h
  lib/mayaUsd/fileio/shaderReader.cpp
  lib/mayaUsd/fileio/shaderReader.h
  lib/mayaUsd/fileio/shaderReaderRegistry.cpp
  lib/mayaUsd/fileio/shaderReaderRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeImporter.cpp
  lib/mayaUsd/fileio/shading/shadingModeImporter.h
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.h
  lib/mayaUsd/fileio/translators/translatorNurbsPatch.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  lib/usd/pxrUsdPreviewSurface/overview.dox
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfacePlugin.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/materialReader.cpp
  lib/usd/translators/materialWriter.cpp
  lib/usd/translators/meshReader.cpp
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/usdBlinnWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdLambertWriter.cpp
  lib/usd/translators/shading/usdLambertWriter.h
  lib/usd/translators/shading/usdMaterialWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.h
  lib/usd/translators/shading/usdPhongEWriter.cpp
  lib/usd/translators/shading/usdPhongWriter.cpp
  lib/usd/translators/shading/usdReflectWriter.cpp
  lib/usd/translators/shading/usdReflectWriter.h
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportImportRoundtripPreviewSurface/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export

#683 Bump version to the next one
  cmake/mayausd_version.info
Labels: build

#648 [mtoh] Move some Storm only task/params into the Storm block.
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
Labels: mtoh

#650 [mtoh] Fix stage-repopulation.
  lib/usd/hdMaya/adapters/proxyAdapter.cpp
Labels: mtoh

#670 Remove unused python modules from tests.
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testGroupCmd.py
Labels: unit test

#680 Fix the wrong queried value for nodeLayerStack entry.
  lib/usd/utils/util.cpp
Labels: ufe-usd, workflows

#677 MAYA-104839 - Prim specs disappear from Outliner after rename
  lib/mayaUsd/ufe/StagesSubject.cpp
  test/lib/ufe/testRename.py
Labels: ufe-usd, workflows

#681 MAYA-105608 Non-UFE selection code path couldn't work with instances
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: bug, vp2renderdelegate

#646 [mtoh] Draw all the things that mtoh will not in the post-render pass.
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverrideUtils.h
  lib/mayaUsd/render/mayaToHydra/tokens.h
  lib/mayaUsd/render/mayaToHydra/utils.cpp
Labels: mtoh

#673 Apply Restriction Rules for Parenting
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  test/lib/ufe/test-samples/groupBalls/ballset.ma
  test/lib/ufe/test-samples/groupBalls/ballset.usda
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: ufe-usd, workflows

#617 Updates to support core USD release 20.08
  doc/build.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.cpp
  test/lib/usd/translators/testUsdExportAsClip.py
Labels: al

#685 MAYA-105735 Clean up empty map1 texcoord
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.h
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/usd/translators/meshWriter.cpp
  test/lib/usd/translators/testUsdImportUVSets.py
Labels: import-export

#665 Added implementation for new UFE unparent interface (MAYA-105276)
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/Global.h
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge

#689 MAYA-105442 - Add reference is not updated in the Outliner
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/private/UfeNotifGuard.h
Labels: bug, ready-for-merge, requires maya

#688 Cleaning up the status report when building USD with Python 3
  CMakeLists.txt
  build.py
Labels: build, ready-for-merge

#687 MAYA-105977: Update restriction error reports based on latest design.
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
Labels: ready-for-merge, ufe-usd, workflows
