Repository Autodesk/maya-usd, pull requests merged in 2020-11, with the labels that each got.

#882 MAYA-107785 Prepare CPV buffer if requested by USD material.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#881 fix call to non-existent function in pxrUsd plugin's usdTranslatorImport
  plugin/pxr/maya/lib/usdMaya/usdTranslatorImport.mel
Labels: pxr, ready-for-merge, regression

#793 Make WANT_UFE_BUILD def public.
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/usd/hdMaya/CMakeLists.txt
  plugin/adsk/plugin/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
Labels: build, ready-for-merge

#872 Tremblp/maya 106087/maya xform stack 01
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.h
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.h
  lib/mayaUsd/ufe/private/CMakeLists.txt
  lib/mayaUsd/ufe/private/UfeNotifGuard.cpp
  lib/mayaUsd/ufe/private/UfeNotifGuard.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/ufe/testComboCmd.py
Labels: ufe-usd, workflows

#876 MAYA-106486 Handle UV linkage on material export
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.h
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/mayaUsd/python/wrapReadUtil.cpp
  lib/mayaUsd/python/wrapWriteUtil.cpp
  lib/mayaUsd/render/mayaToHydra/shadingModeExporter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportUVSetMappingsTest/UsdExportUVSetMappingsTest.ma
  test/lib/usd/translators/UsdExportUVSetMappingsTest/blue.png
  test/lib/usd/translators/UsdExportUVSetMappingsTest/green.png
  test/lib/usd/translators/UsdExportUVSetMappingsTest/red.png
  test/lib/usd/translators/testUsdExportUVSetMappings.py
  test/lib/usd/translators/testUsdExportUVSets.py
  test/lib/usd/translators/testUsdImportUVSets.py
Labels: import-export, ready-for-merge

#883 MAYA-106486 UDIM Import/Export
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportImportUDIMTest/UdimTest_1001_color.png
  test/lib/usd/translators/UsdExportImportUDIMTest/UdimTest_1002_color.png
  test/lib/usd/translators/UsdExportImportUDIMTest/UdimTest_1003_color.png
  test/lib/usd/translators/UsdExportImportUDIMTest/UsdExportUDIMTest.ma
  test/lib/usd/translators/UsdExportImportUDIMTest/UsdImportUDIMTest.usda
  test/lib/usd/translators/testUsdExportImportUDIM.py
Labels: import-export, ready-for-merge

#880 MAYA-107246 - USD: outliner does not update when duplicating items
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
Labels: bug

#885 Enable initialization order warning on Windows.
  cmake/compiler_config.cmake
Labels: build

#892 MAYA-106486 Fix map1 import
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  test/lib/usd/translators/UsdImportUVSetsFloatTest/UsdImportUVSetsTest_Float.usda
  test/lib/usd/translators/UsdImportUVSetsTest/UsdImportUVSetsTest.usda
  test/lib/usd/translators/testUsdImportUVSets.py
Labels: import-export, ready-for-merge, regression

#891 MAYA-106486 Fix self-specialization bug with textureless materials
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  test/lib/usd/translators/UsdExportUVSetMappingsTest/UsdExportUVSetMappingsTest.ma
  test/lib/usd/translators/testUsdExportUVSetMappings.py
Labels: import-export, ready-for-merge, regression

#889 updates for building with latest post-20.11 dev branch of core USD
  doc/build.md
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/instancer.cpp
  lib/mayaUsd/render/vp2RenderDelegate/instancer.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.h
  lib/usd/hdMaya/adapters/aiSkydomeLightAdapter.cpp
  lib/usd/hdMaya/adapters/pointLightAdapter.cpp
  lib/usd/hdMaya/adapters/spotLightAdapter.cpp
  lib/usd/hdMaya/delegates/delegateCtx.cpp
  lib/usd/hdMaya/delegates/delegateDebugCodes.cpp
  lib/usd/hdMaya/delegates/delegateDebugCodes.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
  test/lib/usd/pxrUsdPreviewSurface/testPxrUsdPreviewSurfaceExport.py
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
Labels: build, ready-for-merge

#895 Add blame ignore file with clang-format commit sha
  .git-blame-ignore-revs
Labels: build

#903 MAYA-106797 Fix transparency issues for pxrUsdPreviewSurface shader node
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurface.xml
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurfaceCore.xml
  lib/mayaUsd/render/vp2ShaderFragments/opacityToTransparency.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceShadingNodeOverride.cpp
Labels: bug, import-export, pxr, ready-for-merge

#907 Allow usdPreviewSurface to exist without input connections
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
Labels: bug, ready-for-merge

#908 Organize Gitignore, and add more editor,platform and build specific patterns
  .gitignore
Labels: build

#912 Add support for Boost_NO_BOOST_CMAKE=ON for Boost::python
  plugin/al/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/usdmayautils/AL/usdmaya/utils/CMakeLists.txt
Labels: build, ready-for-merge

#905 MAYA-103547 Use the common utility function to check error conditions
  lib/mayaUsd/ufe/UsdSceneItemOps.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.h
  test/lib/ufe/testDuplicateCmd.py
Labels: ready-for-merge, ufe-usd, workflows

#918 Apply clang-format two more times to make sure we have everything formatted
  lib/mayaUsd/ufe/UsdAttributes.cpp
  plugin/al/mayautils/AL/maya/event/MayaEventManager.cpp
  plugin/al/mayautils/AL/maya/event/MayaEventManager.h
  plugin/al/mayautils/AL/maya/utils/FileTranslatorOptions.cpp
Labels: build

#913 Add FPS metadata to exported usd files if non static
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportLayerAttributes.py
Labels: import-export, ready-for-merge

#921 MAYA-107600 - UFE/MEL - make select command UFE aware
  test/lib/ufe/testSelection.py
Labels: ready-for-merge, requires maya, unit test

#917 Add opacity threshold to USD Preview Surface Shader
  lib/usd/pxrUsdPreviewSurface/AEusdPreviewSurfaceTemplate.mel
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, ready-for-merge

#925 Fowlert/maya 106722/adding tests
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testGroupCmd.py
  test/testSamples/groupCmd/sphere.usda
  test/testSamples/groupCmd/torus.usda
Labels: ready-for-merge, unit test, workflows

#927 USD method GetSchemaTypeName() was added in v20.05
  lib/mayaUsd/ufe/UsdSceneItem.cpp
Labels: build, ready-for-merge

#922 MAYA-107239 - Proxy Shape AE template cleanup
  plugin/adsk/scripts/AEmayaUsdProxyShapeTemplate.mel
Labels: adsk, proxy, ready-for-merge

#899 Restore session layer properly or create one when root-layer is not editable.
  lib/mayaUsd/base/CMakeLists.txt
  lib/mayaUsd/base/tokens.cpp
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/stageNode.cpp
Labels: proxy, ready-for-merge, workflows

#914 Fixes for out of bound errors causing segfaults
  lib/usd/translators/jointWriter.cpp
  test/lib/usd/translators/UsdExportSkeletonTest/UsdExportSkeletonSegfaultTest.ma
  test/lib/usd/translators/testUsdExportSkeleton.py
Labels: import-export, ready-for-merge

#929 updates for building with latest post-20.11 dev branch of core USD
  doc/build.md
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/usd/hdMaya/utils.cpp
Labels: build, ready-for-merge

#926 Allow recursive compute with proxy accessor
  lib/mayaUsd/base/CMakeLists.txt
  lib/mayaUsd/base/id.h
  lib/mayaUsd/base/syncId.h
  lib/mayaUsd/nodes/proxyAccessor.cpp
  lib/mayaUsd/nodes/proxyAccessor.h
  lib/mayaUsd/nodes/proxyAccessor.py
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyStageProvider.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdProxyAccessor.py
Labels: proxy, ready-for-merge, workflows

#930 Fixed current compiler warnings
  cmake/compiler_config.cmake
  lib/mayaUsd/commands/baseListShadingModesCommand.cpp
  lib/mayaUsd/fileio/instancedNodeWriter.cpp
  lib/mayaUsd/fileio/registryHelper.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/utils/util.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/utils/util.cpp
Labels: build, ready-for-merge

#935 Remove redundant toMString function and pragma include guard.
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/stageNode.cpp
Labels: proxy, ready-for-merge

#937 Fix missing ARCH_CONSTRUCTOR code with VS2019
  cmake/compiler_config.cmake
Labels: build

#928 MAYA-107484 - Time is not connected when creating a new empty USD stage
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
  plugin/adsk/scripts/mayaUsd_createStageWithNewLayer.py
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdCreateStageCommands.py
Labels: adsk, ready-for-merge

#939 Make the call to register_ using the new handlers struct.
  lib/mayaUsd/ufe/Global.cpp
Labels: ready-for-merge, ufe, ufe-usd

#940 MAYA-105322 - No undo support for viewport selections of USD objects
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/UsdStageMap.cpp
  lib/usd/hdMaya/delegates/proxyDelegate.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeUI.cpp
Labels: legacy rendering, mtoh, ready-for-merge, vp2renderdelegate

#945 Tremblp/maya 106088/arbitrary stack 00
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/RotationUtils.cpp
  lib/mayaUsd/ufe/RotationUtils.h
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.h
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/wrapUtils.cpp
  plugin/adsk/plugin/plugin.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testTransform3dChainOfResponsibility.py
  test/testSamples/xformOpFallback/fallbackTest.ma
  test/testSamples/xformOpFallback/fallbackTest.usda
Labels: ufe, ufe-usd, workflows

#946 Some files got in without clang-format applied
  lib/mayaUsd/commands/baseListShadingModesCommand.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/Global.cpp
Labels: build

#944 Proxy Shape AE Template - Part 2
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/wrapUtils.cpp
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/AEmayaUsdProxyShapeTemplate.mel
  plugin/adsk/scripts/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testAttributes.py
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testMatrices.py
  test/lib/ufe/testMayaPickwalk.py
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testRename.py
  test/lib/ufe/testRotateCmd.py
  test/lib/ufe/testScaleCmd.py
  test/lib/ufe/testSceneItem.py
  test/lib/ufe/testTransform3dTranslate.py
  test/testUtils/mayaUtils.py
Labels: proxy, ready-for-merge, workflows

#942 MAYA-106089: Undo/Redo support for USD data model.
  cmake/compiler_config.cmake
  doc/images/ufe_commands.png
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/base/debugCodes.h
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapUsdUndoManager.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/StagesSubject.h
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.h
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.h
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.h
  lib/mayaUsd/ufe/UsdUndoReorderCommand.cpp
  lib/mayaUsd/ufe/UsdUndoReorderCommand.h
  lib/mayaUsd/undo/CMakeLists.txt
  lib/mayaUsd/undo/README.md
  lib/mayaUsd/undo/UsdUndoBlock.cpp
  lib/mayaUsd/undo/UsdUndoBlock.h
  lib/mayaUsd/undo/UsdUndoManager.cpp
  lib/mayaUsd/undo/UsdUndoManager.h
  lib/mayaUsd/undo/UsdUndoStateDelegate.cpp
  lib/mayaUsd/undo/UsdUndoStateDelegate.h
  lib/mayaUsd/undo/UsdUndoableItem.cpp
  lib/mayaUsd/undo/UsdUndoableItem.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/mayaUsd/CMakeLists.txt
  test/lib/mayaUsd/undo/CMakeLists.txt
  test/lib/mayaUsd/undo/testUsdUndoManager.py
Labels: core, ready-for-merge, workflows
