Repository Autodesk/maya-usd, pull requests merged in 2020-06, with the labels that each got.

#533 MAYA-104481 github actions launcher for branch preflight
  .github/workflows/maya-usd-preflight-launcher.yml
Labels: build

#540 remove hard-coded "pxr" namespace in favor of PXR_NS in baseExportCommand
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
Labels: import-export

#537 MAYA-103697 selection update on new objects
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: bug, vp2renderdelegate

#432 One converter with examples
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapConverter.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/converter.cpp
  lib/mayaUsd/utils/converter.h
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdConverter.py
Labels: core, workflows

#534 Updates to support core USD imaging-related changes in latest dev branch
  doc/build.md
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.cpp
Labels: build

#538 MAYA-101853 Changes necessary for UDIM texture support.
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2ShaderFragments/UsdUVTexture.xml
Labels: vp2renderdelegate

#556 remove unused and irrelevant UsdMayaEditUtil::GetAvarEdits()
  plugin/pxr/maya/lib/usdMaya/editUtil.cpp
  plugin/pxr/maya/lib/usdMaya/editUtil.h
  plugin/pxr/maya/lib/usdMaya/wrapEditUtil.cpp
Labels: pxr

#545 Tremblp/maya 103815/ufe parenting usd 01
  build.py
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  test/lib/ufe/testParentCmd.py
Labels: ufe-usd, workflows

#559 MAYA-104981 Disable all degenerated render items.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
Labels: vp2renderdelegate

#560 add Trace profiling to pxr interactive performance tests
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeDrawPerformance.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeDuplicatePerformance.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeSelectionPerformance.py
Labels: pxr, unit test

#541 expanded the name collision search to choose nonconflciting names for…
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  test/lib/ufe/testDuplicateCmd.py
Labels: ufe-usd

#526 [mtoh] Split pre and post scene passes so camera guides go above Hydra.
  lib/mayaUsd/render/mayaToHydra/renderOverrideUtils.h
Labels: mtoh

#536 MAYA-104776 send a notice that a newly created proxy shape is dirty
  lib/mayaUsd/nodes/proxyShapeBase.cpp
Labels: bug

#567 [mtoh] Fix curve rendering broken in 4f4246a6.
  lib/mayaUsd/render/mayaToHydra/renderOverrideUtils.h
Labels: mtoh

#558 MAYA-104542 Handle rprim purpose changing to a hidden purpose correctly
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate

#570 MAYA-105120 Hide MRenderItems created for instancers with zero instances.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#576 fix unused-function compile error with USD versions earlier than 20.02
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: build, vp2renderdelegate

#575 MAYA-104936 instanceIndices may contain duplicate indices.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate

#577 Pixar batch renderer refactoring and performance improvements
  lib/mayaUsd/render/px_vp20/utils.cpp
  lib/mayaUsd/render/px_vp20/utils.h
  lib/mayaUsd/render/px_vp20/utils_legacy.h
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/pxrUsdMayaGL/hdImagingShapeDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/hdImagingShapeUI.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/instancerImager.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/instancerShapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/instancerShapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyShapeDelegate.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyShapeUI.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/renderParams.h
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.h
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/softSelectHelper.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/softSelectHelper.h
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.h
  lib/mayaUsd/render/pxrUsdMayaGL/userData.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/userData.h
Labels: legacy rendering

#580 Fixed path string test.
  test/lib/ufe/testDeleteCmd.py
Labels: unit test

#581 [mtoh] Remove setting for SetColorQuantizationEnabled still hanging out after 44a03601.
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/mayaUsd/render/mayaToHydra/utils.cpp
Labels: mtoh

#582 [mtoh] Use emplace_back and move std::shared_ptr into _delegates.
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
Labels: mtoh

#586 fix testMayaPickwalk failure in Python 3.
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: unit test

#573 Support Python 3 Compatibility for AL plugin
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/__init__.py
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testTranslators.py
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_PythonBindings.cpp
  plugin/al/translators/tests/testTranslators.py
  plugin/al/translators/tests/translatortestutils.py
  plugin/al/tutorials/endToEndMaya/tutorial_scripts/create_Room_set.py
  plugin/al/usdtransaction/AL/usd/transaction/__init__.py
  plugin/al/usdtransaction/AL/usd/transaction/tests/testTransaction.py
Labels: al, build, unit test

#588 remove the guard around including jinja module.
  CMakeLists.txt
Labels: build

#587 MAYA-105284 Track changes to render tags more carefully to avoid setting the tags
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate

#585 fix up header includes using "./" and "../" and other misc. clean-up
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.h
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/DebugCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/LayerCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/ListTranslators.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/ProxyShapeCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/RendererCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/SyncFileIOGui.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/AnimationTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/ExportTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/ImportTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/DagNodeTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/DgNodeTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/ExtraDataPlugin.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TestExtraDataPlugin.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TransformTranslator.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TranslatorBase.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TranslatorContext.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TranslatorTestType.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/proxy/LockManager.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/proxy/PrimFilter.h
  plugin/al/plugin/AL_USDMayaPlugin/plugin.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/plugin.cpp
  plugin/al/schemas/AL/usd/schemas/maya/FrameRange.cpp
  plugin/al/schemas/AL/usd/schemas/maya/FrameRange.h
  plugin/al/schemas/AL/usd/schemas/maya/ModelAPI.cpp
  plugin/al/schemas/AL/usd/schemas/maya/ModelAPI.h
  plugin/al/schemas/AL/usd/schemas/maya/schema.usda.in
  plugin/al/schemas/AL/usd/schemas/maya/tokens.cpp
  plugin/al/schemas/AL/usd/schemas/maya/tokens.h
  plugin/al/schemas/AL/usd/schemas/maya/wrapFrameRange.cpp
  plugin/al/schemas/AL/usd/schemas/maya/wrapModelAPI.cpp
  plugin/al/schemas/AL/usd/schemas/maya/wrapTokens.cpp
  plugin/al/schemas/AL/usd/schemas/mayatest/ExamplePolyCubeNode.h
  plugin/al/schemas/AL/usd/schemas/mayatest/tokens.h
Labels: build

#555 Support Python3 for Pixar's UsdMaya and unit tests
  build.py
  cmake/modules/FindMaya.cmake
  doc/build.md
  plugin/pxr/cmake/macros/Public.cmake
  plugin/pxr/cmake/macros/compilePython.py
  plugin/pxr/cmake/macros/testWrapper.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeDrawPerformance.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeDuplicatePerformance.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testProxyShapeSelectionPerformance.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testPxrUsdMayaGL.py
  plugin/pxr/maya/lib/usdMaya/AEpxrUsdReferenceAssemblyTemplate.py
  plugin/pxr/maya/lib/usdMaya/__init__.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportAsClip.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportColorSets.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportEulerFilter.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportFilterTypes.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportInstances.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportMesh.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportPackage.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportPointInstancer.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportRfMLight.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportShadingModeDisplayColor.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportShadingModePxrRis.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportSkeleton.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportAsAssemblies.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportCamera.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportColorSets.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportNestedAssemblyAnimation.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportRfMLight.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportSkeleton.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportUVSets.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdImportXforms.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdMayaDiagnosticDelegate.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdMayaXformStack.py
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdReferenceAssemblySelection.py
  plugin/pxr/maya/lib/usdMaya/userExportedAttributesUI.py
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/pxrUsdPreviewSurfaceGenFragments.py
Labels: pxr, unit test

#583 [mtoh] Push WANT_UFE_BUILD definition into target_compile_definitions.
  lib/usd/hdMaya/CMakeLists.txt
Labels: build, mtoh

#572 Demonstrate fix for Maya selection undo / redo.
  test/lib/ufe/testSelection.py
  test/lib/ufe/ufeTestUtils/mayaUtils.py
Labels: ufe-usd, unit test

#600 MAYA-103462 Filter out wheel events on the variant set combo boxes
  lib/usd/ui/ItemDelegate.cpp
  lib/usd/ui/ItemDelegate.h
Labels: import-export

#578 do not hard-code the number of jobs to 1 when running ctest
  build.py
Labels: unit test

#605 Do not install shadingModePxrRis_rfm_map.h header publicly
  lib/mayaUsd/fileio/shading/CMakeLists.txt
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
Labels: build, import-export

#614 Update doc: MayaUSD is no longer at the experimental stage on Catalina.
  doc/build.md
Labels: documentation

#609 add maya.standalone initialize and uninitialize to testPxrUsdPreviewSurfaceExport test
  test/lib/usd/pxrUsdPreviewSurface/testPxrUsdPreviewSurfaceExport.py
Labels: import-export

#602 MAYA-105232 - Fix for finding boost
  lib/mayaUsd/CMakeLists.txt
  plugin/al/CMakeLists.txt
Labels: build

#613 do not bypass the mayaUsdPlugin load in the testUsdImportRfMLight test
  test/lib/usd/translators/testUsdImportRfMLight.py
Labels: unit test
