Repository Autodesk/maya-usd, pull requests merged in 2020-09, with the labels that each got.

#741 migrate testProxyShapeDrawLighting and testProxyShapeDrawPurpose to test/... area
  test/lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/PlaneModel.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/ProxyShapeDrawLightingTest.ma
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/TorusModel.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Directional_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Directional_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Directional_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Directional_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Directional_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Directional_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Directional_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Directional_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Spot_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Spot_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Spot_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/HydraShadows_Spot_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Directional_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Directional_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Directional_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Directional_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Spot_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Spot_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Spot_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/MayaNativeShadows_Spot_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Spot_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Spot_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Spot_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/baseline/Spot_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/ProxyShapeDrawPurposeTest.ma
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/PurposeCubes.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/baseline/ProxyShapeDrawPurposeTest_allTogglesOff.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/baseline/ProxyShapeDrawPurposeTest_allTogglesOn.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/baseline/ProxyShapeDrawPurposeTest_guideToggleOn.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/baseline/ProxyShapeDrawPurposeTest_proxyToggleOn.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/baseline/ProxyShapeDrawPurposeTest_renderToggleOn.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawLighting.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawPurpose.py
Labels: ready-for-merge, unit test

#754 MAYA-106232 Crash with undo redo in USD Layer Editor
  lib/mayaUsd/commands/layerEditorCommand.cpp
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ready-for-merge, workflows

#760 fix incorrect exception handling when setting variants in attribute editor for pxrUsdReferenceAssembly
  plugin/pxr/maya/lib/usdMaya/AEpxrUsdReferenceAssemblyTemplate.py
Labels: pxr

#759 make fixturesUtils.py available to all tests
  cmake/test.cmake
  test/CMakeLists.txt
  test/testUtils/CMakeLists.txt
  test/testUtils/__init__.py
  test/testUtils/fixturesUtils.py
Labels: unit test

#756 migrate remaining relevant pxrUsdTranslators tests to test/lib/usd/translators
  lib/usd/translators/overview.dox
  plugin/pxr/maya/lib/usdMaya/overview.dox
  plugin/pxr/maya/plugin/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsd/overview.dox
  plugin/pxr/maya/plugin/pxrUsdTranslators/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsdTranslators/testenv/testPxrUsdTranslators.py
  plugin/pxr/maya/plugin/pxrUsdTranslators/testenv/testPxrUsdTranslatorsUnloadReload.py
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportMayaInstancerTest/UsdExportMayaInstancerTest.ma
  test/lib/usd/translators/UsdExportStrokeTest/UsdExportStrokeTest.ma
  test/lib/usd/translators/UsdImportExportScopeTest/Scopes.usda
  test/lib/usd/translators/testUsdExportMayaInstancer.py
  test/lib/usd/translators/testUsdExportStroke.py
  test/lib/usd/translators/testUsdImportExportScope.py
Labels: unit test

#762 remove pxr dependencies from pxrUsdMayaGL tests
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawLightingTest/ProxyShapeDrawLightingTest.ma
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPurposeTest/ProxyShapeDrawPurposeTest.ma
  test/lib/mayaUsd/render/pxrUsdMayaGL/PxrUsdMayaGLTest/blank.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/PxrUsdMayaGLTest/plane0.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/PxrUsdMayaGLTest/plane1.usda
  test/lib/mayaUsd/render/pxrUsdMayaGL/testPxrUsdMayaGL.py
Labels: unit test

#765 Use MFnMatrixData when storing/retriving MMatrix from data block
  lib/mayaUsd/utils/converter.cpp
  test/lib/testMayaUsdProxyAccessor.py
Labels: proxy, workflows

#749 MAYA-106528 Add mtoh support for standardSurface
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.h
  lib/usd/hdMaya/adapters/tokens.h
Labels: mtoh

#751 use the un-linearized lambert transparency to author displayOpacity when using displayColors shading mode
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
Labels: import-export, ready-for-merge

#755 Undo support for multiple parented items in outliner
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdContextOps.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdRotatePivotTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotatePivotTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdRotateUndoableCommand.h
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdScaleUndoableCommand.h
  lib/mayaUsd/ufe/UsdSceneItemOps.cpp
  lib/mayaUsd/ufe/UsdSceneItemOps.h
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.cpp
  lib/mayaUsd/ufe/UsdTRSUndoableCommandBase.h
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdTranslateUndoableCommand.h
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testObservableScene.py
  test/lib/ufe/testRename.py
Labels: ready-for-merge, ufe, workflows

#721 MAYA-104985 Allow multiple export converters to co-exist in useRegistry export
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/commands/baseListShadingModesCommand.cpp
  lib/mayaUsd/fileio/CMakeLists.txt
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/registryHelper.h
  lib/mayaUsd/fileio/shaderWriter.h
  lib/mayaUsd/fileio/shaderWriterRegistry.cpp
  lib/mayaUsd/fileio/shaderWriterRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.h
  lib/mayaUsd/render/mayaToHydra/shadingModeExporter.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.h
  lib/usd/translators/shading/usdBlinnWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdLambertWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.h
  lib/usd/translators/shading/usdPhongEWriter.cpp
  lib/usd/translators/shading/usdPhongWriter.cpp
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/pxr/doc/README.md
  test/lib/usd/CMakeLists.txt
  test/lib/usd/plugin/CMakeLists.txt
  test/lib/usd/plugin/mayaGenericWriter.cpp
  test/lib/usd/plugin/plugInfo.json
  test/lib/usd/plugin/plugin.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportCustomConverterTest/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/UsdExportCustomConverterTest/testScene.ma
  test/lib/usd/translators/testUsdExportCustomConverter.py
  test/lib/usd/translators/testUsdMayaListShadingModesCommand.py
Labels: import-export, ready-for-merge

#768 Fix build script with python 3 where each line starting with 'b and ends with \n' making it hard to read the log.
  build.py
Labels: build, ready-for-merge

#764 remove test dependencies on Python future past, and builtin.zip
  doc/build.md
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_PythonBindings.cpp
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdMayaXformStack.py
  test/lib/usd/translators/testUsdExportEulerFilter.py
  test/lib/usd/translators/testUsdExportFilterTypes.py
  test/lib/usd/translators/testUsdImportCamera.py
  test/lib/usd/translators/testUsdImportXforms.py
Labels: ready-for-merge, unit test

#744 MAYA-106222 Rename pxrUsdPreviewSurface to usdPreviewSurface
  lib/usd/hdMaya/adapters/materialAdapter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/hdMaya/adapters/tokens.h
  lib/usd/pxrUsdPreviewSurface/AEusdPreviewSurfaceTemplate.mel
  lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  lib/usd/pxrUsdPreviewSurface/overview.dox
  lib/usd/pxrUsdPreviewSurface/plugInfo.json
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfacePlugin.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfacePlugin.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/plugin.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdImportPreviewSurface.py
Labels: adsk, import-export, mtoh, pxr, ready-for-merge, vp2renderdelegate

#772 MAYA-106376: fix undo/redo re-parenting crash due to accessing a stale prim.
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
Labels: ready-for-merge, ufe-usd, workflows

#763 Add test for setting rotate pivot through move command.
  cmake/test.cmake
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testRotatePivot.py
Labels: ready-for-merge, unit test

#773 MAYA-106188 - As a user, I would like to activate and deactivate prims
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/ProxyShapeHierarchyHandler.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchyHandler.h
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchyHandler.cpp
  lib/mayaUsd/ufe/UsdHierarchyHandler.h
  lib/mayaUsd/ufe/UsdSceneItemOps.cpp
  lib/mayaUsd/ufe/UsdUIInfoHandler.cpp
  lib/mayaUsd/ufe/UsdUIInfoHandler.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testChildFilter.py
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testUIInfoHandler.py
Labels: ready-for-merge, requires maya, ufe-usd

#774 [plugin/al] remove call to UsdImagingGLEngine::InvalidateBuffers()
  doc/build.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
Labels: build

#788 Added changelog for v0.4.0
  doc/CHANGELOG.md
Labels: documentation

#789 Bump version to 0.5.0
  cmake/mayausd_version.info
Labels: build

#778 MAYA-106222 - Fix registry errors for preview surface readers and wri…
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfacePlugin.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfacePlugin.h
  plugin/adsk/plugin/plugin.cpp
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/plugin.cpp
Labels: import-export, ready-for-merge

#779 use fixturesUtils for pxrUsdMayaGL tests
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawAndTransform.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawColorAccuracy.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawColors.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawLighting.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawPerformance.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawPurpose.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawTimeSampled.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawUsdChangeProcessing.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawVisibility.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDuplicatePerformance.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeLiveSurface.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeRendererSceneMessages.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeSelectionPerformance.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testPxrUsdMayaGL.py
  test/testUtils/fixturesUtils.py
Labels: ready-for-merge, unit test

#780 [CMake] Use PROJECT_SOURCE_DIR for nested projects.
  plugin/adsk/scripts/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsdPreviewSurface/CMakeLists.txt
Labels: build, ready-for-merge

#790 add missing "import sys" to testPxrUsdPreviewSurfaceDraw test
  test/lib/usd/pxrUsdPreviewSurface/testPxrUsdPreviewSurfaceDraw.py
Labels: unit test

#783 Fix Python 3 warnings
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdMayaDiagnosticDelegate.py
  test/lib/usd/translators/testUsdExportStripNamespaces.py
Labels: pxr, ready-for-merge, unit test

#786 MAYA-105175: Rewrote the rename restriction algorithm from scratch to cover more edge cases.
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/testRename.py
Labels: ready-for-merge, ufe-usd, workflows

#775 more updates from recent Hydra changes
  doc/build.md
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: build, ready-for-merge

#787 extract RenderMan for Maya shading export from "pxrRis" shadingMode for use with "useRegistry"
  CMakeLists.txt
  doc/build.md
  lib/mayaUsd/fileio/shading/CMakeLists.txt
  lib/mayaUsd/fileio/shading/rfmShaderMap.h
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.h
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/shading/shadingModePxrRis_rfm_map.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.h
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/rfmShaderTranslation.cpp
  lib/usd/translators/shading/symmetricShaderWriter.cpp
  lib/usd/translators/shading/symmetricShaderWriter.h
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportRfMShadersTest/MarbleCube.ma
  test/lib/usd/translators/testUsdExportRfMShaders.py
Labels: import-export, ready-for-merge

#799 extract RenderMan for Maya shading import from "pxrRis" shadingMode for use with "useRegistry"
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/rfmShaderTranslation.cpp
  lib/usd/translators/shading/symmetricShaderReader.cpp
  lib/usd/translators/shading/symmetricShaderReader.h
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportRfMShadersTest/MarbleCube.usda
  test/lib/usd/translators/testUsdImportRfMShaders.py
Labels: import-export, ready-for-merge

#777 delete testing UI and resource handles in live surface and selection performance tests
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeLiveSurface.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeSelectionPerformance.py
Labels: ready-for-merge, unit test

#804 ensure UsdShadeMaterialBindingAPI schema is applied when authoring bindings during export
  lib/mayaUsd/fileio/shading/shadingModeExporter.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  plugin/al/tutorials/endToEndMaya/assets/Ball/Ball.maya.usd
  plugin/al/tutorials/endToEndMaya/assets/Table/Table.maya.usd
  test/lib/ufe/test-samples/parentCmd/simpleHierarchy.usda
  test/lib/ufe/test-samples/parentCmd/simpleSceneTRS.usda
  test/lib/ufe/test-samples/sphereAnimatedRadius/sphereAnimatedRadius.usda
  test/lib/usd/translators/UsdImportPreviewSurface/props/billboards/billboards.usda
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
  test/lib/usd/translators/UsdImportRfMShadersTest/MarbleCube.usda
  test/lib/usd/translators/UsdImportShadingModeDisplayColor/RedCube.usda
  test/lib/usd/translators/UsdImportShadingModePxrRis/MarbleCube.usda
  test/lib/usd/translators/testUsdExportRfMShaders.py
Labels: import-export, ready-for-merge

#776 MAYA-106477 selection and point snapping support for mtoh
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/usd/hdMaya/adapters/proxyAdapter.h
  lib/usd/hdMaya/delegates/delegate.h
  lib/usd/hdMaya/delegates/proxyDelegate.cpp
  lib/usd/hdMaya/delegates/proxyDelegate.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
Labels: mtoh, ready-for-merge

#806 fix Python version handling for interactive tests
  cmake/modules/FindMaya.cmake
  cmake/test.cmake
Labels: unit test
