Repository Autodesk/maya-usd, pull requests merged in 2021-03, with the labels that each got.

#1224 adapt tests to UsdShade GetInputs() and GetOutputs() API update with USD 21.05
  doc/build.md
  test/lib/usd/translators/testUsdExportRfMShaders.py
  test/lib/usd/translators/testUsdExportShadingModePxrRis.py
Labels: build, ready-for-merge, unit test

#1223 MAYA-110155: consistent namespace across the project - Part 1
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
Labels: build, ready-for-merge

#1225 Fix Maya 2018 compilation
  lib/usd/translators/jointWriter.cpp
Labels: build, ready-for-merge

#1229 identify clang-format version 10.0.0 as the "standard" version for the project
  doc/codingGuidelines.md
Labels: documentation, ready-for-merge

#1226 Separate callbacks for Save and Export
  lib/mayaUsd/nodes/layerManager.cpp
Labels: workflows

#1232 Revert pxrUsdMayaGL tests to old color management
  test/lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
Labels: legacy rendering, ready-for-merge, unit test

#1120 Adding tools to help with clang-format to repo
  .github/run-clang-format.py
  .pre-commit-config.yaml
Labels: ready-for-merge

#1218 MAYA-107424 - On stage AE template load/reload a file as stage source
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
Labels: adsk, enhancement, ready-for-merge

#1219 MAYA-106484 add support for 16-bits textures in VP2 renderer delegate.
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, vp2renderdelegate

#1227 MAYA-108709 undoable command base class.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdUndoableCommand.h
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge, ufe-usd

#1228 MAYA-110196 - Multiple ProxyShapes with Same Stage (InStageData) Bug
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  lib/usd/ui/layerEditor/mayaSessionState.h
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/sessionState.cpp
  lib/usd/ui/layerEditor/sessionState.h
  lib/usd/ui/layerEditor/stageSelectorWidget.cpp
  lib/usd/ui/layerEditor/stageSelectorWidget.h
Labels: ready-for-merge

#1233 MAYA-108770 - When an Xformable is added to a USD Prim, the Attribute…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: core, ready-for-merge

#1213 Fix crash on failure to initialize a renderer, and only try once.
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
Labels: mtoh, ready-for-merge

#1234 MAYA-109969 - No warning icon in USD Save Overwrite section.
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/warningDialogs.cpp
  lib/usd/ui/layerEditor/warningDialogs.h
Labels: ready-for-merge, workflows

#1237 move import of ufeSelectCmd inside selectPath() function in ufeUtils
  test/testUtils/ufeUtils.py
Labels: ready-for-merge, unit test

#1240 Remove use of unnecessary pxr namespace
  lib/usd/ui/layerEditor/mayaSessionState.cpp
Labels: build, ready-for-merge

#1242 MAYA-107380 - On the stage AE template I'd like to load/unload all payloads
  plugin/adsk/plugin/CMakeLists.txt
  plugin/adsk/plugin/adskStageLoadUnloadCommands.cpp
  plugin/adsk/plugin/adskStageLoadUnloadCommands.h
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
Labels: adsk, bug, ready-for-merge

#1246 missing header guards!!
  lib/mayaUsd/commands/editTargetCommand.h
  lib/mayaUsd/commands/layerEditorCommand.h
Labels: build, ready-for-merge

#1243 Remove/replace all UFE_PREVIEW_VERSION_NUM
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdObject3d.cpp
  lib/mayaUsd/ufe/UsdObject3d.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testMayaPickwalk.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testRotatePivot.py
  test/lib/ufe/testSelection.py
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, ufe

#1239 Added namespace section to coding guidelines.
  doc/codingGuidelines.md
Labels: ready-for-merge

#1189 MAYA-107276 - As a user, on the stage AE template I'd like to use Pri…
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/usdProxyShapeAdapter.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/pxr/maya/lib/usdMaya/proxyShape.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/Cube1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/Cube1_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/Cube2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/Cube2_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/Cube3.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/Cube3_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/final.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/initial.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePrimPath.py
  test/testSamples/primPath/primPath.ma
  test/testSamples/primPath/primPath.usda
  test/testUtils/mayaUtils.py
Labels: proxy, ready-for-merge

#1179 Support duplicate blendshape target names
  lib/mayaUsd/fileio/writeJobContext.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter.h
  lib/usd/translators/meshWriter_BlendShapes.cpp
  test/lib/usd/translators/UsdExportBlendShapesTest/blendShapesExport.ma
  test/lib/usd/translators/testUsdExportBlendshapes.py
Labels: import-export

#1241 add support for manipulating point instances via UFE
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdPointInstanceModifierBase.h
  lib/mayaUsd/ufe/UsdPointInstanceOrientationModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstanceOrientationModifier.h
  lib/mayaUsd/ufe/UsdPointInstancePositionModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstancePositionModifier.h
  lib/mayaUsd/ufe/UsdPointInstanceScaleModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstanceScaleModifier.h
  lib/mayaUsd/ufe/UsdPointInstanceUndoableCommands.h
  lib/mayaUsd/ufe/UsdTransform3dHandler.cpp
  lib/mayaUsd/ufe/UsdTransform3dPointInstance.cpp
  lib/mayaUsd/ufe/UsdTransform3dPointInstance.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/ufe/testPointInstances.py
Labels: adsk, enhancement, ready-for-merge, ufe, ufe-usd

#1248 MAYA-106484 add single-channel half-float EXR support.
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, vp2renderdelegate

#1220 Add per instance inherited data support to Vp2RenderDelegate.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/primvarInfo.h
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/basisCurveInstance_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/basisCurveInstance_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/inheritedDisplayColor_noPxrMtls_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/inheritedDisplayColor_pxrSurface_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
  test/testSamples/instances/ball.usda
  test/testSamples/instances/basisCurveInstance.usda
  test/testSamples/instances/inheritedDisplayColor_noPxrMtls.usda
  test/testSamples/instances/inheritedDisplayColor_pxrSurface.usda
  test/testSamples/instances/perInstanceInheritedData.usda
Labels: ready-for-merge, vp2renderdelegate

#1250 Adding support for indexed normals on import #1029
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  test/lib/usd/translators/UsdImportMeshTest/Mesh.usda
  test/lib/usd/translators/testUsdImportMesh.py
Labels: import-export, ready-for-merge

#1151 Support import of textures from USDZ archives to disk
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/usd/translators/shading/usdUVTextureReader.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/pxr/doc/README.md
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportUSDZTexturesTest/test_cubes.usdz
  test/lib/usd/translators/testUsdImportUSDZTextures.py
Labels: import-export

#1195 [mtoh] if using the VP2 MPxSubSceneOverride, don't update if we're also using mtoh
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  lib/mayaUsd/render/mayaToHydra/utils.cpp
  lib/mayaUsd/render/mayaToHydra/utils.h
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: legacy rendering, vp2renderdelegate

#1252 MAYA-110332 Add a camera test which relies on unimplemented methods.
  lib/mayaUsd/ufe/UsdTransform3dSetObjectMatrix.cpp
  lib/mayaUsd/ufe/XformOpUtils.cpp
  lib/mayaUsd/ufe/XformOpUtils.h
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdCameraTest/baseline/camera_xformOp_transform_rotateX_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUsdCamera.py
  test/testSamples/camera/camera_xformOp_transform_rotateX.usda
Labels: ready-for-merge, ufe-usd, vp2renderdelegate

#1253 MAYA-110409 Only assign the fallback material when no material is present.
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#1255 MAYA-104490 Add a basic test for Vp2RenderDelegate geom subset material binding support.
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateGeomSubsetTest/baseline/perFaceShaders_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateGeomSubset.py
  test/testSamples/geomSubset/perFaceShaders.usda
Labels: vp2renderdelegate

#1254 MAYA-110410 Author a default value for color & opacity if none are present.
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#1249 On prim AE template I'd like to see metadata
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/base/ae_template.py
  lib/mayaUsd/resources/ae/camera/ae_template.py
  lib/mayaUsd/resources/ae/capsule/ae_template.py
  lib/mayaUsd/resources/ae/cone/ae_template.py
  lib/mayaUsd/resources/ae/cube/ae_template.py
  lib/mayaUsd/resources/ae/cylinder/ae_template.py
  lib/mayaUsd/resources/ae/material/ae_template.py
  lib/mayaUsd/resources/ae/mesh/ae_template.py
  lib/mayaUsd/resources/ae/scope/ae_template.py
  lib/mayaUsd/resources/ae/shader/ae_template.py
  lib/mayaUsd/resources/ae/sphere/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/xform/ae_template.py
Labels: enhancement, ready-for-merge, workflows

#1265 Don't convert the near and far clipping planes linear units to cm.
  lib/mayaUsd/ufe/UsdCamera.cpp
Labels: ready-for-merge, ufe-usd

#1261 Explicitly case Ar path string to ArResolvedPath
  lib/usd/translators/shading/usdUVTextureReader.cpp
Labels: build, ready-for-merge

#1245 Minimize name-based lookup of proxy shape nodes.
  lib/mayaUsd/ufe/UsdStageMap.cpp
  lib/mayaUsd/ufe/UsdStageMap.h
  lib/mayaUsd/ufe/Utils.cpp
Labels: ready-for-merge, ufe-usd

#1262 Add "/permissive-" flag for VS compiler
  cmake/compiler_config.cmake
  cmake/modules/FindUSD.cmake
Labels: build, ready-for-merge

#1260 MAYA-105877 - As a user, I would like to be able to select usd object…
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: ready-for-merge, workflows

#1231 MAYA-110155: consistent namespace across the project - Part 2
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/nodes/hdImagingShape.cpp
  lib/mayaUsd/python/wrapBlockSceneModificationContext.cpp
  lib/mayaUsd/python/wrapColorSpace.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/utils/blockSceneModificationContext.cpp
  lib/mayaUsd/utils/blockSceneModificationContext.h
  lib/mayaUsd/utils/colorSpace.cpp
  lib/mayaUsd/utils/colorSpace.h
  lib/mayaUsd/utils/converter.cpp
  lib/mayaUsd/utils/util.cpp
Labels: build, ready-for-merge

#1267 MAYA-108220 - As a user, on the prim AE template I'd like to see arra…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: adsk, core, enhancement, ready-for-merge

#1271 Update comment about using universalRenderContext
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
Labels: documentation

#1266 MAYA-108691 - USD: undoing transform will not update manipulator
  lib/mayaUsd/ufe/StagesSubject.cpp
  test/lib/ufe/testComboCmd.py
Labels: bug, ready-for-merge, ufe-usd

#1258 Part 1: Block attribute(s) authoring in weaker layer(s)
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/testAttribute.py
Labels: core, ready-for-merge, ufe-usd

#1259 Returning an enum from UI delegate
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/layerManager.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.h
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
  test/lib/mayaUsd/nodes/CMakeLists.txt
  test/lib/mayaUsd/nodes/LayerManagerSerializationTest/SerializationTest.ma
  test/lib/mayaUsd/nodes/LayerManagerSerializationTest/SerializationTest.usda
  test/lib/mayaUsd/nodes/LayerManagerSerializationTest/SerializationTest_1.usda
  test/lib/mayaUsd/nodes/LayerManagerSerializationTest/SerializationTest_1_1.usda
  test/lib/mayaUsd/nodes/LayerManagerSerializationTest/SerializationTest_2.usda
  test/lib/mayaUsd/nodes/LayerManagerSerializationTest/SerializationTest_2_1.usda
  test/lib/mayaUsd/nodes/testLayerManagerSerialization.py
Labels: ready-for-merge, workflows

#1274 Spinell/maya 110157/clearing mutiple layer crash
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/stringResources.h
Labels: ready-for-merge, workflows

#1275 MAYA-110623: Fix visibility attribute not blocked via outliner
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.cpp
Labels: bug, ready-for-merge, ufe-usd, workflows

#1293 Fowlert/maya 109976/return error code for issues saving
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  test/lib/mayaUsd/nodes/testLayerManagerSerialization.py
Labels: ready-for-merge
