Repository Autodesk/maya-usd, pull requests merged in 2021-01, with the labels that each got.

#1033 Maya-108121 Fix type name changed in UFE.
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
Labels: ready-for-merge, ufe

#1034 Cleanup test utils
  test/lib/testMayaUsdCreateStageCommands.py
  test/lib/testMayaUsdProxyAccessor.py
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testParentCmd.py
  test/testUtils/mayaUtils.py
  test/testUtils/testUtils.py
  test/testUtils/ufeUtils.py
  test/testUtils/usdUtils.py
Labels: ready-for-merge, unit test

#1028 Fix texture writer path resolver to work relative to final export path
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportPackage/asset.ma
  test/lib/usd/translators/UsdExportPackage/texture.png
  test/lib/usd/translators/testUsdExportPackage.py
Labels: import-export

#1039 MAYA-107303 - UFE: crash (debug only) with multiple UFE items in single string
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/private/Utils.h
  test/lib/usd/translators/CMakeLists.txt
Labels: ready-for-merge, ufe-usd

#1044 Bump version to 0.7.0
  cmake/mayausd_version.info
Labels: build

#1041 MAYA-95543: implement the local affine transformation matrix
  lib/mayaUsd/ufe/UsdTransform3d.cpp
Labels: core, ready-for-merge

#1043 MAYA-108707 Share shader effect among similar-enough material networks
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
Labels: ready-for-merge

#1037 Cleanup UI folder
  cmake/compiler_config.cmake
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/usd/ui/CMakeLists.txt
  lib/usd/ui/importDialog/CMakeLists.txt
  lib/usd/ui/importDialog/IMayaMQtUtil.h
  lib/usd/ui/importDialog/IUSDImportView.h
  lib/usd/ui/importDialog/ItemDelegate.cpp
  lib/usd/ui/importDialog/ItemDelegate.h
  lib/usd/ui/importDialog/TreeItem.cpp
  lib/usd/ui/importDialog/TreeItem.h
  lib/usd/ui/importDialog/TreeModel.cpp
  lib/usd/ui/importDialog/TreeModel.h
  lib/usd/ui/importDialog/TreeModelFactory.cpp
  lib/usd/ui/importDialog/TreeModelFactory.h
  lib/usd/ui/importDialog/USDImportDialog.cpp
  lib/usd/ui/importDialog/USDImportDialog.h
  lib/usd/ui/importDialog/USDImportDialog.ui
  lib/usd/ui/importDialog/USDImportDialogCmd.cpp
  lib/usd/ui/importDialog/USDImportDialogCmd.h
  lib/usd/ui/importDialog/USDQtUtil.cpp
  lib/usd/ui/importDialog/USDQtUtil.h
  lib/usd/ui/importDialog/images/checkboxOffDisabled_100.png
  lib/usd/ui/importDialog/images/checkboxOffDisabled_150.png
  lib/usd/ui/importDialog/images/checkboxOffDisabled_200.png
  lib/usd/ui/importDialog/images/checkboxOff_100.png
  lib/usd/ui/importDialog/images/checkboxOff_150.png
  lib/usd/ui/importDialog/images/checkboxOff_200.png
  lib/usd/ui/importDialog/images/checkboxOnDisabled_100.png
  lib/usd/ui/importDialog/images/checkboxOnDisabled_150.png
  lib/usd/ui/importDialog/images/checkboxOnDisabled_200.png
  lib/usd/ui/importDialog/images/checkboxOn_100.png
  lib/usd/ui/importDialog/images/checkboxOn_150.png
  lib/usd/ui/importDialog/images/checkboxOn_200.png
  lib/usd/ui/importDialog/images/ui.qrc
  lib/usd/ui/importDialogDemo/CMakeLists.txt
  lib/usd/ui/importDialogDemo/testMayaUsdUI.cpp
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: adsk, build, ready-for-merge

#1048 MAYA-108707 Making shader reuse safer
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge

#1051 fix regex in testDiagnosticDelegate to handle varying ways of executing the test
  test/lib/mayaUsd/utils/testDiagnosticDelegate.py
Labels: unit test

#1060 Work around gcc 6.3.1 bug, and re-enable test.
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  test/lib/ufe/testComboCmd.py
Labels: ready-for-merge, ufe-usd

#1062 Fix issue where referenced scenes have incorrect UV set attribute name written out.
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
Labels: import-export

#1065 Make VP2RenderDelegate enabled by default
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  test/lib/mayaUsd/nodes/CMakeLists.txt
  test/lib/mayaUsd/nodes/testHdImagingShape.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeSelectionPerformance.py
Labels: ready-for-merge, vp2renderdelegate

#1059 perrauo/MAYA-105659/fix-crash-when-loading-unloading-the-mtoh-plugin-in-directx-mode
  lib/mayaUsd/render/mayaToHydra/plugin.cpp
Labels: mtoh

#1056 Making visibility Undo/Redo correct.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdObject3d.cpp
  lib/mayaUsd/ufe/UsdObject3d.h
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.cpp
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.h
  test/lib/ufe/testObject3d.py
Labels: core, ready-for-merge, workflows

#1066 Support for Ufe cameras.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdCamera.cpp
  lib/mayaUsd/ufe/UsdCamera.h
  lib/mayaUsd/ufe/UsdCameraHandler.cpp
  lib/mayaUsd/ufe/UsdCameraHandler.h
  lib/mayaUsd/utils/util.h
Labels: ready-for-merge, ufe-usd

#1061 MAYA-106780 - Editing USD should mark scene as dirty
  lib/mayaUsd/ufe/StagesSubject.cpp
  test/lib/ufe/testAttribute.py
Labels: bug, ready-for-merge, ufe-usd

#1072 MAYA-108960 - [GitHub #1020] Crash on Load and Existing Layer in Laye…
  lib/usd/ui/layerEditor/loadLayersDialog.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/resources.qrc
  lib/usd/ui/layerEditor/resources/addCreateGeneric_100.png
  lib/usd/ui/layerEditor/resources/addCreateGeneric_150.png
  lib/usd/ui/layerEditor/resources/addCreateGeneric_200.png
Labels: ready-for-merge, workflows

#1073 Implement setMatrixCmd for Maya transform stack.
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/Utils.h
Labels: ufe-usd

#1078 UFE v2 transition
  cmake/modules/FindUFE.cmake
Labels: build, ufe

#1052 MAYA-108274 Skip creating shader instance for unchanged material network
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
Labels: ready-for-merge

#1075 MAYA-107402: A better error message when renaming a prim inside a variantset.
  lib/mayaUsd/ufe/private/Utils.cpp
  test/lib/ufe/testRename.py
  test/testSamples/variantSet/Variant.ma
  test/testSamples/variantSet/Variant.usd
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, workflows

#1082 MAYA-109190 : Fix camera frame for instance proxies.
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
Labels: ready-for-merge, regression

#1071 MAYA-107403: inherits and specializes path don't update automatically
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/testRename.py
  test/testSamples/compositionArcs/compositionArcs.ma
  test/testSamples/compositionArcs/compositionArcs.usda
  test/testUtils/mayaUtils.py
Labels: core, ready-for-merge, workflows

#1080 MAYA-108272 fix false positive transparency
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate

#1016 Added Blendshape export functionality
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/primWriter.h
  lib/mayaUsd/fileio/translators/skelBindingsProcessor.cpp
  lib/mayaUsd/fileio/translators/skelBindingsProcessor.h
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.h
  lib/mayaUsd/fileio/writeJobContext.cpp
  lib/mayaUsd/fileio/writeJobContext.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter.h
  lib/usd/translators/meshWriter_BlendShapes.cpp
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/pxr/maya/lib/usdMaya/usdTranslatorExport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportBlendShapesTest/blendShapesExport.ma
  test/lib/usd/translators/testUsdExportBlendshapes.py
Labels: import-export

#1095 re-add testUsdExportCamera translator test back to CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
Labels: unit test

#1008 MAYA-108814 Support viewport display filtering for meshes and basisCurves
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: pending beta

#1093 Added 0.7.0 to change log
  doc/CHANGELOG.md
Labels: documentation

#1098 Bump version to 0.8.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#1050 Fix for UFE v1 code path with missing "|world".
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testPythonWrappers.py
  test/lib/ufe/testUfePythonImport.py
  test/testUtils/usdUtils.py
Labels: bug, ready-for-merge, ufe-usd

#1086 Fixed anonymous layer import
  lib/mayaUsd/commands/baseImportCommand.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdImportAnonymousLayer.py
Labels: import-export, ready-for-merge

#1090 Added usdRender dependency.
  lib/mayaUsd/CMakeLists.txt
Labels: build, ready-for-merge

#1091 MAYA-107400 Propagate hilight dirty state
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#1092 Increase test time out to allow long tests on busy nodes finish befor…
  build.py
Labels: ready-for-merge, unit test

#1094 author kind=group on the UsdPrim created by the group command when its parent is in the model hierarchy
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
  lib/mayaUsd/ufe/UsdUndoSetKindCommand.cpp
  lib/mayaUsd/ufe/UsdUndoSetKindCommand.h
  test/lib/ufe/testGroupCmd.py
Labels: ready-for-merge, ufe-usd

#1096 Fix for Maya 2020 and compilation fixes for VS2015 when building without Qt
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  plugin/al/mayautils/AL/maya/utils/PluginTranslatorOptions.cpp
Labels: build, ready-for-merge

#1027 Add UFE path handling and utilities to support paths that identify point instances of a PointInstancer
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchyHandler.cpp
  lib/mayaUsd/ufe/UsdSceneItem.cpp
  lib/mayaUsd/ufe/UsdSceneItem.h
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testPointInstances.py
  test/testSamples/pointInstances/CubeModel.usda
  test/testSamples/pointInstances/PointInstancer_Grid_14.ma
  test/testSamples/pointInstances/PointInstancer_Grid_14.usda
  test/testSamples/pointInstances/PointInstancer_Grid_70k.ma
  test/testSamples/pointInstances/PointInstancer_Grid_70k.usda
  test/testSamples/pointInstances/PointInstancer_Grid_7k.ma
  test/testSamples/pointInstances/PointInstancer_Grid_7k.usda
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, ufe-usd

#1099 updates for building with latest post-21.02 dev branch commit of core USD
  doc/build.md
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/render/mayaToHydra/shadingModeExporter.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
Labels: build, ready-for-merge

#1100 MAYA-109316 Propagate state of dirty draw items
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#1105 Maya fallback + additional op no longer crashes.
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  test/lib/ufe/testComboCmd.py
Labels: ready-for-merge, ufe-usd

#1109 fix typo in test - "mtoh" not "moth"
  test/lib/mayaUsd/render/mayaToHydra/testMtohCommand.py
Labels: ready-for-merge, unit test

#1113 MAYA-109414 workaround for material consolidation update issue
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#1115 MAYA-107554 - As a user, I'd like to see 'Revert to File' instead of …
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/stringResources.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: ready-for-merge

#1116 Fixed crash caused by out of date stage map
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/StagesSubject.h
Labels: ready-for-merge, ufe-usd, workflows

#1108 make use of PXR_OVERRIDE_PLUGINPATH_NAME everywhere
  CMakeLists.txt
  cmake/test.cmake
  modules/alUSD.mod.template
  modules/alUSD_Win.mod.template
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  modules/pxrUSD.mod.template
  modules/pxrUSD_Win.mod.template
  plugin/al/mayautils/AL/maya/tests/mayaplugintest/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/CMakeLists.txt
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/translators/pxrUsdTranslators/tests/CMakeLists.txt
  plugin/al/translators/tests/CMakeLists.txt
  plugin/pxr/cmake/macros/Public.cmake
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportCustomConverter.template.py
  test/lib/usd/translators/testUsdImportCustomConverter.template.py
Labels: build, ready-for-merge

#1110 [maya] error if unrecognized shadingMode on export
  lib/mayaUsd/commands/baseExportCommand.cpp
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/pxr/maya/lib/usdMaya/exportTranslator.cpp
Labels: import-export, ready-for-merge

#1121 MAYA-104394 - As a user, I'd like to be warned when saving a layer th…
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeItem.h
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/stringResources.h
Labels: ready-for-merge, workflows

#1122 MAYA-109483 - Crash when removing an invalid layer
  lib/mayaUsd/commands/layerEditorCommand.cpp
Labels: ready-for-merge

#1133 MAYA-109519 - Maya USD Export menu displays animation option after co…
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#1129 MAYA-108695 combine linter and pf into one action script
  .github/workflows/maya-usd-clang-format-lint.yml
  .github/workflows/maya-usd-preflight-launcher.yml
Labels: build, ready-for-merge
