Repository Autodesk/maya-usd, pull requests merged in 2021-07, with the labels that each got.

#1546 fix case name.
  lib/mayaUsd/ufe/UsdHierarchy.cpp
Labels: build, ready-for-merge

#1533 MAYA-111898 - MaterialX UV0 defaultgeomprop to st primvar
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MtlxUVStreamTest_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/MtlxUVStreamTest.usda
  test/testSamples/MaterialX/grid.png
Labels: ready-for-merge, vp2renderdelegate

#1528 MAYA-112227 - UV set renamed to st, st1, st2
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/mayaUsd/fileio/utils/roundTripUtil.cpp
  lib/mayaUsd/fileio/utils/roundTripUtil.h
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/mayaUsd/python/wrapReadUtil.cpp
  lib/mayaUsd/python/wrapRoundTripUtil.cpp
  lib/mayaUsd/python/wrapWriteUtil.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportUVSetMappingsTest/UsdExportUVSetMappingsTest.ma
  test/lib/usd/translators/testUsdExportMaterialX.py
  test/lib/usd/translators/testUsdExportUVSetMappings.py
  test/lib/usd/translators/testUsdExportUVSets.py
  test/lib/usd/translators/testUsdExportUserTaggedAttributes.py
  test/lib/usd/translators/testUsdImportUVSets.py
Labels: import-export, ready-for-merge

#1553 MAYA-111902 Fix MaterialX import errors found by testing
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/usd/translators/shading/mtlxPreviewSurfaceReader.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceWriter.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, materials, ready-for-merge

#1552 MAYA-107463 Make sure we leave default material mode when the test ends. Check fo…
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
Labels: ready-for-merge, vp2renderdelegate

#1558 MAYA-112643 Detect and save a pointer to the cardsUv primvar reader rather than
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, vp2renderdelegate

#1550 MAYA-112372: Add restriction for grouping.
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
  test/lib/ufe/testGroupCmd.py
Labels: ready-for-merge, ufe-usd, workflows

#1555 Restore preview purpose material binding
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
Labels: ready-for-merge, vp2renderdelegate

#1502 MAYA-111686 Add kSelectPointsForGravity to all selected render items when we should
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#1561 MAYA-111787 Pixar fixed the render tag issue in v0.20.08 so only enable the env
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#1560 MAYA-111902 Review all standard surface default values
  lib/usd/translators/shading/mtlxStandardSurfaceWriter.cpp
Labels: import-export, materials, ready-for-merge

#1559 MAYA-112530: Fix group command return object
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.h
  test/lib/ufe/testUngroupCmd.py
Labels: ready-for-merge, ufe-usd, workflows

#1562 MAYA-112712 Two Maya USD test with the same same testUsdExportPackage
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportUsdzPackage/asset.ma
  test/lib/usd/translators/UsdExportUsdzPackage/texture.png
  test/lib/usd/translators/testUsdExportUsdzPackage.py
Labels: ready-for-merge, unit test

#1520 Updates from code review of PR 1516.
  lib/mayaUsd/render/vp2ShaderFragments/UsdUVTexture.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
Labels: materials, ready-for-merge, vp2renderdelegate

#1455 MAYA-112039 - As a user, I'd like to have an unshareable stage
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/abstractLayerEditorWindow.h
  lib/mayaUsd/commands/layerEditorWindowCommand.cpp
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/customLayerData.cpp
  lib/mayaUsd/utils/customLayerData.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/usd/ui/layerEditor/abstractCommandHook.h
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/layerEditorWidget.h
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeItem.h
  lib/usd/ui/layerEditor/layerTreeItemDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/mayaCommandHook.cpp
  lib/usd/ui/layerEditor/mayaCommandHook.h
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.h
  lib/usd/ui/layerEditor/stringResources.h
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/testMayaUsdInteractiveLayerEditorCommands.py
  test/testSamples/ballset/StandaloneScene/invalid_layer.usda
Labels: proxy, workflows

#1568 MAYA-112336 - MayaUSD: bump USD min version to 20.05
  CMakeLists.txt
  doc/build.md
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/fileio/utils/adaptor.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttributes.cpp
Labels: build, ready-for-merge

#1572 Check that stage ptr is valid before getting prim path
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
Labels: al

#1573 MAYA-112665 - Do not crash on invalid materials
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, vp2renderdelegate

#1570 MAYA-111438 - Show patch curves as wireframe in default material mode
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: ready-for-merge, vp2renderdelegate

#1554 MAYA-111834 - Crash when transforming multiple objects with duplicate stage
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
Labels: bug, ready-for-merge, ufe-usd

#1521 MAYA-111889 point snapping to similar instances
  lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#1584 MAYA-112797 - Disable save for unshared layer root
  lib/usd/ui/layerEditor/layerTreeItem.cpp
Labels: bug

#1579 MAYA-112793 - Disable Revert File for Readonly Files
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: adsk

#1582 MAYA-111068 - Handle UDIM in MaterialX shaders
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, vp2renderdelegate

#1585 Remove deprecated UsdRi schemas
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
  plugin/al/tutorials/endToEndMaya/assets/Ball/Ball.maya.usd
  plugin/al/tutorials/endToEndMaya/tutorial_scripts/add_shadingVariants.py
Labels: build

#1567 MAYA-112732: unit test for item selection after ungroup command is performed.
  test/lib/ufe/testUngroupCmd.py
Labels: ready-for-merge, workflows

#1603 Updating changelog for v0.11.0
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#1605 Update version to v0.12.0
  cmake/mayausd_version.info
Labels: build, do-not-merge-yet

#1511 [al] ProxyShape: add pauseUpdate attr to pause evaluation
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
Labels: al, ready-for-merge

#1574 Fix minor typos in "lock" and "selectability" tutorials.
  plugin/al/docs/selection.md
  plugin/al/tutorials/lock/README.md
  plugin/al/tutorials/selectability/README.md
Labels: documentation, ready-for-merge

#1575 Make USD menu tear-off-able.
  plugin/al/mayautils/AL/maya/utils/MenuBuilder.cpp
Labels: al, ready-for-merge

#1586 Matrix op, common API undo / redo.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdSetXformOpUndoableCommandBase.cpp
  lib/mayaUsd/ufe/UsdSetXformOpUndoableCommandBase.h
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdUndoableCommand.h
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testTransform3dTranslate.py
Labels: ready-for-merge

#1589 MAYA-112854 - Fix warnings from USDZ texture import
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdImportUSDZTextures.py
Labels: import-export, ready-for-merge

#1592 Export roots
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.h
  lib/mayaUsd/fileio/writeJobContext.cpp
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/pxr/maya/lib/usdMaya/exportTranslator.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportRootsTest/UsdExportRootsTest.ma
  test/lib/usd/translators/testUsdExportRoots.py
Labels: import-export, ready-for-merge

#1596 Fix crash on scene item creation.
  lib/mayaUsd/ufe/UsdTransform3dHandler.cpp
Labels: bug, ready-for-merge, ufe-usd

#1597 MAYA-112834 Make sure that the render item name stored in HdVP2DrawItem exactly …
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: ready-for-merge, vp2renderdelegate

#1598 MAYA-112895 remove hardcode camera name string
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/usd/hdMaya/delegates/proxyDelegate.cpp
Labels: mtoh, ready-for-merge

#1599 MAYA-112917: Avoid TF_Verify message when USD attribute is empty.
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/Utils.cpp
Labels: bug, ready-for-merge, ufe-usd

#1604 Implement HdMayaSceneDelegate::GetInstancerPrototypes
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
Labels: build, ready-for-merge

#1608 Clang format fix.
  plugin/al/mayautils/AL/maya/utils/MenuBuilder.cpp
Labels: ready-for-merge

#1577 MAYA-112777 - Add support for light translators
  lib/mayaUsd/fileio/translators/CMakeLists.txt
  lib/mayaUsd/fileio/translators/translatorLight.cpp
  lib/mayaUsd/fileio/translators/translatorLight.h
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/lightReader.cpp
  lib/usd/translators/lightRfMReader.cpp
  lib/usd/translators/lightRfMWriter.cpp
  lib/usd/translators/lightWriter.cpp
  lib/usd/translators/lightWriter.h
  lib/usd/translators/plugInfo.json
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportLightTest/UsdExportLightTest.ma
  test/lib/usd/translators/UsdImportLightTest/LightsTest.usda
  test/lib/usd/translators/UsdImportLightTest/LightsTest_2011.usda
  test/lib/usd/translators/UsdImportLightTest/LightsTest_2102.usda
  test/lib/usd/translators/testUsdExportLight.py
  test/lib/usd/translators/testUsdImportLight.py
Labels: adsk, enhancement, import-export, ready-for-merge

#1600 MAYA-112608: add grouping with absolute, relative, world flags.
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.h
  test/lib/ufe/testGroupCmd.py
Labels: ready-for-merge, ufe-usd, workflows

#1609 Maya 2022.1 has the Light loop API V2 and is compatible with MaterialX
  doc/MaterialX.md
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: materials, ready-for-merge, vp2renderdelegate
