Repository Autodesk/maya-usd, pull requests merged in 2021-04, with the labels that each got.

#1299 Updating changelog for v0.9.0
  doc/CHANGELOG.md
Labels: build

#1301 Update version to v0.10.0
  cmake/mayausd_version.info
Labels: build

#1277 MAYA-109389 - As a user, I'd like to turn off file-backed Save confir…
  lib/mayaUsd/base/tokens.h
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/stringResources.h
Labels: ready-for-merge

#1279 Fix spurious warning being raised about USDZ texture import and allow for user-defined sourceImages path
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/readJob.cpp
Labels: import-export, ready-for-merge

#1281 [mtoh] Fix Hydra prim invalidation for hidden lights that are never population
  lib/usd/hdMaya/adapters/lightAdapter.cpp
Labels: mtoh, ready-for-merge

#1284 Fix referenced material non-default attributes not getting exported to USD
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
Labels: import-export, ready-for-merge

#1288 MAYA-110566 - No tooltip for Prim Path in Attribute Editor
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
Labels: adsk, ready-for-merge

#1294 MAYA-110670: block attribute authoring in weaker layers in legacy transform3d
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testAttributeBlock.py
Labels: core, ready-for-merge, workflows

#1291 MAYA-110731: Support Building Gulark library locally
  cmake/gulark.cmake
Labels: build, ready-for-merge

#1312 Fix unused variable compiler warning
  lib/mayaUsd/ufe/UsdSceneItem.cpp
Labels: build, ready-for-merge

#1247 guard against past-end iterator invalidation
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
Labels: import-export, ready-for-merge

#1311 Updating build.md with Maya 2022
  doc/build.md
Labels: documentation, ready-for-merge

#1308 MAYA-110706: Block attribute edits for the remaining transformation stacks (UsdTransform3dCommonAPI, UsdTransform3dMatrixOp)
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/testAttributeBlock.py
Labels: core, ready-for-merge, workflows

#1321 MAYA-110850 fix a point snapping issue on USD instances
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: bug, ready-for-merge, vp2renderdelegate

#1315 MAYA-109387 Send Ufe::CameraChanged when camera attributes are modified.
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdCamera.cpp
  lib/mayaUsd/ufe/UsdCamera.h
Labels: ready-for-merge, ufe, ufe-usd, vp2renderdelegate

#1282 [mtoh] Add camera adapter to support physical camera parameters and configurable motion blur and depth-of-field.
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/usd/hdMaya/adapters/CMakeLists.txt
  lib/usd/hdMaya/adapters/adapterRegistry.cpp
  lib/usd/hdMaya/adapters/adapterRegistry.h
  lib/usd/hdMaya/adapters/cameraAdapter.cpp
  lib/usd/hdMaya/adapters/cameraAdapter.h
  lib/usd/hdMaya/adapters/dagAdapter.cpp
  lib/usd/hdMaya/adapters/dagAdapter.h
  lib/usd/hdMaya/adapters/meshAdapter.cpp
  lib/usd/hdMaya/delegates/delegate.cpp
  lib/usd/hdMaya/delegates/delegate.h
  lib/usd/hdMaya/delegates/delegateCtx.cpp
  lib/usd/hdMaya/delegates/delegateCtx.h
  lib/usd/hdMaya/delegates/params.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
  lib/usd/hdMaya/plugInfo.json
  lib/usd/hdMaya/utils.h
  test/lib/mayaUsd/render/mayaToHydra/testMtohCommand.py
Labels: mtoh

#1207 MAYA-108919: Center pivot command support test.
  test/lib/ufe/testComboCmd.py
Labels: unit test

#1329 MAYA-110917 Increase depth priority for point snapping items
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: bug, ready-for-merge, vp2renderdelegate

#1331 MAYA-110361 - add PF jobs to cover what's currently tested manually
  lib/mayaUsd/ufe/XformOpUtils.cpp
Labels: build, ready-for-merge

#1332 MAYA-110727 - USD load/unload payloads does not update viewport
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
Labels: adsk, ready-for-merge

#1354 Clean up runtimeCommands created by the plugin
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: ready-for-merge

#1333 MAYA-108237 - As a user, on the prim AE template I'd like to see app…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: ready-for-merge

#1292 MAYA-110596 MAYA-110576 faster point snapping
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#1365 Update build.md for supported USD v21.05 version
  doc/build.md
Labels: documentation, ready-for-merge

#1298 MAYA-109387 test usd camera animated params and editing params
  lib/mayaUsd/ufe/UsdCamera.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdCameraTest/baseline/TranslateRotate_vs_xform_cam2_insideNearClipPlane.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdCameraTest/baseline/TranslateRotate_vs_xform_cam2_translated.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdCameraTest/baseline/TranslateRotate_vs_xform_cam2_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdCameraTest/baseline/camera_xformOp_transform_rotateX_cameraMoved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdCameraTest/baseline/camera_xformOp_transform_rotateX_insideNearClipPlane.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUsdCamera.py
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testCamera.py
  test/testSamples/camera/TranslateRotate_vs_xform.usda
  test/testSamples/camera/camera_xformOp_transform_rotateX.usda
Labels: ready-for-merge, ufe, vp2renderdelegate

#1363 MAYA-110727 - Crash when editing Layer That has Permission to Edit false (locked)
  lib/mayaUsd/ufe/UsdTransform3dHandler.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testBlockedLayerEdit.py
Labels: bug, ready-for-merge, ufe-usd

#1344 Remove namespace on material import
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeImporter.cpp
  lib/mayaUsd/fileio/shading/shadingModeImporter.h
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdExportPackage.py
  test/lib/usd/translators/testUsdImportRfMShaders.py
  test/lib/usd/translators/testUsdImportShadingModeDisplayColor.py
  test/lib/usd/translators/testUsdImportShadingModePxrRis.py
  test/lib/usd/translators/testUsdImportUVSetMappings.py
Labels: import-export, ready-for-merge

#1356 Metallic IBL Reflection
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurface.xml
  lib/mayaUsd/render/vp2ShaderFragments/lightingContributions.xml
  lib/mayaUsd/render/vp2ShaderFragments/usdPreviewSurfaceCombiner.xml
  lib/mayaUsd/render/vp2ShaderFragments/usdPreviewSurfaceLighting.xml
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/testMetallicResponse.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testUtils/imageUtils.py
  test/testUtils/mayaUtils.py
Labels: vp2renderdelegate

#1352 Point instance interactive batched position, orientation and scale ch…
  lib/mayaUsd/ufe/UsdPointInstanceModifierBase.h
  lib/mayaUsd/ufe/UsdPointInstanceOrientationModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstanceOrientationModifier.h
  lib/mayaUsd/ufe/UsdPointInstancePositionModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstancePositionModifier.h
  lib/mayaUsd/ufe/UsdPointInstanceScaleModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstanceScaleModifier.h
  lib/mayaUsd/ufe/UsdPointInstanceUndoableCommands.h
  lib/mayaUsd/ufe/UsdTransform3dPointInstance.cpp
Labels: ufe-usd

#1367 MAYA-108221 - As a user, on the prim AE template I'd like to see usef…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: ready-for-merge

#1280 Don't write fStop when depthOfField is disabled.
  lib/mayaUsd/fileio/translators/translatorCamera.cpp
  lib/usd/translators/cameraWriter.cpp
  test/lib/usd/translators/UsdExportCameraTest/UsdExportCameraTest.ma
  test/lib/usd/translators/testUsdExportCamera.py
Labels: import-export

#1368 Fix missing fixturesUtils.runTests in testVP2RenderDelegateUSDPreviewSurface
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/testMetallicResponse.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
Labels: unit test

#1374 MAYA-108221 - As a user, on the prim AE template I'd like to see usef…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: ready-for-merge, ufe-usd

#1372 MAYA-110489 - Prim AE template: categories persist their expand/colla…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/ufe/UsdAttribute.cpp
Labels: ready-for-merge, ufe

#1359 MAYA-108265 Disable the material consolidation update workaround if Maya has the
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateConsolidationTest/baseline/capsule_green.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateConsolidationTest/baseline/capsule_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateConsolidationTest/baseline/colorConsolidation_greenSpheres.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateConsolidationTest/baseline/colorConsolidation_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateConsolidation.py
  test/testSamples/consolidation/capsule.usda
  test/testSamples/consolidation/colorConsolidation.usda
Labels: ready-for-merge, vp2renderdelegate

#1350 List all registered Prim Types for Creation
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdContextOps.h
Labels: ready-for-merge, ufe-usd

#1342 Configure resolver to generate resolver context
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
Labels: proxy, ready-for-merge
