Repository Autodesk/maya-usd, pull requests merged in 2021-11, with the labels that each got.

#1800 Fix textures missing on OS/X with V2 Lighting
  lib/mayaUsd/render/vp2ShaderFragments/usdPreviewSurfaceLightingAPI2.xml
Labels: vp2renderdelegate, ready-for-merge

#1794 MAYA-114519 Make Shader reader/writer test self contained
  test/lib/mayaUsd/fileio/UsdImportMaterialX/UsdImportMaterialX.usda
  test/lib/mayaUsd/fileio/UsdImportMaterialX/standard_surface_gold.mtlx
  test/lib/mayaUsd/fileio/UsdImportMaterialX/standard_surface_jade.usda
  test/lib/mayaUsd/fileio/testShaderReader.py
Labels: ready-for-merge

#1742 T tindj/maya 111503/import basis curves
  lib/mayaUsd/fileio/translators/translatorCurves.cpp
  lib/usd/translators/nurbsCurveWriter.cpp
  lib/usd/translators/nurbsCurveWriter.h
  lib/usd/translators/nurbsCurvesReader.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportBasisCurvesTest/basisCurve.usda
  test/lib/usd/translators/UsdImportBasisCurvesTest/basisCurve_linear.usda
  test/lib/usd/translators/UsdImportBasisCurvesTest/batchBezier.usda
  test/lib/usd/translators/UsdImportBasisCurvesTest/batchNurbs.usda
  test/lib/usd/translators/UsdImportBasisCurvesTest/nurbsCurve.usda
  test/lib/usd/translators/testUsdImportBasisCurves.py
  test/lib/usd/translators/testUsdImportBatchBezierCurves.py
  test/lib/usd/translators/testUsdImportBatchNurbsCurves.py
  test/lib/usd/translators/testUsdImportLinearCurves.py
  test/lib/usd/translators/testUsdImportNurbsCurves.py
Labels: import-export, ready-for-merge

#1827 Updating changelog for v0.14.0
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#1803 Fix OpenGL initialization to restore GPU Compute functionality.
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.cpp
Labels: vp2renderdelegate, ready-for-merge

#1804 T bailp/maya 114111/diff merge prim over pull push 01 v2
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primUpdater.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/ufe/UsdUIUfeObserver.cpp
  lib/usd/translators/mayaReferenceUpdater.cpp
  lib/usd/translators/mayaReferenceUpdater.h
  lib/usd/utils/CMakeLists.txt
  lib/usd/utils/DiffAttributes.cpp
  lib/usd/utils/DiffCore.cpp
  lib/usd/utils/DiffCore.h
  lib/usd/utils/DiffDictionaries.cpp
  lib/usd/utils/DiffLists.cpp
  lib/usd/utils/DiffMetadatas.cpp
  lib/usd/utils/DiffPrims.cpp
  lib/usd/utils/DiffPrims.h
  lib/usd/utils/DiffRelationships.cpp
  lib/usd/utils/DiffValues.cpp
  lib/usd/utils/MergePrims.cpp
  lib/usd/utils/MergePrims.h
  plugin/al/usdmayautils/AL/usdmaya/utils/NurbsCurveUtils.cpp
  test/lib/usd/utils/CMakeLists.txt
  test/lib/usd/utils/test_DiffAttributes.cpp
  test/lib/usd/utils/test_DiffComputeOverall.cpp
  test/lib/usd/utils/test_DiffDictionaries.cpp
  test/lib/usd/utils/test_DiffLists.cpp
  test/lib/usd/utils/test_DiffMetadatas.cpp
  test/lib/usd/utils/test_DiffPrims.cpp
  test/lib/usd/utils/test_DiffPrimsAttributes.cpp
  test/lib/usd/utils/test_DiffPrimsChildren.cpp
  test/lib/usd/utils/test_DiffPrimsRelations.cpp
  test/lib/usd/utils/test_DiffRelationships.cpp
  test/lib/usd/utils/test_DiffValues.cpp
  test/lib/usd/utils/test_DiffValuesArrays.cpp
  test/lib/usd/utils/test_DiffValuesDoubleVecs.cpp
  test/lib/usd/utils/test_DiffValuesFloatVecs.cpp
  test/lib/usd/utils/test_DiffValuesGeneric.cpp
  test/lib/usd/utils/test_DiffValuesHalfVecs.cpp
  test/lib/usd/utils/test_DiffValuesIntVecs.cpp
  test/lib/usd/utils/test_DiffValuesMatrices.cpp
  test/lib/usd/utils/test_DiffValuesQuaternions.cpp
  test/lib/usd/utils/test_MergePrims.cpp
Labels: ready-for-merge

#1820 Add tests for auto load new objects, auto load selected and for instanced
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadNewObjects.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_ball01_ball04.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_ball02.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_ball04_ball05.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_coneCapsuleCyliner.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_cube.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_instance_stage.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_stage.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/autoLoadSelected_xformCone.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/ball01.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/ball01_ball02_ball03.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/ball01_ball03.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateIsolateSelectTest/baseline/ball03.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateIsolateSelect.py
Labels: vp2renderdelegate, ready-for-merge

#1823 Fix UV export test
  test/lib/usd/translators/testUsdExportUVSets.py
Labels: ready-for-merge

#1826 Registration of Pixar lights should be inside of ifdef
  lib/usd/translators/lightRfMReader.cpp
Labels: build, ready-for-merge

#1816 MAYA-114241 - Manage the edit-ability of an attribute from Maya's att…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: enhancement, requires maya

#1835 Compile MayaUSD correctly when mixing USD 20.05 and Maya 2022.
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#1831 MAYA-114707 test passing array to Maya commands
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testSelectionByArray.py
Labels: ready-for-merge

#1833 Fix support for normal map channel connections
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportUsdPreviewSurfaceTest/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/UsdExportUsdPreviewSurfaceTest/Brazilian_rosewood_pxr128_bmp.png
  test/lib/usd/translators/UsdExportUsdPreviewSurfaceTest/Brazilian_rosewood_pxr128_n.png
  test/lib/usd/translators/testUsdExportUsdPreviewSurface.py
Labels: import-export, ready-for-merge

#1814 MAYA-112228 Use Adaptors for custom schema import-export
  lib/mayaUsd/commands/CMakeLists.txt
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/commands/baseListJobContextsCommand.cpp
  lib/mayaUsd/commands/baseListJobContextsCommand.h
  lib/mayaUsd/fileio/CMakeLists.txt
  lib/mayaUsd/fileio/jobContextRegistry.cpp
  lib/mayaUsd/fileio/jobContextRegistry.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/primReaderContext.cpp
  lib/mayaUsd/fileio/primReaderContext.h
  lib/mayaUsd/fileio/primWriter.cpp
  lib/mayaUsd/fileio/registryHelper.cpp
  lib/mayaUsd/fileio/registryHelper.h
  lib/mayaUsd/fileio/schemaApiAdaptor.cpp
  lib/mayaUsd/fileio/schemaApiAdaptor.h
  lib/mayaUsd/fileio/schemaApiAdaptorRegistry.cpp
  lib/mayaUsd/fileio/schemaApiAdaptorRegistry.h
  lib/mayaUsd/fileio/translators/translatorPrim.cpp
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/fileio/utils/adaptor.h
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapAdaptor.cpp
  lib/mayaUsd/python/wrapJobContextRegistry.cpp
  lib/mayaUsd/python/wrapSchemaApiAdaptor.cpp
  lib/mayaUsd/python/wrapWriteUtil.cpp
  lib/mayaUsd/utils/converter.cpp
  lib/mayaUsd/utils/converter.h
  modules/mayaUSD_Win.mod.template
  plugin/adsk/plugin/CMakeLists.txt
  plugin/adsk/plugin/adskListJobContextsCommand.cpp
  plugin/adsk/plugin/adskListJobContextsCommand.h
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testJobContextRegistry.py
  test/lib/mayaUsd/fileio/testSchemaApiAdaptor.py
  test/lib/usd/plugin/CMakeLists.txt
  test/lib/usd/plugin/bulletAdaptor.cpp
  test/lib/usd/plugin/nullApiExporter.cpp
  test/lib/usd/plugin/nullApiExporter_plugInfo.json
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportSchemaApi.py
  test/lib/usd/translators/testUsdMayaAdaptorMetadata.py
Labels: import-export, ready-for-merge

#1796 Adding definition for "kCreateStage" string constant
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: adsk, ready-for-merge

#1825 Update callsites to work with USD dev API changes
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/usd/hdMaya/adapters/cameraAdapter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.h
Labels: vp2renderdelegate, legacy rendering, mtoh

#1843 MAYA-113723 If there are no reprs selected then don't call execute! It causes
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#1844 MAYA-114374 Prevent parenting under an instance
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
  test/testSamples/parentCmd/simpleHierarchy.usda
Labels: ufe-usd, ready-for-merge

#1839 New duplicate wording, and unit test.
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/primUpdaterManager.h
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  plugin/adsk/scripts/USDMenuProc.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: ready-for-merge

#1845 Tremblp/maya 114706/validate pull push capability
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primUpdater.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/primUpdaterManager.h
  lib/mayaUsd/fileio/primUpdaterRegistry.cpp
  lib/mayaUsd/fileio/primUpdaterRegistry.h
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/usd/translators/mayaReferenceUpdater.cpp
  lib/usd/translators/mayaReferenceUpdater.h
  plugin/adsk/scripts/USDMenuProc.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  test/lib/mayaUsd/fileio/testEditAsMaya.py
Labels: ready-for-merge

#1792 Added file format attribute to LayerManager and improved format detection for serialised layers
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/layerManager.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/LayerManager.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/LayerManager.h
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/nodes/test_LayerManager.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/nodes/test_TransformMatrix.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testLayerManager.py
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testProxyShape.py
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testTranslators.py
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testUSDMayaPythonModuleOnly.py
Labels: al, core

#1838 When selection changes mark the prims which are added/removed from the list dirty.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
Labels: vp2renderdelegate, ready-for-merge

#1851 Added locking for instance proxy xforms and updated code for time sampled xform ops
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeSelection.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/TransformationMatrix.cpp
Labels: al

#1853 fix #1852 - Maya 2020 picked wrong MDGModifier.deleteNode
  lib/mayaUsd/fileio/translators/translatorCurves.cpp
Labels: import-export

#1856 Fixed exiting callback failing to deregister on UFE global
  lib/mayaUsd/ufe/Global.cpp
Labels: ufe-usd

#1863 MAYA-114630: Insert backup restore gl state render task around colorize-select-task
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/mayaUsd/render/mayaToHydra/renderOverrideUtils.h
Labels: mtoh, ready-for-merge

#1864 Boudrey/maya 113464/chaser args
  lib/mayaUsd/fileio/chaser/importChaserRegistry.cpp
  lib/mayaUsd/fileio/chaser/importChaserRegistry.h
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapExportChaser.cpp
  lib/mayaUsd/python/wrapImportChaser.cpp
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/mayaUsd/python/wrapPrimWriter.cpp
  test/lib/mayaUsd/fileio/testExportChaser.py
  test/lib/mayaUsd/fileio/testImportChaser.py
  test/lib/usd/plugin/infoImportChaser.cpp
Labels: ready-for-merge
