Repository Autodesk/maya-usd, pull requests merged in 2021-12, with the labels that each got.

#1871 MAYA-114407 - Add unit test
  test/lib/ufe/testObject3d.py
Labels: ready-for-merge

#1842 MAYA-114297 MAYA-114300 Job context UI
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/utils/util.cpp
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/plugin/importTranslator.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/pxr/maya/lib/usdMaya/exportTranslator.cpp
  plugin/pxr/maya/lib/usdMaya/importTranslator.cpp
  test/lib/usd/plugin/nullApiExporter.cpp
  test/lib/usd/translators/testUsdExportSchemaApi.py
Labels: adsk, import-export, ready-for-merge

#1873 Add action in the outliner's context menu to toggle the instanceable state of a prim
  lib/mayaUsd/ufe/UsdContextOps.cpp
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, workflows

#1876 MAYA-114507 - Ufe: Investigate testValue.cpp failure on OSX
  lib/mayaUsd/ufe/UsdAttribute.cpp
Labels: ufe-usd, ready-for-merge

#1877 MAYA-113820: [Github 1543] Unloaded prims should appear in the outliner
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  test/lib/ufe/testChildFilter.py
Labels: ufe-usd, ready-for-merge

#1870 [base] fix for proxyShapes in vp2 to display shaders bound to "glslfx:surface" material output
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.h
Labels: vp2renderdelegate

#1828 Use mayapy as Python interpreter on Mac
  CMakeLists.txt
  cmake/python.cmake
  cmake/utils.cmake
Labels: build

#1885 MAYA-115158 remove edit-as-maya menus when not available
  lib/mayaUsd/ufe/UsdContextOps.cpp
  plugin/adsk/scripts/USDMenuProc.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
Labels: pending beta, ready-for-merge

#1875 MAYA-113917 Skip Ufe Identifier update when the identifiers are not in use.
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge

#1888 MAYA-113409 - Adjust unit tests for UFE 3.0
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testObservableScene.py
Labels: ufe, ready-for-merge

#1887 MAYA-115158 fix the python code to a a one-liner.
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
Labels: adsk, ready-for-merge

#1902 MAYA-120718 Accept half float quaternion orientations in HdVP2Instancer
  lib/mayaUsd/render/vp2RenderDelegate/instancer.cpp
  lib/mayaUsd/render/vp2RenderDelegate/sampler.h
Labels: vp2renderdelegate, ready-for-merge

#1910 Use the quaternion type directly rather than interpreting the values of a vec4.
  lib/mayaUsd/render/vp2RenderDelegate/instancer.cpp
  lib/mayaUsd/render/vp2RenderDelegate/sampler.h
Labels: vp2renderdelegate, ready-for-merge

#1916 Updating changelog for v0.15.0
  doc/CHANGELOG.md
Labels: build

#1919 Update version to v0.16.0
  cmake/mayausd_version.info
Labels: build

#1892 Add support for float and double types to the converter (and proxy accessor)
  lib/mayaUsd/utils/converter.cpp
  test/lib/testMayaUsdConverter.py
Labels: proxy, ready-for-merge

#1894 MAYA-114925 Expose python bindings for UsdMayaPrimUpdater
  lib/mayaUsd/fileio/primUpdaterContext.h
  lib/mayaUsd/fileio/primUpdaterRegistry.cpp
  lib/mayaUsd/fileio/primUpdaterRegistry.h
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/mayaUsd/python/wrapPrimUpdater.cpp
  lib/mayaUsd/python/wrapPrimWriter.cpp
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testPrimUpdater.py
Labels: ready-for-merge

#1898 Test fix for random failing test: TestALUSDMayaPython_LayerManager
  plugin/al/plugin/AL_USDMayaTestPlugin/py/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testLayerManager.py
Labels: ready-for-merge

#1896 MAYA-114711 As a user, when clicking on 'Edit as Maya Data' I'd like …
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  test/lib/mayaUsd/fileio/testEditAsMaya.py
Labels: ready-for-merge

#1905 MAYA-114281 - Query a USD attributes locked state via getAttr
  test/lib/ufe/testAttribute.py
Labels: unit test, ready-for-merge

#1911 MAYA-114334 - Use USD syntax for Python callbacks
  lib/mayaUsd/python/wrapJobContextRegistry.cpp
Labels: import-export, ready-for-merge

#1913 Fix exported normals not being used by VP2
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#1915 Unnest UV reader and optimize
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/mayaUsd/fileio/testShaderWriter.py
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, ready-for-merge

#1918 MAYA-114979 - Validate normal maps for correctness
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
  test/lib/usd/translators/testUsdExportUsdPreviewSurface.py
Labels: import-export, ready-for-merge

#1926 MAYA-115168 - MayaUSD : Bump UFE version to 3.0
  cmake/modules/FindUFE.cmake
Labels: build, ready-for-merge
