Repository Autodesk/maya-usd, pull requests merged in 2021-02, with the labels that each got.

#1138 move minimum core usd version to v20.02
  CMakeLists.txt
  doc/build.md
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/tokens.h
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.cpp
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.h
  lib/usd/hdMaya/adapters/aiSkydomeLightAdapter.cpp
  lib/usd/hdMaya/adapters/materialAdapter.cpp
  lib/usd/hdMaya/adapters/materialAdapter.h
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.h
  lib/usd/hdMaya/adapters/nurbsCurveAdapter.cpp
  lib/usd/hdMaya/delegates/delegateDebugCodes.cpp
  lib/usd/hdMaya/delegates/delegateDebugCodes.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
  lib/usd/hdMaya/utils.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  test/lib/mayaUsd/render/CMakeLists.txt
Labels: build, mtoh, ready-for-merge

#1134 Use data model undo framework for attribute undo.
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttribute.h
  test/lib/ufe/testAttribute.py
Labels: ready-for-merge, ufe-usd

#1132 support for UV mirroring on UsdUVTexture
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
Labels: import-export, ready-for-merge

#1130 Fixes related to export of skeleton rest-xforms
  lib/usd/translators/jointWriter.cpp
  test/lib/usd/translators/UsdExportSkeletonTest/UsdExportSkeletonBindPoseMissingJoints.ma
  test/lib/usd/translators/UsdExportSkeletonTest/UsdExportSkeletonBindPoseSparseIndices.ma
  test/lib/usd/translators/UsdExportSkeletonTest/UsdExportSkeletonNoDagPose.ma
  test/lib/usd/translators/UsdExportSkeletonTest/UsdExportSkeletonWithIdentityBindPose.ma
  test/lib/usd/translators/testUsdExportSkeleton.py
Labels: import-export, ready-for-merge

#1128 MAYA-107607 - As a user, I'd like to not save a layer when a sublayer…
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/layerTreeModel.h
  lib/usd/ui/layerEditor/stringResources.h
Labels: ready-for-merge, workflows

#1140 MAYA-106503 load all prims in hierarchy view.
  lib/usd/ui/importDialog/USDImportDialog.cpp
Labels: import-export, ready-for-merge

#1127 MAYA105624 make xform reading more uniform
  lib/mayaUsd/fileio/translators/translatorXformable.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportXformAnimTest/Mesh.usda
  test/lib/usd/translators/testUsdImportXformAnim.py
Labels: import-export, ready-for-merge

#1139 MAYA-105623 better support for USD leftHanded mesh.
  lib/mayaUsd/fileio/translators/translatorGprim.cpp
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  lib/mayaUsd/fileio/translators/translatorMesh.h
  lib/mayaUsd/fileio/translators/translatorNurbsPatch.cpp
  test/lib/usd/translators/UsdImportMeshTest/Mesh.usda
  test/lib/usd/translators/testUsdImportMesh.py
Labels: import-export, ready-for-merge

#1143 use accurate MAYA_API_VERSION in guard for MRenderItem::setObjectTypeExclusionFlag()
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: build, ready-for-merge, vp2renderdelegate

#1145 MAYA-109438 - Need to remove attributes from AE stage view
  plugin/adsk/scripts/AEmayaUsdProxyShapeTemplate.mel
Labels: adsk, ready-for-merge, workflows

#1144 make tests in test/lib/ufe directly runnable and use fixturesUtils
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testAttributes.py
  test/lib/ufe/testChildFilter.py
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testMatrices.py
  test/lib/ufe/testMayaPickwalk.py
  test/lib/ufe/testMoveCmd.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testObservableScene.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testPointInstances.py
  test/lib/ufe/testPythonWrappers.py
  test/lib/ufe/testRename.py
  test/lib/ufe/testReorderCmd.py
  test/lib/ufe/testRotateCmd.py
  test/lib/ufe/testRotatePivot.py
  test/lib/ufe/testScaleCmd.py
  test/lib/ufe/testSceneItem.py
  test/lib/ufe/testSelection.py
  test/lib/ufe/testTransform3dChainOfResponsibility.py
  test/lib/ufe/testTransform3dTranslate.py
  test/lib/ufe/testUIInfoHandler.py
  test/lib/ufe/testUfePythonImport.py
Labels: ready-for-merge, ufe-usd, unit test

#1102 Implement and test setMatrixCmd() for single matrix op prims.
  lib/mayaUsd/python/wrapUsdUndoManager.cpp
  lib/mayaUsd/ufe/UsdTransform3dBase.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdUndoSetKindCommand.cpp
  lib/mayaUsd/ufe/UsdUndoSetKindCommand.h
  lib/mayaUsd/undo/UsdUndoBlock.h
  lib/mayaUsd/undo/UsdUndoableItem.cpp
  lib/mayaUsd/undo/UsdUndoableItem.h
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge, ufe-usd

#1141 Mute layer and variant switch preserve selection.
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/testSelection.py
Labels: ready-for-merge

#1112 MAYA-105827 - Compute extents for modified GPrims
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/ufe/testObject3d.py
Labels: ready-for-merge, vp2renderdelegate

#1142 MAYA-108318: Add support for duplicating a proxyShape.
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/stageData.h
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/testUtils/ufeScripts/__init__.py
  test/testUtils/ufeScripts/ufeSelectCmd.py
Labels: core, ready-for-merge, workflows

#1153 MAYA-107222 - Clear bounding box cache when editing USD stage
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/ufe/testObject3d.py
Labels: proxy, ready-for-merge

#1149 Support empty blendshape targets
  lib/usd/translators/meshWriter.cpp
  lib/usd/translators/meshWriter_BlendShapes.cpp
  test/lib/usd/translators/UsdExportBlendShapesTest/blendShapesExport.ma
  test/lib/usd/translators/testUsdExportBlendshapes.py
Labels: import-export

#1160 We will need to adopt new OCIOv2 in mtoh tests, but for now switch it off
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
Labels: ready-for-merge, unit test

#1161 fix build breakage from PR #1119 due to missing Hydra API in USD 20.05
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
Labels: build, ready-for-merge, vp2renderdelegate

#1162 remove irrelevant setting of VP2_RENDER_DELEGATE_PROXY in vp2RenderDelegate tests
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
Labels: ready-for-merge, unit test

#1159 perrauo/MAYA-109675/fix-crash-after-load-unload-and-loading-new
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
Labels: mtoh, ready-for-merge

#1152 Maya 105566/serialize usd edits
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/nodes/CMakeLists.txt
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/layerManager.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  lib/mayaUsd/resources/icons/CMakeLists.txt
  lib/mayaUsd/resources/icons/saveOption1_100.png
  lib/mayaUsd/resources/icons/saveOption1_150.png
  lib/mayaUsd/resources/icons/saveOption1_200.png
  lib/mayaUsd/resources/icons/saveOption2_100.png
  lib/mayaUsd/resources/icons/saveOption2_150.png
  lib/mayaUsd/resources/icons/saveOption2_200.png
  lib/mayaUsd/resources/icons/saveOption3_100.png
  lib/mayaUsd/resources/icons/saveOption3_150.png
  lib/mayaUsd/resources/icons/saveOption3_200.png
  lib/mayaUsd/ufe/UsdStageMap.cpp
  lib/mayaUsd/ufe/UsdStageMap.h
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  lib/usd/ui/importDialog/TreeItem.cpp
  lib/usd/ui/importDialog/images/ui.qrc
  lib/usd/ui/layerEditor/CMakeLists.txt
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.h
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  lib/usd/ui/layerEditor/mayaSessionState.h
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
  lib/usd/ui/layerEditor/stringResources.h
  plugin/adsk/plugin/ProxyShape.cpp
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/AEmayaUsdProxyShapeTemplate.mel
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsd_fileOptions.mel
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
  plugin/adsk/scripts/usdFileSaveOptions.mel
Labels: enhancement, proxy, ready-for-merge

#1156 MAYA-109647 - Target becomes out of synch when an ancestor of a targe…
  lib/mayaUsd/commands/layerEditorCommand.cpp
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ready-for-merge

#1146 [MAYA-104104] Add import/export cmd documentation
  README.md
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  plugin/pxr/maya/lib/usdMaya/importCommand.cpp
  plugin/pxr/maya/lib/usdMaya/importCommand.h
  test/lib/usd/translators/testUsdImportSkeleton.py
Labels: documentation, ready-for-merge

#1163 Set MAYA_APP_DIR for each test, pointing to unique folders.
  cmake/test.cmake
Labels: ready-for-merge, unit test

#1171 Fix UFEv2 test failures with USD 20.02
  lib/mayaUsd/nodes/proxyAccessor.py
  test/lib/ufe/testSceneItem.py
Labels: ready-for-merge, unit test

#1172 MAYA-109618 - Crash when target layer is muted and a prim on a differ…
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
Labels: ready-for-merge

#1196 Added change-log for v0.8.0
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#1197 Bump version to 0.9.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#1166 MAYA-108709 preliminary code refactor
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/XformOpUtils.cpp
  lib/mayaUsd/ufe/XformOpUtils.h
Labels: ready-for-merge, ufe-usd

#1167 Add set value support to redone state.
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
Labels: ready-for-merge, ufe-usd

#1168 Cleanup + simplify some of the selection logic in the AL plugin
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeUI.cpp
Labels: al, ready-for-merge

#1173 Fixing interactive tests to run in python 3.
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeLiveSurface.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeSelectionPerformance.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePointInstanceSelection.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePointInstancesPickMode.py
Labels: ready-for-merge, unit test

#1174 MAYA-106274 - Missing temp for "mayaUsdProxyShapeBase" node in AE
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/AEmayaUsdProxyShapeTemplate.mel
  plugin/adsk/scripts/CMakeLists.txt
Labels: adsk, ready-for-merge

#1175 maintain UV connectivity across export and re-import round trips
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  test/lib/usd/translators/UsdExportUVSetsFloatTest/UsdExportUVSetsTest_Float.ma
  test/lib/usd/translators/UsdExportUVSetsTest/UsdExportUVSetsTest.ma
  test/lib/usd/translators/UsdImportUVSetsFloatTest/UsdImportUVSetsTest_Float.usda
  test/lib/usd/translators/UsdImportUVSetsTest/UsdImportUVSetsTest.usda
  test/lib/usd/translators/testUsdExportUVSets.py
  test/lib/usd/translators/testUsdImportUVSets.py
Labels: core, import-export, ready-for-merge

#1170 Fix bbox computation for purposes, add test.
  lib/mayaUsd/ufe/UsdObject3d.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/testObject3d.py
  test/testUtils/testUtils.py
Labels: ready-for-merge, ufe-usd

#1181 replace usage of USD_VERSION_NUM with PXR_VERSION
  CMakeLists.txt
  cmake/compiler_config.cmake
  cmake/modules/FindUSD.cmake
  doc/codingGuidelines.md
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/fileio/utils/adaptor.h
  lib/mayaUsd/fileio/writeJobContext.cpp
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
  lib/mayaUsd/render/mayaToHydra/renderGlobals.h
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/mayaToHydra/renderOverride.h
  lib/mayaUsd/render/mayaToHydra/utils.cpp
  lib/mayaUsd/render/px_vp20/glslProgram.cpp
  lib/mayaUsd/render/px_vp20/utils.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.cpp
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdSceneItem.cpp
  lib/usd/hdMaya/adapters/aiSkydomeLightAdapter.cpp
  lib/usd/hdMaya/adapters/materialAdapter.cpp
  lib/usd/hdMaya/adapters/materialAdapter.h
  lib/usd/hdMaya/delegates/delegateDebugCodes.cpp
  lib/usd/hdMaya/delegates/delegateDebugCodes.h
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
  lib/usd/hdMaya/utils.cpp
  lib/usd/hdMaya/utils.h
  lib/usd/translators/skelReader.cpp
  lib/usd/utils/util.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/PluginRegister.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyDrawOverride.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
Labels: build, ready-for-merge

#1178 MAYA-107273 - As a user, on the stage AE template I'd like to see Pur…
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
Labels: proxy, ready-for-merge

#1176 MAYA-107333 - As a user, on the stage AE template I'd like to use Exc…
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: proxy, ready-for-merge

#1185 Remove the old formatTag option and anything that might still call it
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  lib/usd/ui/layerEditor/mayaSessionState.h
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
  lib/usd/ui/layerEditor/sessionState.h
Labels: ready-for-merge

#1165 MAYA-108067: Remove Z from fallback.
  test/lib/ufe/testComboCmd.py
Labels: ready-for-merge, unit test

#1194 new signal/slot to reset a stage/proxy in the Layer Editor
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  lib/usd/ui/layerEditor/mayaSessionState.h
  lib/usd/ui/layerEditor/sessionState.h
  lib/usd/ui/layerEditor/stageSelectorWidget.cpp
  lib/usd/ui/layerEditor/stageSelectorWidget.h
Labels: bug, ready-for-merge

#1199 updates for building with latest post-21.02 dev branch commit of core USD
  doc/build.md
  lib/mayaUsd/render/pxrUsdMayaGL/sceneDelegate.cpp
  lib/usd/hdMaya/adapters/constantShadowMatrix.h
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
Labels: build, ready-for-merge

#1182 MAYA-109891: Remove dependency on boost filesystem/system.
  CMakeLists.txt
  cmake/gulark.cmake
  doc/build.md
  doc/codingGuidelines.md
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  plugin/al/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/LayerManager.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/LayerManager.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
Labels: core, ready-for-merge

#1104 Support import chaser plugins
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/chaser/CMakeLists.txt
  lib/mayaUsd/fileio/chaser/exportChaser.cpp
  lib/mayaUsd/fileio/chaser/exportChaser.h
  lib/mayaUsd/fileio/chaser/exportChaserRegistry.cpp
  lib/mayaUsd/fileio/chaser/exportChaserRegistry.h
  lib/mayaUsd/fileio/chaser/importChaser.cpp
  lib/mayaUsd/fileio/chaser/importChaser.h
  lib/mayaUsd/fileio/chaser/importChaserRegistry.cpp
  lib/mayaUsd/fileio/chaser/importChaserRegistry.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/jobs/readJob.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/fileio/jobs/writeJob.h
  plugin/pxr/doc/README.md
  plugin/pxr/maya/plugin/pxrUsd/alembicChaser.cpp
  test/lib/usd/plugin/CMakeLists.txt
  test/lib/usd/plugin/infoImportChaser.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdImportChaser.py
Labels: import-export, ready-for-merge

#1188 Uvset names not written
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
Labels: import-export, ready-for-merge

#1192 al: notifyProxyShapeOfRedraw: fix for check if xform has changed
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/TransformationMatrix.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/TransformationMatrix.h
Labels: al, ready-for-merge

#1193 AL: fix proxy shape time-scalar export
  plugin/al/translators/pxrUsdTranslators/ProxyShapeTranslator.cpp
  plugin/al/translators/pxrUsdTranslators/tests/sphere2.usda
  plugin/al/translators/pxrUsdTranslators/tests/testPxrTranslators.py
Labels: al, ready-for-merge

#1201 Fallback, multi-matrix parent absolute.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dSetObjectMatrix.cpp
  lib/mayaUsd/ufe/UsdTransform3dSetObjectMatrix.h
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge

#1203 MAYA-107380 - On stage AE template, load and unload all payloads
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
Labels: adsk, ready-for-merge

#1183 MAYA-109927: Remove dependency on boost::hash_combine.
  doc/codingGuidelines.md
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/renderParams.h
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/hash.h
  lib/usd/hdMaya/adapters/materialAdapter.cpp
Labels: core, ready-for-merge

#1205 MAYA-106780 - Editing USD should mark scene as dirty
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
  plugin/adsk/scripts/mayaUsd_createStageWithNewLayer.py
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/testMayaUsdCreateStageCommands.py
  test/lib/testMayaUsdDirtyScene.py
  test/lib/testMayaUsdLayerEditorCommands.py
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testPythonWrappers.py
  test/lib/ufe/testSelection.py
  test/lib/ufe/testTransform3dChainOfResponsibility.py
Labels: ready-for-merge, unit test

#1184 MAYA-109928: Remove dependency on Boost chrono and date_time.
  plugin/al/CMakeLists.txt
  plugin/al/lib/AL_USDMaya/CMakeLists.txt
Labels: core, ready-for-merge

#1208 Use the nurbs curve selection mask for basis curves.
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
Labels: ready-for-merge, vp2renderdelegate

#1157 MAYA-104490 geom subset material bind support for meshes
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.cpp
  lib/mayaUsd/render/vp2RenderDelegate/meshViewportCompute.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.h
  lib/mayaUsd/render/vp2RenderDelegate/tokens.cpp
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
Labels: ready-for-merge, vp2renderdelegate

#1211 fix include order
  cmake/modules/FindUSD.cmake
Labels: build, ready-for-merge

#1212 null and anonymous layer checks
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/utils/utilSerialization.cpp
Labels: ready-for-merge, workflows

#1214 Tremblp/maya 110153/fix pxr namespace 00
  lib/mayaUsd/ufe/UsdTransform3d.h
  lib/mayaUsd/ufe/UsdTransform3dBase.h
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.h
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.h
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/UsdTransform3dSetObjectMatrix.h
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.h
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.h
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.h
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.h
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  lib/mayaUsd/ufe/UsdUndoRenameCommand.h
  lib/mayaUsd/ufe/UsdUndoReorderCommand.h
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.h
Labels: build, ready-for-merge
