Repository Autodesk/maya-usd, pull requests merged in 2021-05, with the labels that each got.

#1380 MAYA-111346 : AE: Array attribute does not support Nice/Long name.
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, ready-for-merge

#1393 MAYA-108221 - As a user, on the prim AE template I'd like to see usef…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: ready-for-merge

#1390 MAYA-111466 Add a VP2RenderDelegate test for basis curves to ensure they draw correctly
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_selected_complexity0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_selected_complexity1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_selected_complexity2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_selected_complexity3.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_unselected_complexity0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_unselected_complexity1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_unselected_complexity2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/basisCurves_unselected_complexity3.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity3.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity3.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateBasisCurves.py
  test/testSamples/basisCurves/basisCurves.usda
  test/testSamples/basisCurves/nurbsCircleExport.usda
Labels: ready-for-merge, vp2renderdelegate

#1388 Write correct IOR for metallic shaders
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export

#1339 MAYA-108563 - Support default material shading using new SDK APIs
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.h
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/defaultMaterialBillboards_default.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/defaultMaterialBillboards_defaultSelected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/defaultMaterialBillboards_notDefault.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/defaultMaterialBillboards_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/defaultMaterialBillboards_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
  test/testSamples/instances/billboard.usda
  test/testSamples/instances/defaultMaterialBillboards.usda
  test/testSamples/instances/flatquad.usda
  test/testSamples/instances/green_A.png
Labels: vp2renderdelegate

#1392 MAYA-111329: Fix echouer to import none Usdz ( *.usd, *.usda ) files when "USDX Texture import" option was enabled.
  lib/mayaUsd/fileio/jobs/readJob.cpp
Labels: ready-for-merge, workflows

#1401 Added getting started docs link to Detailed Documentation section
  README.md
Labels: documentation

#1398 MAYA-111516 When the instnace count changes we need to update everything related
  lib/mayaUsd/render/vp2RenderDelegate/instancer.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_and_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_and_04_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_04_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_default_after_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_shown_after_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
Labels: ready-for-merge, vp2renderdelegate

#1394 Use new usdShade/material vector based API for USD versions beyond 21.05
  doc/build.md
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
Labels: build, import-export, materials, ready-for-merge

#1411 Remove use of deprecated pxr namespace in favor of PXR_NS
  lib/mayaUsd/ufe/UsdContextOps.h
Labels: ready-for-merge, ufe-usd

#1414 Update Pixar ProxyShape image tests affected from Storm wireframe
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeDrawPerformanceTest/baseline/CubeGrid.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_select_center.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_4.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_unselected.png
Labels: pxr, ready-for-merge, unit test

#1407 MAYA-111184 - Title for Shaping API shows up incorrect in the Attribu…
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: ready-for-merge, ufe-usd

#1386 MAYA-108586: Keep the TF_ERROR message format consistence with TF_WARN and TF_STATUS
  doc/codingGuidelines.md
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/utils/diagnosticDelegate.cpp
  lib/mayaUsd/utils/stageCache.cpp
  test/lib/mayaUsd/utils/testDiagnosticDelegate.py
Labels: enhancement, ready-for-merge

#1406 MAYA-110517 - Crash on redo of creation and manipulation of prim
  test/lib/ufe/testSelection.py
  test/testUtils/mayaUtils.py
Labels: ready-for-merge

#1404 MAYA-110958 Store render item dirty bits with each render item, so hidden items
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDuplicateProxyTest/baseline/colorConsolidation_duplicate.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDuplicateProxyTest/baseline/colorConsolidation_duplicate_AfterMove.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDuplicateProxy.py
Labels: ready-for-merge, vp2renderdelegate

#1409 Move Transform3d handler creation into core.
  lib/mayaUsd/ufe/Global.cpp
  plugin/adsk/plugin/plugin.cpp
Labels: ready-for-merge

#1408 MAYA-111084 - LE save icon missing when scaling is 125%
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
Labels: bug, ready-for-merge

#1410 MAYA-104623 - As a user, I'd like to see connected attributes
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: enhancement, ready-for-merge

#1415 Removed duplicate ufePathToPrim call.
  lib/mayaUsd/ufe/UsdHierarchyHandler.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
Labels: ready-for-merge

#1387 Check for empty paths
  lib/mayaUsd/nodes/layerManager.cpp
Labels: ready-for-merge

#1412 MAYA-110368 send ufe notifications on undo and redo
  lib/mayaUsd/ufe/StagesSubject.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateInteractiveWorkflowsTest/baseline/capsule_redo_set_height.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateInteractiveWorkflowsTest/baseline/capsule_set_height.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateInteractiveWorkflowsTest/baseline/capsule_undo_set_height.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateInteractiveWorkflowsTest/baseline/capsule_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateInteractiveWorkflows.py
  test/lib/ufe/testAttribute.py
Labels: ready-for-merge, ufe-usd, vp2renderdelegate

#1424 MAYA-110972 Enable the new point snapping support for 2022.1
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#1427 MAYA-111523 - Empty categories appear
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, ready-for-merge, regression

#1428 Use Maya matrix decomposition for matrix op TRS accessors.
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  test/lib/ufe/testMatrices.py
  test/testSamples/transform3d/TranslateRotate_vs_xform.usda
Labels: ready-for-merge

#1416 MAYA-109893 Integrate 21.05 UsdPreviewSurface shader into mayaUsd plugin
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurfaceLightAPI1.xml
  lib/mayaUsd/render/vp2ShaderFragments/UsdPreviewSurfaceLightAPI2.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/mayaUsd/render/vp2ShaderFragments/usdPreviewSurfaceLightingAPI1.xml
  lib/mayaUsd/render/vp2ShaderFragments/usdPreviewSurfaceLightingAPI2.xml
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/testMetallicResponseLightAPI1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/testMetallicResponseLightAPI2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, vp2renderdelegate

#1425 MAYA-111407 - See mayaUsdProxyShape icon in the Node Editor
  plugin/adsk/icons/CMakeLists.txt
  plugin/adsk/icons/mayaUsdProxyShape.svg
Labels: adsk

#1429 Update baselines for new storm wireframe rendering
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_select_center.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_1.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_2.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_3.png
  test/lib/mayaUsd/render/pxrUsdMayaGL/ProxyShapeSelectionPerformanceTest/baseline/CubeGrid_selection_append_4.png
Labels: ready-for-merge, unit test

#1431 MAYA-111330 - USDZ Texture import Option should have a capital "I" on import
  lib/mayaUsd/fileio/jobs/readJob.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: import-export, ready-for-merge

#1423 MAYA-111095 - [GitHub #1340] Mute layer doesn't work when a Layer is …
  lib/mayaUsd/commands/layerEditorCommand.cpp
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ready-for-merge

#1422 MAYA-105710: fix USD files fail to load on mapped mounted volume.
  cmake/gulark.cmake
  lib/mayaUsd/utils/utilFileSystem.cpp
Labels: core, ready-for-merge

#1432 MAYA-111760 Invisibile prims don't get notifications on _PropagateDirtyBits or
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
Labels: ready-for-merge, vp2renderdelegate

#1435 Pr/use new schemaregistry api
  doc/build.md
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: build, ready-for-merge

#1436 MAYA-110972 Disable the new point snapping support for the time being.
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: ready-for-merge, vp2renderdelegate

#1434 MAYA-111521: Fix error messages showing up when opening the "Applied Schema" category
  lib/mayaUsd/ufe/UsdAttributes.cpp
Labels: core, ready-for-merge

#1445 Implement setMatrixCmd() for common transform API.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dUndoableCommands.cpp
  lib/mayaUsd/ufe/UsdTransform3dUndoableCommands.h
  lib/mayaUsd/ufe/UsdUndoableCommand.h
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge

#1446 MAYA-112058 - AE Missing Information on Materials and texture
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, ready-for-merge
