Repository Autodesk/maya-usd, pull requests merged in 2021-06, with the labels that each got.

#1449 MAYA-112126: make sure parented object is added to selection list after it is moved.
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
Labels: core, ready-for-merge, ufe-usd

#1453 MAYA-111835: Fix grouping a prim twice that crashed Maya.
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
  test/lib/ufe/testGroupCmd.py
Labels: core, ready-for-merge, workflows

#1459 Revert "MAYA-112126: make sure parented object is added to selection list after it is moved."
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge, unit test

#1461 Fix AE template invalid char
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, ready-for-merge

#1483 Updating changelog for v0.10.0
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#1485 Update version to v0.11.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#1463 MAYA-111691 cards draw mode
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/UsdDrawModeCards.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDrawModesTest/baseline/DrawModes_box_all_negative.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDrawModesTest/baseline/DrawModes_box_all_positive.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDrawModesTest/baseline/DrawModes_cross_all_negative.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDrawModesTest/baseline/DrawModes_cross_all_positive.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDrawModes.py
  test/testSamples/drawModes/DrawModes.usda
  test/testSamples/drawModes/NEG_X.png
  test/testSamples/drawModes/NEG_Y.png
  test/testSamples/drawModes/NEG_Z.png
  test/testSamples/drawModes/POS_X.png
  test/testSamples/drawModes/POS_Y.png
  test/testSamples/drawModes/POS_Z.png
Labels: ready-for-merge, vp2renderdelegate

#1465 Check for SdfCopySpec return result.
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
Labels: ready-for-merge

#1482 Added instruction for installing devtoolset-6 on CentOS.
  doc/build.md
Labels: documentation, ready-for-merge

#1479 Fixed bug with visibility determination
  lib/mayaUsd/utils/util.cpp
Labels: import-export, ready-for-merge

#1443 MAYA-112050 - Pxr tests will use build area for temporary files.
  plugin/pxr/cmake/macros/Public.cmake
Labels: ready-for-merge, unit test

#1499 Add geomSidedness flag to exporter
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/primWriter.cpp
  lib/mayaUsd/fileio/translators/translatorGprim.cpp
  lib/mayaUsd/fileio/translators/translatorGprim.h
  test/lib/usd/translators/testUsdExportMesh.py
Labels: import-export, ready-for-merge

#1504 Deleting assembly nodes that contained child assemblies crashes Maya
  plugin/pxr/maya/lib/usdMaya/referenceAssembly.cpp
Labels: pxr, ready-for-merge

#1510 add action to move new triage
  .github/workflows/maya-usd-new-issues.yml
Labels: ready-for-merge

#1508 MAYA-112335 - Handle source color space in Vp2 render delegate
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, vp2renderdelegate

#1515 Use SdfComputeAssetPathRelativeToLayer to compute sublayer paths
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/pathChecker.cpp
  lib/usd/ui/layerEditor/pathChecker.h
Labels: ready-for-merge, workflows

#1516 MAYA-112059 - UsdUVTexture works with Maya color management prefs
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2ShaderFragments/UsdUVTexture.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.h
Labels: materials, ready-for-merge, vp2renderdelegate

#1478 MaterialX import export
  lib/mayaUsd/fileio/shaderReader.cpp
  lib/mayaUsd/fileio/shaderReader.h
  lib/mayaUsd/fileio/shaderWriter.cpp
  lib/mayaUsd/fileio/shaderWriter.h
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.h
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/mtlxBaseWriter.cpp
  lib/usd/translators/shading/mtlxBaseWriter.h
  lib/usd/translators/shading/mtlxConverterReader.cpp
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/mtlxImageReader.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceReader.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceWriter.cpp
  lib/usd/translators/shading/mtlxStandardSurfaceReader.cpp
  lib/usd/translators/shading/mtlxStandardSurfaceWriter.cpp
  lib/usd/translators/shading/shadingTokens.cpp
  lib/usd/translators/shading/shadingTokens.h
  lib/usd/translators/shading/usdBlinnReader.cpp
  lib/usd/translators/shading/usdBlinnWriter.cpp
  lib/usd/translators/shading/usdDisplacementShaderWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdLambertReader.cpp
  lib/usd/translators/shading/usdLambertWriter.cpp
  lib/usd/translators/shading/usdMaterialReader.cpp
  lib/usd/translators/shading/usdMaterialWriter.cpp
  lib/usd/translators/shading/usdPhongEWriter.cpp
  lib/usd/translators/shading/usdPhongReader.cpp
  lib/usd/translators/shading/usdPhongWriter.cpp
  lib/usd/translators/shading/usdReflectWriter.cpp
  lib/usd/translators/shading/usdStandardSurfaceReader.cpp
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportCustomConverterTest/testScene.ma
  test/lib/usd/translators/UsdExportDisplacementTest/SimpleDisplacement.ma
  test/lib/usd/translators/UsdExportImportRoundtripPreviewSurface/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/UsdExportMaterialXTest/StandardSurfaceTextured.ma
  test/lib/usd/translators/UsdExportUVTransforms/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/UsdExportUVTransforms/UsdExportUVTransforms.ma
  test/lib/usd/translators/UsdImportCustomConverterTest/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/UsdImportCustomConverterTest/UsdImportCustomConverterTest.usda
  test/lib/usd/translators/UsdImportDisplacementTest/RGBA.png
  test/lib/usd/translators/UsdImportDisplacementTest/SimpleDisplacement.usda
  test/lib/usd/translators/UsdImportMaterialX/UsdImportMaterialX.usda
  test/lib/usd/translators/UsdImportMaterialX/standard_surface_gold.mtlx
  test/lib/usd/translators/UsdImportMaterialX/standard_surface_jade.usda
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdExportMaterialX.py
  test/lib/usd/translators/testUsdImportMaterialX.py
  test/lib/usd/translators/textures/Brazilian_rosewood_pxr128.png
  test/lib/usd/translators/textures/Mono.png
  test/lib/usd/translators/textures/MonoA.png
  test/lib/usd/translators/textures/RGB.png
  test/lib/usd/translators/textures/RGBA.png
  test/lib/usd/translators/textures/normalSpiral.png
  test/lib/usd/translators/textures/normalSpiralA.png
Labels: import-export, materials, ready-for-merge

#1517 Change schemaType enum to schemaKind
  lib/usd/schemas/ALMayaReference.cpp
  lib/usd/schemas/ALMayaReference.h
  lib/usd/schemas/MayaReference.cpp
  lib/usd/schemas/MayaReference.h
  lib/usd/schemas/plugInfo.json.in
  plugin/al/schemas/AL/usd/schemas/maya/FrameRange.cpp
  plugin/al/schemas/AL/usd/schemas/maya/FrameRange.h
  plugin/al/schemas/AL/usd/schemas/maya/ModelAPI.cpp
  plugin/al/schemas/AL/usd/schemas/maya/ModelAPI.h
  plugin/al/schemas/AL/usd/schemas/maya/plugInfo.json.in
  plugin/al/schemas/AL/usd/schemas/mayatest/ExamplePolyCubeNode.h
  plugin/al/schemas/AL/usd/schemas/mayatest/plugInfo.json.in
Labels: schema

#1433 MAYA-111897 - Show USD MaterialX in VP2 render delegate
  CMakeLists.txt
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.h
  lib/mayaUsd/render/vp2RenderDelegate/shader.h
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/materialXTw.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
Labels: materials, ready-for-merge, requires maya, vp2renderdelegate

#1522 MAYA-112073 Build a proper index buffer for the default material render item when
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
Labels: ready-for-merge, vp2renderdelegate

#1527 MAYA-111478 - [I] I'd like to see categories persist their expand/collapse state
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: enhancement, ready-for-merge

#1526 MAYA-112226 - Stage to be created without the proxyShape being capitalized
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: adsk, ready-for-merge

#1469 MAYA-111943: Add support for ungroup command.
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdHierarchy.h
  lib/mayaUsd/ufe/UsdUndoUngroupCommand.cpp
  lib/mayaUsd/ufe/UsdUndoUngroupCommand.h
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/undo/UsdUndoStateDelegate.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testUngroupCmd.py
Labels: ready-for-merge, ufe-usd, workflows

#1519 MAYA-110878 - handle multiple deferred notifs for single path
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: bug, ready-for-merge, ufe-usd
