Repository Autodesk/maya-usd, pull requests merged in 2021-08, with the labels that each got.

#1593 MAYA-112867 MayaUSD : Fix unit tests to run in Debug builds
  cmake/test.cmake
  lib/mayaUsd/render/mayaToHydra/renderOverride.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TranslatorContext.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeSelection.cpp
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
  test/lib/mayaUsd/render/pxrUsdMayaGL/CMakeLists.txt
Labels: ready-for-merge, unit test

#1611 MAYA-112438 export opacity of standardSurface to usdPreviewSurface and back.
  lib/mayaUsd/fileio/shaderReader.cpp
  lib/mayaUsd/fileio/shaderReader.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.h
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/shadingTokens.h
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdStandardSurfaceReader.cpp
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  test/lib/usd/translators/UsdExportImportRoundtripPreviewSurfaceTest/OpacityTests.ma
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, ready-for-merge, materials

#1617 Implement UsdTexture2d support in VP2 render delegate
  lib/mayaUsd/render/vp2ShaderFragments/CMakeLists.txt
  lib/mayaUsd/render/vp2ShaderFragments/UsdTransform2d.xml
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/UsdTransform2dTest.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testSamples/UsdPreviewSurface/UsdTransform2dTest.usda
  test/testSamples/UsdPreviewSurface/grid.png
Labels: vp2renderdelegate, ready-for-merge, materials

#1626 MAYA-113212 - Revert to using shading with the V1 lighting API
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
Labels: vp2renderdelegate, ready-for-merge, regression

#1641 Updating changelog for v0.12.0
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#1643 Update version to v0.13.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#1613 MAYA-112790 USD: StagesSubject Failed verification fStageListeners.em…
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/ufe/StagesSubject.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: unit test, ready-for-merge

#1614 Ensure only parent is selected by test.
  test/lib/ufe/testParentCmd.py
Labels: ready-for-merge

#1618 MAYA-113148 MayaUSD: Pass UsdMayaPrimReaderContext as reference inste…
  lib/mayaUsd/fileio/fallbackPrimReader.cpp
  lib/mayaUsd/fileio/fallbackPrimReader.h
  lib/mayaUsd/fileio/functorPrimReader.cpp
  lib/mayaUsd/fileio/functorPrimReader.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/primReader.cpp
  lib/mayaUsd/fileio/primReader.h
  lib/mayaUsd/fileio/primReaderRegistry.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/shading/symmetricShaderReader.cpp
  lib/mayaUsd/fileio/shading/symmetricShaderReader.h
  lib/mayaUsd/fileio/translators/translatorLight.cpp
  lib/mayaUsd/fileio/translators/translatorLight.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.cpp
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceReader.h
  lib/usd/translators/cameraReader.cpp
  lib/usd/translators/lightRfMReader.cpp
  lib/usd/translators/materialReader.cpp
  lib/usd/translators/mayaReferenceReader.cpp
  lib/usd/translators/meshReader.cpp
  lib/usd/translators/nurbsCurvesReader.cpp
  lib/usd/translators/nurbsPatchReader.cpp
  lib/usd/translators/scopeReader.cpp
  lib/usd/translators/shading/mtlxConverterReader.cpp
  lib/usd/translators/shading/mtlxImageReader.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceReader.cpp
  lib/usd/translators/shading/mtlxStandardSurfaceReader.cpp
  lib/usd/translators/shading/usdMaterialReader.cpp
  lib/usd/translators/shading/usdMaterialReader.h
  lib/usd/translators/shading/usdStandardSurfaceReader.cpp
  lib/usd/translators/shading/usdUVTextureReader.cpp
  lib/usd/translators/skelReader.cpp
  lib/usd/translators/xformReader.cpp
  plugin/pxr/maya/lib/usdMaya/readJob_ImportWithProxies.cpp
Labels: ready-for-merge

#1633 MAYA-113230 Minor performance improvement for loading scenes into Vp2RenderDelegate
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#1634 Fixes incorrect Schlick Fresnel for IBL lighting
  lib/mayaUsd/render/vp2ShaderFragments/usdPreviewSurfaceLightingAPI2.xml
Labels: vp2renderdelegate, ready-for-merge, materials

#1638 MAYA-113320 - useSpecularWorkflow now works
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateConsolidationTest/baseline/colorConsolidation_greenSpheres.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateConsolidationTest/baseline/colorConsolidation_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDuplicateProxyTest/baseline/colorConsolidation_duplicate.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDuplicateProxyTest/baseline/colorConsolidation_duplicate_AfterMove.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateGeomSubsetTest/baseline/perFaceShaders_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/UseSpecularWorkflowTest.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testSamples/UsdPreviewSurface/UseSpecularWorkflowTest.usda
Labels: vp2renderdelegate, ready-for-merge, materials

#1619 Pr/allow usd reader registration for tf type tokens
  lib/mayaUsd/fileio/primReaderRegistry.h
  lib/mayaUsd/fileio/translators/translatorRfMLight.cpp
  lib/usd/translators/lightReader.cpp
  lib/usd/translators/plugInfo.json
  lib/usd/translators/scopeReader.cpp
  lib/usd/translators/xformReader.cpp
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
  test/lib/usd/translators/testUsdExportRfMLight.py
Labels: ready-for-merge

#1636 Improperly created scene item must not crash move tool.
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dPointInstance.cpp
  test/lib/ufe/testMoveCmd.py
Labels: ufe-usd, ready-for-merge

#1637 MAYA-113008 Relative paths in the USD Layer Editor are set relative t…
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
Labels: bug, ready-for-merge

#1629 Support for Hydra's new per-draw-item material tag
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#1648 Update RfMLight translators to use codeless schemas
  lib/mayaUsd/fileio/primReaderRegistry.h
  lib/mayaUsd/fileio/translators/translatorRfMLight.cpp
  lib/usd/translators/lightRfMReader.cpp
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
  test/lib/usd/translators/testUsdExportRfMLight.py
Labels: core, schema, ready-for-merge

#1644 MAYA-113009 prevent saving layers with identical names.
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/stringResources.h
Labels: enhancement, ready-for-merge

#1645 MAYA-113212 wait for fixed v2 api
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/LightAPI_V1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/LightAPI_V2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/SSAO_LightAPI_V1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/SSAO_LightAPI_V2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/Shadow_LightAPI_V1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/Shadow_LightAPI_V2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testSamples/UsdPreviewSurface/LightAPI_Test.usda
Labels: vp2renderdelegate, ready-for-merge, materials

#1655 Hierarchical parenting and grouping test additions to demonstrate May…
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testParentCmd.py
Labels: unit test, ready-for-merge

#1663 Temporarily disable part of the test while I update it.
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
Labels: vp2renderdelegate, ready-for-merge

#1661 MAYA-113447 Make sure that any prims whose purpose changed get updated, and make
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#1669 Update primvars with instance interpolation when instancing is dirty.
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_and_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_default_after_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_ball_03_and_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_ball_03_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_ball_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_default_after_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
Labels: vp2renderdelegate, ready-for-merge

#1662 Set the Ufe Identifier on MRenderItems for isolate select support.
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge

#1671 MAYA-113442 fix standard surface export
  lib/usd/translators/shading/usdStandardSurfaceWriter.cpp
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
Labels: import-export, ready-for-merge, materials

#1673 T bailp/maya 112769/usd prim selectability
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/plugInfo.json
  lib/mayaUsd/utils/selectability.cpp
  lib/mayaUsd/utils/selectability.h
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateSelectability.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateSelectabilityPointInstanceSelection.py
  test/testSamples/selectability/cone-layer-selectable-1.usda
  test/testSamples/selectability/cone-layer-selectable-2.usda
  test/testSamples/selectability/cone-layer-selectable-3.usda
  test/testSamples/selectability/cone-layer-unselectable-1.usda
  test/testSamples/selectability/cone-layer-unselectable-2.usda
  test/testSamples/selectability/cone-layer-unselectable-3.usda
Labels: enhancement, core, vp2renderdelegate, ready-for-merge
