Repository Autodesk/maya-usd, pull requests merged in 2022-11, with the labels that each got.

#2691 MAYA-125895 transfer state from root layer when toggling shareable stage
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: adsk, ready-for-merge

#2700 MAYA-123716 - Duplicated prim to be on the Display Layer that the source prim was on
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/testDisplayLayer.py
Labels: ufe-usd, ready-for-merge

#2686 LOOKDEVX-606 - Improve undo/redo capabilities
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdSceneItemOps.cpp
  lib/mayaUsd/ufe/UsdSceneItemOps.h
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.h
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.cpp
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.h
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
Labels: ufe-usd, ready-for-merge

#2701 MAYA-125895 Handle timecodes-per-second when flipping shared state
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: adsk, ready-for-merge

#2703 MAYA-125954 USD import command support prim variants
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  test/lib/usd/translators/UsdImportSessionLayerTest/Cubes.usda
  test/lib/usd/translators/testUsdImportSessionLayer.py
Labels: import-export, ready-for-merge

#2666 MAYA-125747 Implement filtered version of findGatewayItems().
  lib/mayaUsd/ufe/ProxyShapeSceneSegmentHandler.cpp
  lib/mayaUsd/ufe/ProxyShapeSceneSegmentHandler.h
  test/lib/ufe/testSceneSegment.py
Labels: ufe-usd, ready-for-merge

#2644 LOOKDEVX-862- Rename ports
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.cpp
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.h
  test/lib/ufe/testAttributes.py
Labels: ufe-usd, ready-for-merge

#2708 MAYA125953 worldspace flag for Maya USD export
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/transformWriter.cpp
  lib/mayaUsd/fileio/transformWriter.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  lib/mayaUsd/utils/utilDictionary.h
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/pxr/maya/lib/usdMaya/usdTranslatorExport.mel
  test/lib/usd/translators/UsdExportRootsTest/UsdExportRootsTest.ma
  test/lib/usd/translators/testUsdExportRoots.py
Labels: enhancement, adsk, import-export, ready-for-merge

#2709 MAYA-125723 - Implement display layer's bbox mode for instanced geometry
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
Labels: vp2renderdelegate, ready-for-merge

#2687 MAYA-125378 Implementation batched duplication
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdBatchOpsHandler.cpp
  lib/mayaUsd/ufe/UsdBatchOpsHandler.h
  lib/mayaUsd/ufe/UsdUndoDuplicateSelectionCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateSelectionCommand.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testBatchOpsHandler.py
  test/testSamples/MaterialX/BatchOpsTestScene.usda
Labels: ufe-usd, ready-for-merge

#2704 MAYA-126109 | Triggers attribute metadata changed notification.
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  test/lib/ufe/testAttribute.py
  test/testSamples/MaterialX/sin_compound.usda
Labels: ufe-usd, ready-for-merge

#2716 MAYA-126109 | Attempt to fix build.
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: build, ready-for-merge

#2718 MAYA-125275 preserve the layer manager expanded layers
  lib/usd/ui/layerEditor/layerTreeView.cpp
  lib/usd/ui/layerEditor/layerTreeView.h
  lib/usd/ui/layerEditor/qtUtils.cpp
  lib/usd/ui/layerEditor/qtUtils.h
Labels: enhancement, adsk, ready-for-merge

#2713 Fix default export logic if subdivScheme is none
  lib/usd/translators/meshWriter.cpp
  test/lib/usd/translators/UsdExportMeshTest/UsdExportMeshTest.ma
Labels: import-export, ready-for-merge

#2635 Clearing out stage listeners before creating new ones
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
Labels: ufe-usd, ready-for-merge

#2720 MAYA-126141 allow creating prims in weaker layers.
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/mayaUsd/ufe/UsdUndoAddNewPrimCommand.h
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2725 Test if visibility edit is valid before returning command.
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.cpp
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.h
  test/lib/ufe/testVisibilityCmd.py
Labels: ufe-usd, ready-for-merge

#2726 Adapt testConnections for USD 22.11
  test/lib/ufe/testConnections.py
Labels: unit test, ready-for-merge

#2684 MAYA-125036 wipe and restore orphaned session data
  lib/mayaUsd/commands/PullPushCommands.cpp
  lib/mayaUsd/fileio/CMakeLists.txt
  lib/mayaUsd/fileio/orphanedNodesManager.cpp
  lib/mayaUsd/fileio/orphanedNodesManager.h
  lib/mayaUsd/fileio/orphanedNodesManagerIO.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/primUpdaterManager.h
  lib/mayaUsd/fileio/pullInformation.cpp
  lib/mayaUsd/fileio/pullInformation.h
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
  lib/mayaUsd/ufe/MayaUIInfoHandler.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/PulledObjectHierarchyHandler.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdPathMappingHandler.cpp
  lib/usd/translators/mayaReferenceUpdater.cpp
  test/lib/mayaUsd/fileio/testHideOrphanedNodes.py
Labels: adsk, ready-for-merge

#2732 Add includes that were being pulled transitively
  lib/usd/translators/lightRfMWriter_PxrMeshLight.cpp
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/plugin/importTranslator.cpp
  plugin/pxr/maya/lib/usdMaya/exportTranslator.cpp
  plugin/pxr/maya/lib/usdMaya/importTranslator.cpp
Labels: build, ready-for-merge

#2674 MAYA-125745 - Implementation of UFE Material Interface
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdMaterial.cpp
  lib/mayaUsd/ufe/UsdMaterial.h
  lib/mayaUsd/ufe/UsdMaterialHandler.cpp
  lib/mayaUsd/ufe/UsdMaterialHandler.h
  plugin/adsk/scripts/USDMenuProc.mel
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testMaterial.py
  test/testSamples/material/multipleMaterials.usda
  test/testSamples/material/noMaterial.usda
  test/testSamples/material/singleMaterial.usda
Labels: ufe-usd, ready-for-merge

#2641 Assign new material to multiple objects
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.h
  test/lib/ufe/testContextOps.py
  test/testUtils/testUtils.py
Labels: ufe-usd, ready-for-merge

#2734 MAYA-126368 make import *not* use the shared stage cache
  lib/mayaUsd/fileio/jobs/readJob.cpp
  test/lib/usd/translators/testUsdImportSessionLayer.py
  test/testUtils/usdUtils.py
Labels: adsk, import-export, ready-for-merge

#2690 MAYA-125039 handle rename and reparent in the orphaned nodes manager
  lib/mayaUsd/fileio/orphanedNodesManager.cpp
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/orphanedNodesManagerUtil.cpp
  lib/mayaUsd/fileio/utils/orphanedNodesManagerUtil.h
  test/lib/mayaUsd/fileio/testEditAsMaya.py
Labels: adsk, ready-for-merge

#2728 MAYA-126117 - Point instancer: performance drop on point instanced selection.
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDisplayLayers.py
Labels: vp2renderdelegate, ready-for-merge

#2736 MAYA-126129 more precise edit restrictions for metadata and variants
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoReorderCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  lib/mayaUsd/ufe/private/Utils.cpp
  lib/mayaUsd/ufe/private/Utils.h
  test/lib/ufe/testContextOps.py
Labels: adsk, ufe-usd, ready-for-merge

#2730 MAYA-124097 anim channel code clarification
  lib/mayaUsd/fileio/transformWriter.cpp
  lib/mayaUsd/fileio/transformWriter.h
Labels: adsk, import-export, ready-for-merge

#2737 LOOKDEVX-991 Improve usability of NoExec commands
  lib/mayaUsd/ufe/UsdSceneItemOps.cpp
  lib/mayaUsd/ufe/UsdSceneItemOps.h
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.h
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.h
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testRename.py
Labels: ufe, ufe-usd, ready-for-merge

#2731 MAYA-124097 export parent offset matrix
  lib/mayaUsd/fileio/transformWriter.cpp
  lib/mayaUsd/fileio/transformWriter.h
  lib/mayaUsd/fileio/utils/xformStack.h
  test/lib/mayaUsd/fileio/testDuplicateAs.py
  test/testSamples/rig_with_opm/offset_parent_matrix_rig.ma
Labels: adsk, import-export, ready-for-merge

#2742 MAYA-122481 fix rendering crash with MtoH
  lib/usd/hdMaya/delegates/sceneDelegate.cpp
  lib/usd/hdMaya/delegates/sceneDelegate.h
Labels: adsk, mtoh, ready-for-merge, crash

#2743 MAYA-126367 issue error message for invalid variant selection
  lib/mayaUsd/fileio/jobs/readJob.cpp
Labels: adsk, import-export, ready-for-merge

#2715 Remove reference to vaccine python code
  test/lib/usd/translators/UsdExportRfMLightTest/RfMLightsTest.ma
Labels: unit test

#2747 MAYA-123716 - As a user, I'd like my duplicated prim to be on the Display Layer that the source prim was on
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
Labels: workflows, ready-for-merge, display layers

#2733 Allow connecting filename attributes.
  lib/mayaUsd/ufe/UsdAttribute.h
Labels: ufe, ufe-usd, ready-for-merge

#2751 MAYA-126504 - Performance Issue: AntiquesMall Scene now takes 20+ minutes to load in Maya
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge
