Repository Autodesk/maya-usd, pull requests merged in 2022-10, with the labels that each got.

#2601 Update exporters for string varnames
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/usd/translators/shading/mtlxBaseWriter.cpp
  lib/usd/translators/shading/mtlxBaseWriter.h
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/mtlxPlace2dTextureWriter.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceWriter.cpp
  lib/usd/translators/shading/mtlxStandardSurfaceWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/usd/translators/testUsdExportMaterialX.py
  test/lib/usd/translators/testUsdExportMultiMaterial.py
Labels: import-export

#2580 MAYA-125028 add layer muting serialization to the proxy shape
  lib/mayaUsd/listeners/stageNoticeListener.cpp
  lib/mayaUsd/listeners/stageNoticeListener.h
  lib/mayaUsd/nodes/CMakeLists.txt
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/proxyShapePlugin.cpp
  lib/mayaUsd/nodes/proxyShapeStageExtraData.cpp
  lib/mayaUsd/nodes/proxyShapeStageExtraData.h
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/dynamicAttribute.cpp
  lib/mayaUsd/utils/dynamicAttribute.h
  lib/mayaUsd/utils/layerMuting.cpp
  lib/mayaUsd/utils/layerMuting.h
  lib/mayaUsd/utils/loadRules.h
  lib/mayaUsd/utils/loadRulesAttribute.cpp
  lib/mayaUsd/utils/utilSerialization.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/mayaUsd/utils/CMakeLists.txt
Labels: core

#2625 MAYA-124365 test prim undo delete vs display layer
  test/lib/ufe/testDisplayLayer.py
Labels: unit test, ready-for-merge

#2638 Fix orphaned node discard edits with unloaded ancestor.
  lib/mayaUsd/fileio/orphanedNodesManager.cpp
  lib/mayaUsd/fileio/orphanedNodesManager.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testDiscardEdits.py
Labels: workflows

#2634 MAYA-125101 Correct handling of display list vs variants
  lib/mayaUsd/fileio/orphanedNodesManager.cpp
  lib/mayaUsd/ufe/UsdStageMap.cpp
  test/lib/mayaUsd/fileio/testHideOrphanedNodes.py
Labels: workflows, ready-for-merge

#2622 Degiroa/lookdevx 125331/handle automatic creation of attribute unique name
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.cpp
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.h
  test/lib/ufe/testAttributes.py
Labels: ufe-usd, ready-for-merge

#2628 MAYA-123720 - As a user, I'd like Display Layer membership to survive the 'Edit As Maya Data' workflow
  lib/mayaUsd/fileio/primUpdaterContext.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/testDisplayLayer.py
Labels: workflows, ready-for-merge

#2667 MAYA-125835 - Temporarily disable support for display layers in EditAsMaya workflows to avoid the crash
  lib/mayaUsd/ufe/Utils.cpp
  test/lib/ufe/testDisplayLayer.py
Labels: ready-for-merge

#2662 MAYA-125786 make adding a pulled prim to the orphan manager undoable
  lib/mayaUsd/fileio/primUpdaterManager.cpp
Labels: bug, adsk, ready-for-merge, crash

#2677 Updating changelog for v0.20.0
  doc/CHANGELOG.md
Labels: documentation, ready-for-merge

#2679 Update version to v0.21.0
  cmake/mayausd_version.info
Labels: build

#2663 Properly track usage of shared render items
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.cpp
Labels: bug, vp2renderdelegate, ready-for-merge

#2675 MAYA-125649 - Build MayaUsd on RHEL8 with new ABI when Maya switches
  CMakeLists.txt
  cmake/compiler_config.cmake
  cmake/googletest.cmake
  cmake/modules/FindMaya.cmake
Labels: build, ready-for-merge

#2647 MAYA-124644 - Create an auto-test for display layer attributes 'hide-on-playback', 'template' and 'reference'
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_bbox.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_colored.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_hideonplayback.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_reference.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_rgbcolor.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_templated.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_sphere234_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_textured.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayers_untextured.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDisplayLayers.py
Labels: unit test, ready-for-merge

#2648 MAYA-124664 Update USD render when color prefs change
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/templatedDisplayLayer_active.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDisplayLayers.py
Labels: bug, vp2renderdelegate, ready-for-merge

#2664 MAYA-125816 fix nurbs curves UI when using export job context
  lib/mayaUsd/fileio/doc/Managing_export_options_via_JobContext_in_Python.md
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: bug, adsk, import-export, ready-for-merge

#2670 MAYA-125867 fix edit-as-Maya on fresh Maya session
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/primUpdaterManager.h
Labels: bug, adsk, ready-for-merge

#2671 Allow custom UI hooks for mayaUsdProxyShape
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
Labels: adsk, ready-for-merge

#2645 Added test for getAllStages() versus delete.
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/testPythonWrappers.py
Labels: unit test, ready-for-merge

#2673 MAYA-123719 - Bringing back the display layers in EditAsMaya support by fixing the crash
  lib/mayaUsd/ufe/Utils.cpp
  test/lib/ufe/testDisplayLayer.py
Labels: ufe-usd, ready-for-merge

#2654 Removing unnecessary explicit 'pxr' namespacing
  lib/mayaUsd/render/mayaToHydra/utils.cpp
Labels: build, ready-for-merge

#2658 LOOKDEVX-784 | Makes use of USD_FORCE_DEFAULT_MATERIALS_SCOPE_NAME an…
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2680 Pr/use usd preview surface for cards draw mode
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2ShaderFragments/shaderFragments.cpp
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/baseline/InstancerTest_cards.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/baseline/InstancerTest_frame50.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/baseline/InstancerTest_instance2.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/RefAssemblyDrawRepresentationsTest/baseline/RefAssemblyDrawRepresentationsTest_Cards.png
Labels: pxr, vp2renderdelegate, ready-for-merge
