Repository Autodesk/maya-usd, pull requests merged in 2022-12, with the labels that each got.

#2760 LOOKDEVX-997 | Adds default UsdShaderAttributeDef uisoftmin value of 0.0
  lib/mayaUsd/ufe/UsdShaderAttributeDef.cpp
Labels: ufe, ufe-usd, ready-for-merge

#2729 Fix lost connection for output port with parent
  lib/mayaUsd/ufe/UsdAttributes.cpp
  test/lib/ufe/testAttributes.py
  test/testSamples/MaterialX/MayaSurfaces.usda
Labels: ufe, ufe-usd, ready-for-merge

#2755 Allow retrieving Arnold "uimin" metadata.
  lib/mayaUsd/ufe/UsdShaderAttributeDef.cpp
Labels: ufe, arnold, ready-for-merge

#2746 Fix duplication of homonyms
  lib/mayaUsd/ufe/UsdUndoDuplicateSelectionCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateSelectionCommand.h
  test/lib/ufe/testDuplicateCmd.py
Labels: ufe, ufe-usd, ready-for-merge

#2748 Adding another explicit include to mutex
  lib/mayaUsd/fileio/primUpdaterArgs.cpp
Labels: build, ready-for-merge

#2777 Updating changelog for v0.21.0
  doc/CHANGELOG.md
Labels: documentation, ready-for-merge

#2779 Update version to v0.21.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#2762 MAYA-125918 auto re-edit when merging a Maya Ref
  lib/mayaUsd/fileio/primUpdaterContext.cpp
  lib/mayaUsd/fileio/primUpdaterContext.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/python/wrapPrimUpdater.cpp
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/EditAsMayaCommand.cpp
  lib/mayaUsd/ufe/EditAsMayaCommand.h
  lib/mayaUsd/ufe/SetVariantSelectionCommand.cpp
  lib/mayaUsd/ufe/SetVariantSelectionCommand.h
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/undo/OpUndoItemList.h
  lib/mayaUsd/undo/OpUndoItems.cpp
  lib/mayaUsd/undo/OpUndoItems.h
  lib/usd/translators/mayaReferenceUpdater.cpp
  test/lib/mayaUsd/fileio/testAddMayaReference.py
  test/lib/mayaUsd/fileio/testCacheToUsd.py
  test/lib/mayaUsd/fileio/testPrimUpdater.py
  test/lib/ufe/testContextOps.py
Labels: adsk, workflows, ready-for-merge

#2769 MAYA-125036 correctly disable merge to USD
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUsd.py
Labels: bug, adsk, ready-for-merge

#2776 Fix material export when preserving UVset names
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  test/lib/usd/translators/testUsdExportUVSetMappings.py
Labels: import-export, ready-for-merge

#2775 Outliner rework of Material items:
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.h
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge, outliner

#2781 Fix USD Min build after outliner rework
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: build, ready-for-merge

#2780 MAYA-125728 - Implement display layer's hide-on-playback flag for instanced geometry
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
Labels: vp2renderdelegate, ready-for-merge

#2787 MAYA-000000 fix test
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePrimPath.py
Labels: adsk, ready-for-merge, regression
