Repository Autodesk/maya-usd, pull requests merged in 2022-08, with the labels that each got.

#2511 Use Sdr for RfM light translation
  lib/mayaUsd/fileio/translators/CMakeLists.txt
  lib/mayaUsd/fileio/translators/translatorRfMLight.cpp
  lib/mayaUsd/fileio/translators/translatorRfMLight_deprecated.cpp
  lib/mayaUsd/fileio/translators/translatorUtil.cpp
  lib/mayaUsd/fileio/translators/translatorUtil.h
  lib/mayaUsd/utils/converter.cpp
  lib/mayaUsd/utils/converter.h
Labels: import-export, ready-for-merge

#2514 MayaUSD implementation of the AddAttribute API
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dUndoableCommands.cpp
  lib/mayaUsd/ufe/UsdTransform3dUndoableCommands.h
  lib/mayaUsd/ufe/UsdUIUfeObserver.cpp
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.cpp
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.h
  lib/mayaUsd/ufe/UsdUndoableCommand.h
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testAttributes.py
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testConnections.py
Labels: ufe-usd, ready-for-merge

#2519 MAYA-123160 - As a user, I'd like my prims to be referenced in a Display Layer
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/points.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge

#2520 Feldstj/usd UI node graph node
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdUINodeGraphNode.cpp
  lib/mayaUsd/ufe/UsdUINodeGraphNode.h
  lib/mayaUsd/ufe/UsdUINodeGraphNodeHandler.cpp
  lib/mayaUsd/ufe/UsdUINodeGraphNodeHandler.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testUINodeGraphNode.py
Labels: ufe-usd, ready-for-merge

#2447 MAYA-123876 preserve session layer on save
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/layerManager.h
  lib/mayaUsd/utils/stageCache.cpp
  lib/mayaUsd/utils/stageCache.h
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.h
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
  test/lib/mayaUsd/nodes/testLayerManagerSerialization.py
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/testUtils/testUtils.py
Labels: ready-for-merge

#2497 MAYA-124418 copy transform to the correct variant.
  lib/mayaUsd/utils/editRouter.cpp
  lib/mayaUsd/utils/variants.h
  lib/usd/translators/mayaReferenceUpdater.cpp
  test/lib/mayaUsd/fileio/testCacheToUsd.py
Labels: ready-for-merge

#2525 Added test for group pivot options Maya fix.
  test/lib/ufe/testGroupCmd.py
Labels: unit test, ready-for-merge

#2524 MAYA-124484: Display Layers
  test/lib/mayaUsd/fileio/testDisplayLayerSaveRestore.py
  test/lib/ufe/testDisplayLayer.py
Labels: unit test, ready-for-merge

#2528 T gamaj/update to materialx 1 38 5
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.h
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.cpp
Labels: build, ready-for-merge

#2535 Update CLA
  doc/AutodeskFormCorpContribAgmtForOpenSource.docx
  doc/AutodeskFormIndContribAgmtForOpenSource.docx
Labels: build

#2555 Updating changelog for v0.19.0
  doc/CHANGELOG.md
Labels: documentation

#2559 Update version to v0.20.0
  cmake/mayausd_version.info
Labels: build

#2526 MAYA-124418 document the Maya ref edit router
  README_DOC.md
  lib/usd/translators/mayaReferenceEditRouter.md
Labels: documentation, ready-for-merge

#2536 Use the PXR namespace directive
  lib/mayaUsd/utils/editRouter.cpp
Labels: build, ready-for-merge

#2537 Use TF_WARN when passed an invalid Path
  lib/mayaUsd/ufe/Utils.cpp
Labels: ufe-usd, ready-for-merge

#2529 Flush all resource caches on exit
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.h
Labels: vp2renderdelegate, ready-for-merge

#2534 Improve connecting to surface experience
  lib/mayaUsd/ufe/StagesSubject.cpp
  lib/mayaUsd/ufe/UsdConnectionHandler.cpp
Labels: ufe-usd, ready-for-merge, materials

#2538 Update callsite to use new Hydra API
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate, ready-for-merge

#2539 Disconnection code improvements
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/ufe/UsdConnectionHandler.cpp
  test/lib/ufe/testConnections.py
Labels: ufe-usd, ready-for-merge

#2542 MAYA-123163 - As a user, I'd like my prims to be in bounding box mode when in a Display Layer
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/points.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge

#2543 Fix MaterialX conversion crash with invalid graphs
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate, ready-for-merge, materials

#2544 Fix issues deleting attributes on NodeGraphs
  lib/mayaUsd/ufe/UsdAttributes.cpp
  test/lib/ufe/testConnections.py
Labels: ufe-usd, ready-for-merge

#2546 Route visibility edits and run clang-format
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.cpp
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.h
  lib/mayaUsd/utils/editRouter.cpp
  lib/mayaUsd/utils/editRouter.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testVisibilityCmd.py
Labels: workflows, ready-for-merge

#2531 Include Extra Knots for NurbsCurves Export
  lib/usd/translators/nurbsCurveWriter.cpp
  test/lib/usd/translators/testUsdExportNurbsCurve.py
Labels: import-export, ready-for-merge

#2551 Fix configuration error when GULRAK_SOURCE_DIR is specified on Windows
  cmake/gulrak.cmake
Labels: build, ready-for-merge

#2561 MAYA-123044: As a user, I'd like to see orphaned objects' icons dimmed
  lib/mayaUsd/ufe/MayaUIInfoHandler.cpp
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testEditAsMaya.py
  test/lib/ufe/testUIInfoHandler.py
Labels: ufe-usd, ready-for-merge

#2564 Mark primitives as dirty if the shader has been rebuilt
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2566 MAYA-122572 - Cached to USD dialog: Label gets cut off on parent prim…
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: adsk, ready-for-merge

#2562 MAYA-123179 - As a user, I'd like my prims to be in unshaded mode when in a Display Layer
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
Labels: vp2renderdelegate, ready-for-merge

#2548 Always write color space to usd texture prims
  lib/usd/translators/shading/usdFileTextureWriter.cpp
Labels: import-export, ready-for-merge

#2547 Add support for doubles to GetDictionaryFromArgDatabase
  lib/mayaUsd/utils/util.cpp
Labels: core, ready-for-merge

#2568 Pr/use hydra material id fix
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2565 MAYA-124820: When adding an Xform to a USD prim two entries are shown…
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
Labels: ufe-usd, ready-for-merge

#2573 Update build.md with USD v22.08 support
  doc/build.md
Labels: documentation, ready-for-merge

#2533 MAYA-113642 disallow switching variants in a weaker layer.
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/private/Utils.cpp
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2574 Update rels and cnx on prim rename
  lib/usd/utils/util.cpp
  test/lib/ufe/testRename.py
Labels: ufe-usd, ready-for-merge

#2390 Allowing a new prim spec to be written in edit target layers
  lib/mayaUsd/ufe/Utils.cpp
  test/lib/ufe/testAttributeBlock.py
  test/testSamples/attributeBlock/root.usda
  test/testSamples/attributeBlock/subB.usda
  test/testSamples/attributeBlock/subBRef.usda
  test/testSamples/attributeBlock/subC.usda
  test/testSamples/attributeBlock/subCRef.usda
  test/testSamples/attributeBlock/sublayerOfSubB.usda
Labels: ufe, unit test, ready-for-merge

#2569 Workaround for USD Issue 2013
  lib/mayaUsd/ufe/UsdConnectionHandler.cpp
Labels: ufe-usd, ready-for-merge

#2575 MAYA-124107 - MayaUSD: build as Universal Binary 2 (x86_64 + arm64)
  CMakeLists.txt
  build.py
  cmake/googletest.cmake
  cmake/googletest_download.txt.in
  cmake/googletest_src.txt.in
  cmake/utils.cmake
Labels: build, ready-for-merge
