Repository Autodesk/maya-usd, pull requests merged in 2022-06, with the labels that each got.

#2383 Implementing testVP2RenderDelegateCameras autotest
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_stage_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_stage_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_with_new_camera.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateCameras.py
  test/testSamples/camera/RenderCameras.usda
Labels: vp2renderdelegate, unit test, ready-for-merge

#2395 MAYA-123372 only save the user-selected filter type when the dialog is confirmed
  lib/mayaUsd/resources/scripts/mayaUsdCacheMayaReference.py
  lib/mayaUsd/resources/scripts/mayaUsdUtils.py
Labels: adsk, ready-for-merge

#2396 Guard against a NULL Usd Stage when rendering
  lib/mayaUsd/nodes/proxyShapeBase.cpp
Labels: core, ready-for-merge

#2397 MAYA-123462 usdEditAsMaya set doesn't disappear when cancelling editi…
  lib/mayaUsd/ufe/UsdAttributes.cpp
Labels: ufe, ready-for-merge

#2401 Update build.md
  doc/build.md
Labels: documentation, ready-for-merge

#2378 Creating a testVP2RenderDelegateLight test
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLights_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLights_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLights_stage_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLights_stage_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLights_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLights_with_new_light.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateLights.py
  test/testSamples/light/RenderLights.usda
  test/testUtils/imageUtils.py
Labels: unit test, ready-for-merge

#2407 MAYA-123714 As a user, I'd like to set options when I Duplicate to US…
  lib/mayaUsd/resources/scripts/CMakeLists.txt
  lib/mayaUsd/resources/scripts/mayaUsdDuplicateAsMayaDataOptions.mel
  lib/mayaUsd/resources/scripts/mayaUsdDuplicateAsMayaDataOptions.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: adsk, core, ready-for-merge

#2406 MAYA-123507 - PluginLight needs to use the Light Icon instead of falling back to Xform icon
  cmake/test.cmake
  lib/mayaUsd/resources/icons/CMakeLists.txt
  lib/mayaUsd/resources/icons/out_USD_PluginLight_100.png
  lib/mayaUsd/resources/icons/out_USD_PluginLight_150.png
  lib/mayaUsd/resources/icons/out_USD_PluginLight_200.png
  lib/mayaUsd/ufe/UsdUIInfoHandler.cpp
  test/lib/CMakeLists.txt
  test/lib/ufe/testUIIcons.py
Labels: bug, unit test, ready-for-merge

#2400 MAYA-114678 [Github #1739] USDExport: using "parentScope" and "export…
  lib/mayaUsd/fileio/writeJobContext.cpp
Labels: core, ready-for-merge

#2412 Test pixelMove UFE support.
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testPixelMoveCmd.py
  test/testUtils/mayaUtils.py
Labels: unit test, ready-for-merge

#2417 UFE light support in versions below UFE 4 (particularly UFE 3.1)
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
Labels: ufe-usd, ready-for-merge

#2423 Fixed documentation for subdivision scheme.
  lib/mayaUsd/commands/Readme.md
Labels: documentation, ready-for-merge

#2410 MAYA-123361 fix unshared stage toggling and loading
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/stageNode.cpp
  lib/mayaUsd/python/wrapStageCache.cpp
  lib/mayaUsd/utils/stageCache.cpp
  lib/mayaUsd/utils/stageCache.h
  plugin/pxr/maya/lib/usdMaya/referenceAssembly.cpp
  plugin/pxr/maya/lib/usdMaya/translatorModelAssembly.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/testMayaUsdPythonImport.py
Labels: workflows, ready-for-merge

#2414 Unauthored attrs changes
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttribute.h
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
  lib/mayaUsd/ufe/UsdShaderAttributeDef.cpp
  lib/mayaUsd/ufe/UsdShaderNodeDef.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/mayaUsd/utils/CMakeLists.txt
  test/lib/mayaUsd/utils/testSplitString.cpp
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2419 T bailp/maya 123815/reparent on deactivated
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdUndoCreateGroupCommand.cpp
Labels: ready-for-merge

#2432 Fixing compilation for Maya PR 134.
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
  lib/mayaUsd/ufe/Utils.cpp
Labels: build, ready-for-merge

#2434 MAYA-12405 - MayaUsd: re-enable test testUsdChangeProcessingProxy aft…
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawUsdChangeProcessing.py
Labels: unit test, build

#2435 Test Maya fixes for MAYA-122305 and MAYA-123312 (center pivot)
  test/lib/ufe/testComboCmd.py
Labels: unit test, ready-for-merge

#2421 MAYA-114724/MAYA-114039 - Progress bar for import/export/push/pull
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporter.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/progressBarScope.cpp
  lib/mayaUsd/utils/progressBarScope.h
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/plugin/importTranslator.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
Labels: enhancement, adsk, core, ready-for-merge

#2427 MAYA-122511 Set the color and specular roughness on the default standard surface
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
  test/testUtils/mtohUtils.py
Labels: unit test, build, ready-for-merge

#2385 Respect prim writer ShouldPruneChildren when shading mode is useRegistry
  lib/mayaUsd/fileio/shaderWriterRegistry.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.cpp
  lib/mayaUsd/fileio/shading/shadingModeRegistry.h
Labels: core, ready-for-merge

#2428 MAYA-114376 preserve unsaved root layer
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: core, ready-for-merge

#2433 LOOKDEVX-605 - Add list/create/delete connections
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttribute.h
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdConnectionHandler.cpp
  lib/mayaUsd/ufe/UsdConnectionHandler.h
  lib/mayaUsd/ufe/UsdConnections.cpp
  lib/mayaUsd/ufe/UsdConnections.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testAttributeInfo.py
  test/lib/ufe/testConnections.py
  test/testSamples/UsdPreviewSurface/DisplayColorCube.usda
Labels: ufe-usd, ready-for-merge

#2436 MAYA-123877 Prepend reference/payload doesn't work in Caching Maya Ref
  lib/mayaUsd/resources/scripts/mayaUsdCacheMayaReference.py
Labels: workflows, ready-for-merge

#2439 MAYA-123903 reset all merge and duplicate options
  lib/mayaUsd/resources/scripts/mayaUsdDuplicateAsMayaDataOptions.py
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
Labels: adsk, ready-for-merge

#2431 Provide explicit export options in tests
  test/lib/mayaUsd/fileio/testComponentTags.py
  test/lib/usd/translators/testUsdExportUVSetMappings.py
  test/lib/usd/translators/testUsdExportUVSets.py
Labels: unit test, ready-for-merge

#2448 MAYA-124088: USD breaks callback registration for addRMBBakingMenuItems
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: adsk, ready-for-merge
