Repository Autodesk/maya-usd, pull requests merged in 2022-07, with the labels that each got.

#2450 Update build.md with Maya 2023 info
  doc/build.md
Labels: documentation, ready-for-merge

#2445 MAYA-123980 Run gizmo tests in 2023.2.
  cmake/modules/FindMaya.cmake
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/ufe/CMakeLists.txt
Labels: unit test, ready-for-merge

#2453 MAYA-124244 MacOS: mayausd doesn't load on older Mac systems. (10.15.7)
  CMakeLists.txt
Labels: build, ready-for-merge

#2442 Fix handling of empty materialCollectionsPath
  lib/mayaUsd/fileio/shading/shadingModeExporter.cpp
Labels: import-export, ready-for-merge

#2456 MAYA-124144 MayaUsd: Maya OSX blessing failing GTest:AL_USDTransactio…
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/usdtransaction/AL/usd/transaction/tests/CMakeLists.txt
Labels: unit test, ready-for-merge

#2457 Fix discovery and creation of namespaced nodes
  lib/mayaUsd/ufe/UsdShaderNodeDef.cpp
Labels: ufe-usd, ready-for-merge

#2458 MAYA-123745 - Modifying display layer membership or drawOverride attr for MayaUsd prims is very slow
  cmake/modules/FindMaya.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge

#2461 MAYA-124144 MayaUsd: Maya OSX blessing failing GTest:AL_USDTransactio…
  plugin/al/schemas/AL/usd/schemas/maya/tests/CMakeLists.txt
  plugin/al/usdtransaction/AL/usd/transaction/tests/CMakeLists.txt
Labels: unit test, ready-for-merge

#2463 MAYA-124253 - Rename/Reparent a prim and still have it on its Display…
  test/lib/ufe/testDisplayLayer.py
Labels: unit test, ready-for-merge

#2467 Detect Ufe SceneSegmentHandler support directly.
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/Global.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/ufe/CMakeLists.txt
Labels: unit test, build, ready-for-merge

#2466 Add contextual menu to create material nodes
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.h
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2451 MAYA-123903 allow resetting material settings.
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: adsk, import-export, ready-for-merge

#2462 Support Maya reference prim transform round trip.
  lib/mayaUsd/fileio/translators/translatorUtil.cpp
  lib/mayaUsd/fileio/translators/translatorUtil.h
  lib/usd/translators/mayaReferenceUpdater.cpp
  test/lib/mayaUsd/fileio/testCacheToUsd.py
Labels: import-export, ready-for-merge

#2472 Fix attribute creation on connect
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttribute.h
  lib/mayaUsd/ufe/UsdConnectionHandler.cpp
  test/lib/ufe/testConnections.py
Labels: ufe-usd, unit test, ready-for-merge

#2478 LOOKDEVX-754 | Adds a nullptr check to UsdHierachyHandler::hierarchy(…
  lib/mayaUsd/ufe/UsdHierarchyHandler.cpp
Labels: ufe-usd, ready-for-merge

#2482 Explicitly set specular rougness to 0.4
  test/testSamples/MaterialX/mtlxNodesShowcase.ma
  test/testSamples/MaterialX/place2dTextureShowcase.ma
Labels: vp2renderdelegate, unit test, ready-for-merge, regression, materials

#2454 Updated MaterialX documentation for recent changes
  doc/MaterialX.md
Labels: documentation, ready-for-merge

#2485 LOOKDEVX-772 Adds outliner icons for shading types
  lib/mayaUsd/resources/icons/CMakeLists.txt
  lib/mayaUsd/resources/icons/out_USD_Material_100.png
  lib/mayaUsd/resources/icons/out_USD_Material_150.png
  lib/mayaUsd/resources/icons/out_USD_Material_200.png
  lib/mayaUsd/resources/icons/out_USD_Shader_100.png
  lib/mayaUsd/resources/icons/out_USD_Shader_150.png
  lib/mayaUsd/resources/icons/out_USD_Shader_200.png
  lib/mayaUsd/ufe/UsdUIInfoHandler.cpp
  test/lib/ufe/testUIIcons.py
Labels: ready-for-merge, outliner

#2483 MAYA123876 adding docs about saving layers
  README_DOC.md
  lib/mayaUsd/nodes/Layer_Saving_Docs.md
Labels: documentation, adsk, ready-for-merge

#2488 Skip Material export if not conversion was selected
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: import-export, ready-for-merge, materials

#2493 Fixing a visibility update issue when USD data and display layer is saved to Maya file
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#2495 MAYA-124458 - When caching to USD, 'Prim Name' is disabled when Define in Variant is selected
  lib/mayaUsd/resources/scripts/mayaUsdCacheMayaReference.py
Labels: bug, ready-for-merge

#2494 MAYA-124360 - Display Layers: changing a prim's metadata removes it from display layer
  test/lib/ufe/testDisplayLayer.py
Labels: unit test

#2501 LOOKDEVX-756 Support Normal3f and Point3f USD type
  lib/mayaUsd/ufe/Utils.cpp
Labels: ufe-usd, ready-for-merge

#2500 Changing Pxr image baseline
  test/lib/usd/pxrUsdPreviewSurface/PxrUsdPreviewSurfaceDrawTest/baseline/PxrUsdPreviewSurfaceDrawTest_value_ramps.png
Labels: ready-for-merge

#2496 Author normalization attribute when exporting RfM Lights
  lib/mayaUsd/fileio/translators/translatorRfMLight.cpp
  test/lib/usd/translators/testUsdImportRfMLight.py
Labels: import-export, ready-for-merge

#2503 Undo of delete must update stage cache.
  lib/mayaUsd/ufe/UsdStageMap.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: ufe-usd, ready-for-merge

#2512 Cleanup UsdImagingGL legacy engine
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/Engine.cpp
Labels: al

#2508 MAYA-123143 - As a user, I'd like my prims to be templated in a Display Layer
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/points.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge

#2509 MAYA-124578 - Hide on playback option doesn't work on re-open
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/points.cpp
Labels: vp2renderdelegate, ready-for-merge

#2513 Add test for xform -cpc support.
  test/lib/ufe/testComboCmd.py
Labels: unit test, ready-for-merge

#2510 RfM Translator Test Improvements
  test/lib/usd/translators/testUsdExportRfMLight.py
  test/lib/usd/translators/testUsdImportRfMLight.py
Labels: unit test, ready-for-merge
