Repository Autodesk/maya-usd, pull requests merged in 2022-01, with the labels that each got.

#1938 Support for ignoreColorSpaceFileRules when setting scalar textures
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurface.cpp
  test/lib/usd/translators/testUsdExportUsdPreviewSurface.py
Labels: import-export, ready-for-merge

#1939 MAYA-114695 Properly detect animated compound plug
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  test/lib/usd/translators/testUsdExportAnimation.py
Labels: import-export, ready-for-merge

#1940 MAYA-114729 Use correct default for shading mode
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  plugin/adsk/plugin/importTranslator.cpp
Labels: import-export, ready-for-merge

#1903 MAYA-112624 Add required primvars corresponding to the Maya shader's required
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/testSamples/instances/billboard.usda
Labels: vp2renderdelegate, ready-for-merge

#1924 MAYA-114893 As a user, I'd like to see 'Duplicate as Maya Data' only …
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: ufe-usd, workflows, ready-for-merge

#1923 Updated AL Python tests to avoid tempfiles and use fixturesUtils (fix…
  plugin/al/plugin/AL_USDMayaTestPlugin/py/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testTranslators.py
Labels: ready-for-merge

#1927 MAYA-120677 mergeToUsd and discardEdits should remove inert primSpecs…
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  test/lib/mayaUsd/fileio/testEditAsMaya.py
Labels: import-export, ready-for-merge

#1937 MAYA-114979 MAYA-114731 Fix correctness issues
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceWriter.cpp
  lib/usd/translators/shading/mtlxStandardSurfaceWriter.cpp
  lib/usd/translators/shading/shadingTokens.h
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/mayaUsd/fileio/UsdImportMaterialX/UsdImportMaterialX.usda
  test/lib/usd/translators/UsdImportMaterialX/UsdImportMaterialX.usda
  test/lib/usd/translators/testUsdExportMaterialX.py
  test/lib/usd/translators/testUsdExportMultiMaterial.py
Labels: import-export, ready-for-merge

#1941 MAYA-115091 Use cached textures
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#1901 MAYA-115180 - Copy MaterialXGenOgsXml to MayaUSD
  CMakeLists.txt
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/CMakeLists.txt
  lib/mayaUsd/render/MaterialXGenOgsXml/CMakeLists.txt
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.h
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/SurfaceNodeMaya.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/SurfaceNodeMaya.h
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.h
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.h
  lib/mayaUsd/render/MaterialXGenOgsXml/PugiXML/LICENSE.md
  lib/mayaUsd/render/MaterialXGenOgsXml/PugiXML/pugiconfig.hpp
  lib/mayaUsd/render/MaterialXGenOgsXml/PugiXML/pugixml.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/PugiXML/pugixml.hpp
  lib/mayaUsd/render/MaterialXGenOgsXml/PugiXML/readme.txt
  lib/mayaUsd/render/MaterialXGenOgsXml/README.md
  lib/mayaUsd/render/MaterialXGenOgsXml/libraries/mx_lighting_maya_v1.glsl
  lib/mayaUsd/render/MaterialXGenOgsXml/libraries/mx_lighting_maya_v2.glsl
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
Labels: vp2renderdelegate, ready-for-merge

#1948 MAYA-120761 edit instance not found
  lib/mayaUsd/fileio/jobs/readJob.cpp
Labels: ready-for-merge

#1906 MAYA-114567 safely test opacity values when iterpolation is uniform
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#1945 MAYA-120860 Fix TestALUSDMayaPython_LayerManager random fails
  cmake/test.cmake
Labels: ready-for-merge

#1950 Make sure material export sanitizes names
  lib/usd/translators/shading/mtlxBaseWriter.cpp
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/usd/translators/testUsdExportMultiMaterial.py
  test/lib/usd/translators/testUsdExportStripNamespaces.py
Labels: import-export, ready-for-merge

#1891 MAYA-114247 Mark everything dirty when display modes change.
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#1944 Add a test to verify that the orientation of point instanced objects
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePointInstanceOrientationTest/baseline/point_instanced_axis_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePointInstanceOrientation.py
  test/testSamples/pointInstances/point_instanced_axis.usda
Labels: vp2renderdelegate, ready-for-merge

#1958 MAYA-115165 Enable and fix MaterialX render test
  CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MtlxUVStreamTest_render.png
  test/lib/usd/translators/CMakeLists.txt
Labels: ready-for-merge, materials

#1962 MAYA-114731 - Fix MaterialX import of RGBA files
  lib/usd/translators/shading/mtlxImageReader.cpp
Labels: import-export, ready-for-merge, materials

#1957 MAYA-120891 _UpdateSelectionStates may trigger an execute. The wireframe color
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#1969 Add undo / redo to Edit-as-Maya workflows.
  lib/mayaUsd/commands/CMakeLists.txt
  lib/mayaUsd/commands/PullPushCommands.cpp
  lib/mayaUsd/commands/PullPushCommands.h
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/primUpdaterManager.h
  lib/mayaUsd/fileio/shading/shadingModeDisplayColor.cpp
  lib/mayaUsd/fileio/translators/translatorCamera.cpp
  lib/mayaUsd/fileio/translators/translatorCurves.cpp
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/translators/translatorMayaReference.cpp
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  lib/mayaUsd/fileio/translators/translatorSkel.cpp
  lib/mayaUsd/fileio/translators/translatorUtil.cpp
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/proxyAccessor.py
  lib/mayaUsd/python/wrapConverter.cpp
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdPathMappingHandler.cpp
  lib/mayaUsd/undo/CMakeLists.txt
  lib/mayaUsd/undo/OpUndoItemList.cpp
  lib/mayaUsd/undo/OpUndoItemList.h
  lib/mayaUsd/undo/OpUndoItemMuting.h
  lib/mayaUsd/undo/OpUndoItemRecorder.cpp
  lib/mayaUsd/undo/OpUndoItemRecorder.h
  lib/mayaUsd/undo/OpUndoItems.cpp
  lib/mayaUsd/undo/OpUndoItems.h
  lib/mayaUsd/undo/UsdUndoManager.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/USDMenuProc.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/pxr/maya/lib/usdMaya/readJob_ImportWithProxies.cpp
  plugin/pxr/maya/lib/usdMaya/translatorModelAssembly.cpp
  test/lib/mayaUsd/fileio/testDiscardEdits.py
  test/lib/mayaUsd/fileio/testDuplicateAs.py
  test/lib/mayaUsd/fileio/testEditAsMaya.py
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: ready-for-merge

#1932 Export all inline functions from the proxyshape, and remove the WANT_UFE_BUILD conditional compiles from the headers
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
Labels: al

#1971 MAYA-120864 Changing the primvar reader to a color reader can change the output
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate, ready-for-merge

#1972 MAYA-114109 fix merge-to-USD
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: bug, ready-for-merge

#1973 Tremblp/maya 114982/maya reference 00
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primUpdater.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/python/wrapPrimUpdater.cpp
  lib/mayaUsd/resources/CMakeLists.txt
  lib/mayaUsd/resources/scripts/CMakeLists.txt
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/usd/translators/mayaReferenceUpdater.cpp
  lib/usd/translators/mayaReferenceUpdater.h
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
Labels: ready-for-merge

#1970 MAYA-115171 - [GitHub #1808] Outliner not updating with new prim defined in python
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: ufe-usd, ready-for-merge

#1931 Fixed worldspace export flag behaviour to only bake xform at the top level prim
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/Export.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/Export.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/ExportParams.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TransformTranslator.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TransformTranslator.h
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_TransformTranslator.cpp
Labels: al, ready-for-merge

#1965 MAYA-120890 Test selection highlighting of USD objects in vp2RenderDelegate.
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/clear_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/clear_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/clear_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/gatewayNode_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/gatewayNode_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/gatewayNode_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_clear_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_clear_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_clear_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_gatewayNode_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_gatewayNode_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_gatewayNode_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_objectA_and_objectB_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_objectA_and_objectB_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_objectA_and_objectB_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_objectA_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_objectA_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_objectA_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_redoObjectB_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_redoObjectB_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_redoObjectB_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_undoObjectB_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_undoObjectB_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_undoObjectB_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_unselected_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_unselected_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/instance_unselected_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/objectA_and_objectB_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/objectA_and_objectB_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/objectA_and_objectB_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/objectA_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/objectA_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/objectA_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/redoObjectB_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/redoObjectB_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/redoObjectB_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/undoObjectB_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/undoObjectB_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/undoObjectB_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/unselected_smoothShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/unselected_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateSelectionTest/baseline/unselected_wireframeOnShaded.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateSelection.py
Labels: vp2renderdelegate, ready-for-merge

#1922 Boudrey/maya 112882/edit router
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapEditRouter.cpp
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.h
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/editRouter.cpp
  lib/mayaUsd/utils/editRouter.h
  test/lib/CMakeLists.txt
  test/lib/ufe/testDuplicateCmd.py
  test/lib/ufe/testParentCmd.py
Labels: enhancement, ufe-usd, unit test, ready-for-merge

#1977 MAYA-114898 fix unit test assertions related to pull/push
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapOpUndoItem.cpp
  lib/mayaUsd/undo/OpUndoItemList.cpp
  test/lib/mayaUsd/fileio/testDiscardEdits.py
  test/lib/mayaUsd/fileio/testDuplicateAs.py
  test/lib/mayaUsd/fileio/testEditAsMaya.py
  test/lib/mayaUsd/fileio/testMergeToUsd.py
  test/lib/mayaUsd/fileio/testPrimUpdater.py
Labels: ready-for-merge

#1978 Enable creating Maya Reference prim as child of proxy shape node.
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: ready-for-merge

#1985 Allow building Maya 2020 against a MaterialX-enabled USD
  CMakeLists.txt
Labels: build, ready-for-merge

#1982 MAYA-114995 avoid merging equivalent transforms.
  lib/usd/utils/CMakeLists.txt
  lib/usd/utils/MergePrims.cpp
  test/lib/mayaUsd/fileio/testMergeToUsd.py
  test/testUtils/mayaUtils.py
Labels: ready-for-merge

#1986 MAYA-121074 fix assertion during edit-as-maya undo / redo
  lib/mayaUsd/fileio/primUpdaterManager.cpp
Labels: import-export, ready-for-merge

#1989 MAYA-115074 Ensure duplicate-as-USD creates unique prim names.
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  plugin/adsk/scripts/USDMenuProc.mel
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: bug, ready-for-merge

#1990 MAYA-121074 a new unit test caused new assertions.
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: ready-for-merge

#1993 Don't try to get requiredVertextBuffers from a NULL shader
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate

#1988 MAYA-115097 - I'd like to define my Maya Reference in a variant on cr…
  lib/mayaUsd/resources/scripts/CMakeLists.txt
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.mel
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/wrapUtils.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testAddMayaReference.py
  test/lib/ufe/testRename.py
Labels: enhancement, core, ready-for-merge

#1992 MAYA-106930 CPU UsdSkel support for MayaUSD.
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdSkelTest/baseline/HIK_Export_0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdSkelTest/baseline/HIK_Export_100.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdSkelTest/baseline/HIK_Export_50.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdSkelTest/baseline/skinCluster_0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdSkelTest/baseline/skinCluster_100.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUsdSkelTest/baseline/skinCluster_50.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUsdSkel.py
  test/testSamples/UsdSkel/HIK_Export.usda
  test/testSamples/UsdSkel/skinCluster.usda
Labels: vp2renderdelegate, ready-for-merge

#2000 MAYA-115053: Name the MayaReference prim/transform node on creation
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.mel
  test/lib/mayaUsd/fileio/testAddMayaReference.py
Labels: enhancement, core, ready-for-merge

#2002 Prefer to use the PXR namespace "using" directive
  lib/mayaUsd/utils/editRouter.cpp
  lib/usd/utils/MergePrimsOptions.h
Labels: build, ready-for-merge

#1999 MAYA-121208 fix references metadata lost
  lib/usd/utils/MergePrims.cpp
  lib/usd/utils/MergePrimsOptions.cpp
  lib/usd/utils/MergePrimsOptions.h
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: ready-for-merge

#1997 Initial test for shot based animation workflow with custom code-less schema
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/UsdCustomRigSchema/generatedSchema.usda
  test/lib/mayaUsd/fileio/UsdCustomRigSchema/plugInfo.json
  test/lib/mayaUsd/fileio/UsdCustomRigSchema/schema.usda
  test/lib/mayaUsd/fileio/testCustomRig.py
Labels: unit test, ready-for-merge

#1998 MAYA-110276 - USD: curves drawing color is the exact same as the maya viewport Gray background
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_selected_complexity3.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity0.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity2.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateBasisCurvesTest/baseline/nurbsCircleExport_unselected_complexity3.png
Labels: ready-for-merge

#2003 MAYA-121244 fix lost geometry
  lib/usd/utils/MergePrims.cpp
  test/lib/mayaUsd/fileio/testMergeToUsd.py
  test/testSamples/cylinderSubset/cylinder.usda
Labels: ready-for-merge

#2004 MAYA-120831: Always use Namespaces when creating a Maya Reference
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
Labels: enhancement, ready-for-merge

#1713 Only export transform rotate order if not default
  plugin/al/lib/AL_USDMaya/AL/usdmaya/fileio/translators/TransformTranslator.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/test_translators_TransformTranslator.cpp
Labels: al

#2007 MAYA-106930 Pre-evaluate all the compute inputs so that any lazy-evaluated shared
  lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/extComputation.cpp
  lib/mayaUsd/render/vp2RenderDelegate/extComputation.h
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#2012 MAYA-121242 fix flipped normals.
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/usd/utils/MergePrims.cpp
  lib/usd/utils/MergePrimsOptions.cpp
  lib/usd/utils/MergePrimsOptions.h
Labels: ready-for-merge

#2014 Switch from runtime error to a warning
  lib/mayaUsd/utils/plugRegistryHelper.cpp
Labels: core, ready-for-merge

#2019 MAYA-121225 reating the events from the commit task is too slow. The events do
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2015 MayaReference auto-edit support
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primUpdater.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/python/wrapPrimUpdater.cpp
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.mel
  lib/usd/schemas/MayaReference.cpp
  lib/usd/schemas/MayaReference.h
  lib/usd/schemas/generatedSchema.usda
  lib/usd/schemas/schema.usda.in
  lib/usd/schemas/tokens.cpp
  lib/usd/schemas/tokens.h
  lib/usd/schemas/wrapALMayaReference.cpp
  lib/usd/schemas/wrapMayaReference.cpp
  lib/usd/schemas/wrapTokens.cpp
  lib/usd/translators/mayaReferenceUpdater.cpp
  lib/usd/translators/mayaReferenceUpdater.h
  test/lib/mayaUsd/fileio/testAddMayaReference.py
Labels: workflows

#1874 Make Enum UI control for TfToken type in case if usd schema contains list of possible values for the custom TfToken render setting
  lib/mayaUsd/render/mayaToHydra/renderGlobals.cpp
Labels: mtoh

#2023 Improve edit as maya context menu
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: workflows

#2024 Don't dirty invalid paths
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#2026 Register string resources
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: core, ready-for-merge

#2013 MAYA-121245 fix failed edit-as-maya commands
  lib/mayaUsd/commands/PullPushCommands.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
Labels: ready-for-merge

#2025 MAYA-115056: Group my Maya Reference on creation
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  lib/mayaUsd/ufe/Utils.cpp
  test/lib/mayaUsd/fileio/testAddMayaReference.py
Labels: enhancement, ready-for-merge

#2027 MAYA-114335 - Extended Python schema API wrappers
  lib/mayaUsd/fileio/schemaApiAdaptor.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/module.cpp
  lib/mayaUsd/python/wrapAdaptor.cpp
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/python/wrapReadUtil.cpp
  lib/mayaUsd/python/wrapSchemaApiAdaptor.cpp
  lib/mayaUsd/python/wrapSparseValueWriter.cpp
  lib/mayaUsd/python/wrapSparseValueWriter.h
  lib/mayaUsd/python/wrapWriteUtil.cpp
  test/lib/mayaUsd/fileio/testExportChaser.py
  test/lib/mayaUsd/fileio/testSchemaApiAdaptor.py
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdExportMaterialX.py
Labels: import-export, ready-for-merge

#2030 MAYA-120975 Hide empty Plug-in configuration
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: ready-for-merge

#2020 MAYA-121247 edit-as-maya whole selected object - not sub-part
  plugin/adsk/scripts/CMakeLists.txt
  plugin/adsk/scripts/USDMenuProc.mel
  plugin/adsk/scripts/mayaUsd_selectionUtils.py
Labels: adsk, ready-for-merge

#2032 Fix group command not finding unique names
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  test/lib/ufe/testGroupCmd.py
Labels: ufe-usd, ready-for-merge

#2009 Removed AL_usdmaya_ProxyShapeSelect command and related functionality
  plugin/al/docs/selection.md
  plugin/al/lib/AL_USDMaya/AL/usdmaya/PluginRegister.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/Version.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/ProxyShapeCommands.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/cmds/ProxyShapeCommands.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.cpp
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShape.h
  plugin/al/lib/AL_USDMaya/AL/usdmaya/nodes/ProxyShapeSelection.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/commands/test_InternalProxySelection.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/commands/test_ProxyShapeSelect.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/nodes/test_Transform.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/AL/usdmaya/nodes/test_TransformMatrix.cpp
  plugin/al/plugin/AL_USDMayaTestPlugin/CMakeLists.txt
  plugin/al/plugin/AL_USDMayaTestPlugin/py/testProxyShape.py
Labels: al

#2016 Added vertex colour utility node and translation for USD preview surface
  lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  lib/usd/pxrUsdPreviewSurface/cpvColor.cpp
  lib/usd/pxrUsdPreviewSurface/cpvColor.h
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfacePlugin.cpp
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/shadingTokens.cpp
  lib/usd/translators/shading/shadingTokens.h
  lib/usd/translators/shading/usdPrimvarReaderFloat3Reader.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/DisplayColorCube.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testSamples/UsdPreviewSurface/DisplayColorCube.usda
Labels: import-export, vp2renderdelegate

#2034 MAYA-121408 Disable the workaround of populating selection every frame. It is too
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_and_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_and_04_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_03_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_ball_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/perInstanceInheritedData_default_after_guide.png
Labels: vp2renderdelegate, ready-for-merge

#2036 MAYA-115117 Deactivate prim on pull instead of using exclude feature
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.h
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: workflows, ready-for-merge

#2031 MAYA-114709 As a user, I'd like to see a waiting cursor when pulling …
  lib/mayaUsd/ufe/UsdContextOps.cpp
  plugin/adsk/scripts/USDMenuProc.mel
Labels: ready-for-merge

#2037 MAYA-114898 Improve Python bindings
  lib/mayaUsd/python/wrapOpUndoItem.cpp
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
Labels: ready-for-merge

#2040 MAYA-114709 As a user, I'd like to see a waiting cursor when pulling …
  plugin/adsk/scripts/USDMenuProc.mel
Labels: ready-for-merge

#2039 MAYA-115027: 'Add Layer' and 'Load Layer' icons are prohibited
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/layerEditorWidget.h
  lib/usd/ui/layerEditor/resources.qrc
  lib/usd/ui/layerEditor/resources/add_layer_100.png
  lib/usd/ui/layerEditor/resources/add_layer_150.png
  lib/usd/ui/layerEditor/resources/add_layer_200.png
  lib/usd/ui/layerEditor/resources/add_layer_hover_100.png
  lib/usd/ui/layerEditor/resources/add_layer_hover_150.png
  lib/usd/ui/layerEditor/resources/add_layer_hover_200.png
  lib/usd/ui/layerEditor/resources/add_layer_pressed_100.png
  lib/usd/ui/layerEditor/resources/add_layer_pressed_150.png
  lib/usd/ui/layerEditor/resources/add_layer_pressed_200.png
  lib/usd/ui/layerEditor/resources/import_layer_100.png
  lib/usd/ui/layerEditor/resources/import_layer_150.png
  lib/usd/ui/layerEditor/resources/import_layer_200.png
  lib/usd/ui/layerEditor/resources/import_layer_hover_100.png
  lib/usd/ui/layerEditor/resources/import_layer_hover_150.png
  lib/usd/ui/layerEditor/resources/import_layer_hover_200.png
  lib/usd/ui/layerEditor/resources/import_layer_pressed_100.png
  lib/usd/ui/layerEditor/resources/import_layer_pressed_150.png
  lib/usd/ui/layerEditor/resources/import_layer_pressed_200.png
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: enhancement, ready-for-merge

#1987 Support mergeNamespacesOnClash attribute on MayaReference prim
  lib/mayaUsd/fileio/translators/translatorMayaReference.cpp
  lib/mayaUsd/fileio/translators/translatorMayaReference.h
  test/lib/usd/translators/UsdImportMayaReferenceTest/MayaReference.usda
  test/lib/usd/translators/testUsdImportMayaReference.py
Labels: workflows

#2043 MAYA-121316 Skip updating MRenderItem's that we're not going to draw anyway.
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2047 T bailp/maya 114898/merge to usd export options
  lib/mayaUsd/commands/PullPushCommands.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/pxr/maya/lib/usdMaya/exportTranslator.cpp
  test/lib/mayaUsd/fileio/testDuplicateAs.py
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: ready-for-merge

#2044 MAYA-113541 Allow updating registered Python class
  lib/mayaUsd/python/CMakeLists.txt
  lib/mayaUsd/python/pythonObjectRegistry.cpp
  lib/mayaUsd/python/pythonObjectRegistry.h
  lib/mayaUsd/python/wrapExportChaser.cpp
  lib/mayaUsd/python/wrapImportChaser.cpp
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/mayaUsd/python/wrapPrimUpdater.cpp
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/python/wrapSchemaApiAdaptor.cpp
Labels: import-export, ready-for-merge, materials

#2033 MAYA-106075 - USD selection highlighting doesn't take Color Settings into consideration
  lib/mayaUsd/render/vp2RenderDelegate/basisCurves.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
Labels: vp2renderdelegate, ready-for-merge
