Repository Autodesk/maya-usd, pull requests merged in 2023-08, with the labels that each got.

#3251 EMSUSD-279 - Change the export options to be consistent with import options
  lib/usd/translators/shading/shadingTokens.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: adsk, ready-for-merge

#3253 EMSUSD-306 don't use a random default prim
  lib/usdUfe/ufe/UsdUndoAddRefOrPayloadCommand.cpp
  test/lib/ufe/testReferenceCommands.py
Labels: adsk, ufe-usd, ready-for-merge

#3239 EMSUSD-259 relative Maya ref cache
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/resources/ae/usdschemabase/custom_image_control.py
  lib/mayaUsd/resources/scripts/cacheToUsd.py
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdCacheMayaReference.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  lib/mayaUsd/resources/scripts/mayaUsdUtils.py
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/mayaUsd/utils/layers.cpp
  lib/mayaUsd/utils/layers.h
  lib/mayaUsd/utils/mayaEditRouter.cpp
  lib/usd/translators/mayaReferenceEditRouter.md
  lib/usdUfe/utils/layers.cpp
  lib/usdUfe/utils/layers.h
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
  test/lib/mayaUsd/fileio/testCacheToUsd.py
Labels: workflows, ready-for-merge

#3250 EMSUSD-263 export relative USD textures
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  plugin/pxr/doc/README.md
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportTextureTest/rel_project/scenes/TextureTest.ma
  test/lib/usd/translators/UsdExportTextureTest/rel_project/sourceimages/grid.png
  test/lib/usd/translators/UsdExportTextureTest/rel_project/workspace.mel
  test/lib/usd/translators/testUsdExportTexture.py
Labels: import-export, ready-for-merge

#3265 EMSUSD-308 - USD reference/Payload: "Load Payload" on the browser dialog should have a tooltip.
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  lib/mayaUsd/resources/scripts/mayaUsdMayaReferenceUtils.py
Labels: workflows, ready-for-merge

#3260 EMSUSD-280 import relative texture UI
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: adsk, import-export

#3256 EMSUSD-263 export relative textures UI
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/resources/scripts/cacheToUsd.py
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3259 EMSUSD-280 import relative textures
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/mtlxImageReader.cpp
  lib/usd/translators/shading/shadingAsset.cpp
  lib/usd/translators/shading/shadingAsset.h
  lib/usd/translators/shading/usdUVTextureReader.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/pxr/doc/README.md
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportRelativeTextures/UsdImportRelativeTextures.usda
  test/lib/usd/translators/UsdImportRelativeTextures/rel_project/workspace.mel
  test/lib/usd/translators/UsdImportRelativeTextures/standard_surface_gold.mtlx
  test/lib/usd/translators/UsdImportRelativeTextures/standard_surface_jade.usda
  test/lib/usd/translators/testUsdImportRelativeTextures.py
Labels: adsk, import-export, ready-for-merge

#3266 EMS-310 Usd Context Ops, fixed toggle visibility to used computed visibile + expose isRootChild as a DCC function.
  lib/usdUfe/ufe/Global.cpp
  lib/usdUfe/ufe/Global.h
  lib/usdUfe/ufe/UsdContextOps.cpp
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
Labels: ufe-usd, ready-for-merge

#3268 EMSUSD-100: Update docs with -primVariant flag info and example
  lib/mayaUsd/commands/Readme.md
Labels: documentation, ready-for-merge

#3255 EMSUSD-291 Refactored MayaUSD help content ids
  lib/mayaUsd/resources/CMakeLists.txt
  lib/mayaUsd/resources/helpTable/CMakeLists.txt
  lib/mayaUsd/resources/helpTable/helpTableMayaUSD
  lib/mayaUsd/resources/scripts/mayaUsdDuplicateAsUsdDataOptions.py
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  lib/mayaUsd/resources/scripts/mayaUsdUtils.py
  lib/usd/ui/importDialog/USDImportDialog.cpp
  lib/usd/ui/layerEditor/mayaCommandHook.cpp
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  plugin/adsk/scripts/USDMenuProc.mel
Labels: adsk, ready-for-merge

#3273 Fix texture export creating wrong type for uvCoord attribute
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  test/lib/usd/translators/testUsdExportMultiMaterial.py
Labels: import-export, ready-for-merge

#3279 EMSUSD-548 - Fixed a bug with redoing a UsdUndoCreateFromNodeDefCommand.
  lib/mayaUsd/ufe/UsdUndoCreateFromNodeDefCommand.cpp
  lib/mayaUsd/ufe/UsdUndoCreateFromNodeDefCommand.h
Labels: ufe-usd, ready-for-merge

#3282 Update build.md to include USD v23.08
  doc/build.md
Labels: documentation, ready-for-merge

#3284 Update mayausd_version.info
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#3269 EMSUSD-247 - Added an option box for outliner on edit as Maya Data
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
Labels: ufe-usd, ready-for-merge

#3280 EMSUSD-305 - Swapped payload and reference options in Composition Arc's dropdown list when adding a USD reference or payload. The default is now References.
  lib/mayaUsd/resources/scripts/mayaUsdMayaReferenceUtils.py
Labels: workflows, ready-for-merge

#3285 EMSUSD-291 - Moved MAYAUSD_LIB_LOCATION before gtest path
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
Labels: bug, adsk, ready-for-merge

#3288 Use new UsdUfe namespace
  lib/usd/hdMaya/delegates/proxyDelegate.cpp
Labels: mtoh, ready-for-merge

#3272 EMSUSD-121 - Use display color when texture mode is disabled
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#3289 Enable MaterialX support in CMake
  CMakeLists.txt
  build.py
Labels: build, ready-for-merge

#3278 EMSUSD-266 Fixed bad USD/UFE notifications
  lib/usdUfe/ufe/StagesSubject.cpp
  lib/usdUfe/ufe/UsdUndoAddNewPrimCommand.cpp
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testObservableScene.py
Labels: ufe-usd, ready-for-merge

#3294 EMSUSD-263 - Bug fix for export relative texture
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: adsk, ready-for-merge

#3290 build.md update for VisualStudio and Ufe versions
  doc/build.md
Labels: documentation, ready-for-merge

#3291 Update github actions to node16 (node12 is out of support).
  .github/workflows/maya-usd-new-issues.yml
  .github/workflows/maya-usd-preflight-launcher.yml
Labels: build, ready-for-merge

#3296 connect Maya Time to USD Imaging SceneIndex
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.cpp
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.h
Labels: adsk, core, ready-for-merge

#3295 LOOKDEVX-1847 - Fix rendering of gltf texture nodes
  lib/mayaUsd/render/MaterialXGenOgsXml/CMakeLists.txt
  lib/mayaUsd/render/MaterialXGenOgsXml/CombinedMaterialXVersion.h
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.h
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/TexcoordNodeMaya.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/TexcoordNodeMaya.h
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.h
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/DemoQuads_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MtlxUVStreamTest_render.png
  test/testSamples/MaterialX/DemoQuads.usda
  test/testSamples/MaterialX/MtlxUVStreamTest.usda
Labels: vp2renderdelegate, ready-for-merge

#3301 Report correct default soft min/max per type
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/TexcoordNodeMaya.cpp
  lib/mayaUsd/ufe/UsdShaderAttributeDef.cpp
  test/lib/ufe/testAttribute.py
Labels: ufe-usd, ready-for-merge
