Repository Autodesk/maya-usd, pull requests merged in 2023-10, with the labels that each got.

#3338 EMSUSD-550 - Control the Types of Objects to Export
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/functorPrimWriter.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/primWriterArgs.cpp
  lib/mayaUsd/fileio/primWriterArgs.h
  lib/mayaUsd/fileio/writeJobContext.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportTypeTest/UsdExportTypeTest.ma
  test/lib/usd/translators/testUsdExportTypes.py
Labels: import-export, ready-for-merge

#3353 EMSUSD-622 - As a user, I'd like to add a relative sublayer on a anonymous layer
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/loadLayersDialog.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
Labels: workflows, ready-for-merge

#3359 Qt6 archive in Maya devkit was renamed.
  build.py
Labels: build, ready-for-merge

#3355 hazzarn/EMSUSD-664
  doc/CLA/AutodeskFormCorpContribAgmtForOpenSource.pdf
  doc/CLA/AutodeskFormIndContribAgmtForOpenSource.pdf
  doc/CONTRIBUTING.md
Labels: documentation

#3350 EMSUSD-623 edit as Maya multiple variants
  lib/mayaUsd/fileio/orphanedNodesManager.cpp
  lib/mayaUsd/fileio/orphanedNodesManager.h
  lib/mayaUsd/fileio/orphanedNodesManagerIO.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/primUpdaterManager.h
  lib/mayaUsd/fileio/pullInformation.cpp
  lib/mayaUsd/fileio/pullInformation.h
  lib/mayaUsd/fileio/translators/translatorMayaReference.cpp
  lib/mayaUsd/fileio/translators/translatorMayaReference.h
  lib/mayaUsd/utils/variants.cpp
  lib/mayaUsd/utils/variants.h
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testAddMayaReference.py
  test/lib/mayaUsd/fileio/testCacheToUsd.py
  test/lib/mayaUsd/fileio/testCustomRig.py
  test/lib/mayaUsd/fileio/testDiscardEdits.py
  test/lib/mayaUsd/fileio/testMergeToUsd.py
  test/lib/mayaUsd/fileio/testSwitchMayaReference.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeLiveSurface.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeSelectionPerformance.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePointInstancesPickMode.py
  test/lib/mayaUsd/utils/testDiagnosticDelegate.py
  test/lib/mayaUsd/utils/testUtilsSelectability.py
  test/lib/mayaUsd/utils/testUtilsSelectabilityPointInstanceSelection.py
  test/lib/testMayaUsdPlugVersionCheck.py
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testUIIcons.py
  test/testSamples/switchVariants/asset.usda
  test/testSamples/switchVariants/model.usda
  test/testSamples/switchVariants/rig.anim.mb
  test/testSamples/switchVariants/rig.layout.mb
  test/testUtils/testUtils.py
Labels: bug, adsk, ready-for-merge

#3347 Renaming internal instancer primvars
  lib/mayaUsd/render/vp2RenderDelegate/instancer.cpp
  lib/usd/hdMaya/adapters/dagAdapter.cpp
Labels: vp2renderdelegate, mtoh, ready-for-merge

#3364 EMSUSD-489 fix reparenting crash
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/usdUfe/ufe/UsdUndoInsertChildCommand.cpp
  lib/usdUfe/utils/layers.cpp
  lib/usdUfe/utils/layers.h
  test/lib/ufe/testParentCmd.py
  test/testSamples/relativeSubLayer/root.usda
  test/testSamples/relativeSubLayer/sublayer.usda
Labels: bug, ufe-usd, ready-for-merge

#3369 Merge v0.25.0 to dev
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#3370 EMSUSD-644 - As a user, I'd like to add a relative payload/ref on a anonymous layer
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
Labels: workflows, ready-for-merge

#3371 EMSUSD-630 Enabled Load Payload By Default On Add Payload UI
  lib/mayaUsd/resources/scripts/mayaUsdUtils.py
Labels: workflows, ready-for-merge

#3381 Remove a print 999 from one unit test
  test/lib/usd/translators/UsdExportTextureTest/rel_project/scenes/TextureTest.ma
Labels: unit test

#3361 EMSUSD-579 - Add Untextured mode selections to user pref
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsd_preferenceTab.mel
Labels: workflows, ready-for-merge

#3383 EMSUSD-686 better UI when selecting the proxy shape path
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: enhancement, adsk, ready-for-merge

#3386 Explicitly set UpAxis in tests
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDisplayLayers.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
Labels: unit test, ready-for-merge

#3390 EMSUSD-616 hide frame range in edit-as-Maya options
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: enhancement, adsk, ready-for-merge

#3393 Fix errors when a USD object has an !invert! xform attribute.
  lib/mayaUsd/ufe/UsdAttributes.cpp
Labels: ufe-usd, ready-for-merge

#3397 EMSUSD-684 - Labeling of Relative settings may need reworded
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
  plugin/adsk/scripts/mayaUsd_preferenceTab.mel
Labels: adsk, ready-for-merge

#3339 Write non-connected uvSet names
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportUVSetMappingsTest/label_ao.png
  test/lib/usd/translators/UsdExportUVSetMappingsTest/label_bc.png
  test/lib/usd/translators/UsdExportUVSetMappingsTest/label_o.png
  test/lib/usd/translators/UsdExportUVSetMappingsTest/multi_uv_simple.ma
  test/lib/usd/translators/testUsdExportUVSetMappings.py
Labels: import-export, ready-for-merge

#3394 EMSUSD-105 - Set a prim as defaultPrim in the stage
  lib/usdUfe/ufe/CMakeLists.txt
  lib/usdUfe/ufe/UsdContextOps.cpp
  lib/usdUfe/ufe/UsdUndoClearDefaultPrimCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearDefaultPrimCommand.h
  lib/usdUfe/ufe/UsdUndoSetDefaultPrimCommand.cpp
  lib/usdUfe/ufe/UsdUndoSetDefaultPrimCommand.h
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
Labels: ufe-usd, workflows, ready-for-merge

#3392 EMSUSD-645 - As a user, I'd like to add a relative file dependency on a anonymous layer
  lib/mayaUsd/python/wrapUtil.cpp
  lib/mayaUsd/resources/ae/usdschemabase/custom_image_control.py
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.mel
  lib/mayaUsd/resources/scripts/mayaUsdAddMayaReference.py
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
Labels: workflows, ready-for-merge

#3366 EMSUSD-549 Fixes unneeded nodes getting exported on materials
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
Labels: import-export, ready-for-merge

#3372 EMSUSD-254 Allow selecting the referenced prim
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  lib/mayaUsd/resources/scripts/mayaUsdMayaReferenceUtils.py
  lib/mayaUsd/resources/scripts/mayaUsdUtils.py
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/usd/ui/importDialog/ItemDelegate.cpp
  lib/usd/ui/importDialog/TreeItem.cpp
  lib/usd/ui/importDialog/TreeItem.h
  lib/usd/ui/importDialog/TreeModel.cpp
  lib/usd/ui/importDialog/TreeModel.h
  lib/usd/ui/importDialog/TreeModelFactory.cpp
  lib/usd/ui/importDialog/TreeModelFactory.h
  lib/usd/ui/importDialog/USDImportDialog.cpp
  lib/usd/ui/importDialog/USDImportDialog.h
  lib/usd/ui/importDialog/USDImportDialog.ui
  lib/usd/ui/importDialog/USDImportDialogCmd.cpp
  lib/usd/ui/importDialog/images/defaultPrim_100.png
  lib/usd/ui/importDialog/images/defaultPrim_150.png
  lib/usd/ui/importDialog/images/defaultPrim_200.png
  lib/usd/ui/importDialog/images/ui.qrc
  lib/usd/ui/importDialogDemo/testMayaUsdUI.cpp
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
Labels: enhancement, adsk, ready-for-merge

#3408 Fixing import path for AETemplate
  test/lib/testAttributeEditorTemplate.py
Labels: unit test, ready-for-merge

#3401 EMSUSD-636 use the same saved folder location as when loading a stage.
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
Labels: bug, adsk, ready-for-merge

#3402 EMSUSD-499 - Dirty layers don't get saved in Maya files
  lib/mayaUsd/nodes/proxyShapeBase.cpp
Labels: workflows, ready-for-merge

#3411 Cleanup old unsupported versions from unit tests
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  test/lib/mayaUsd/fileio/testSchemaApiAdaptor.py
  test/lib/mayaUsd/nodes/testLayerManagerSerialization.py
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawUsdChangeProcessing.py
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_ball_03_and_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_ball_03_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_ball_04_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/pre-21_08/perInstanceInheritedData_default_after_guide.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
  test/lib/mayaUsd/undo/testUsdUndoManager.py
  test/lib/mayaUsd/utils/testUtilsSelectabilityPointInstanceSelection.py
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testAttributeBlock.py
  test/lib/ufe/testComboCmd.py
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testLegacyDeleteCmd.py
  test/lib/ufe/testMatrices.py
  test/lib/ufe/testMayaPickwalk.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testSceneItem.py
  test/lib/ufe/testSelection.py
  test/lib/usd/schemas/testMayaUsdSchemasMayaReference.py
  test/lib/usd/translators/UsdImportLightTest/LightsTest_2011.usda
  test/lib/usd/translators/UsdImportLightTest/LightsTest_2102.usda
  test/lib/usd/translators/testUsdExportAsClip.py
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdExportRfMLight.py
  test/lib/usd/translators/testUsdExportRfMShaders.py
  test/lib/usd/translators/testUsdExportShadingModePxrRis.py
  test/lib/usd/translators/testUsdExportSkeleton.py
  test/lib/usd/translators/testUsdImportLight.py
  test/lib/usd/translators/testUsdImportSkeleton.py
  test/testUtils/mayaUtils.py
  test/testUtils/ufeUtils.py
  test/testUtils/usdUtils.py
Labels: unit test, ready-for-merge

#3404 EMSUSD-715 fix context menu in viewport
  plugin/adsk/scripts/USDMenuProc.mel
Labels: bug, adsk, ready-for-merge

#3398 EMSUSD-632 prevent root metadata changes when not targeting root
  lib/usdUfe/python/wrapCommands.cpp
  lib/usdUfe/ufe/UsdUndoClearDefaultPrimCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearDefaultPrimCommand.h
  lib/usdUfe/ufe/UsdUndoSetDefaultPrimCommand.cpp
  lib/usdUfe/ufe/UsdUndoSetDefaultPrimCommand.h
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/AEmayaUsdProxyShapeBaseTemplate.mel
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testDefaultPrimCmds.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testRename.py
  test/testSamples/defaultPrimInSub/root.usda
  test/testSamples/defaultPrimInSub/sub.usda
Labels: enhancement, adsk, ready-for-merge

#3409 Explicitly specify all required export options
  test/lib/usd/translators/testUsdExportUVSetMappings.py
Labels: unit test, ready-for-merge

#3403 Add test cases for material fanned out file nodes
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportFannedOutFileNodesMaterialTest/FannedOutFileNodesMaterialTest.ma
  test/lib/usd/translators/testUsdExportFannedOutFileNodesMaterial.py
Labels: unit test, ready-for-merge

#3418 EMSUSD-499 - Dirty layers don't get saved in Maya files
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: workflows, ready-for-merge

#3422 EMSUSD-772 - Fixes Edit-As-Maya Option Dialog Not Executing Action
  plugin/adsk/scripts/USDMenuProc.mel
Labels: workflows, ready-for-merge, regression

#3417 EMSUSD-626: As a layout artist, I'd like to toggle visibility of multiple prims
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/mayaUsd/ufe/MayaUsdContextOps.h
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/usdUfe/ufe/UsdContextOps.cpp
  lib/usdUfe/ufe/UsdContextOps.h
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#3420 EMSUSD-550 - Add documentation for excludeExportTypes
  lib/mayaUsd/commands/Readme.md
Labels: documentation, ready-for-merge
