Repository Autodesk/maya-usd, pull requests merged in 2023-03, with the labels that each got.

#2907 MAYA-125726 - Implement display layer's color override for instanced geometry
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2913 MAYA-126042 - Create a unit test for display layers with instanced geometry
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls012_visible.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_bbox.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_colored.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_hideonplayback.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_reference.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_rgbcolor.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_templated.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_untextured.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnInstancedMeshes_balls01_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDisplayLayers.py
  test/testSamples/instances/instancedTexturedBalls.usda
  test/testSamples/instances/texturedBall.usda
Labels: unit test, ready-for-merge

#2916 Update the title of Duplicate As Usd Data Option Dialog to match. Also refactored various files that used duplicate as Maya data while the business logic within them meant to perform duplicate as Usd data.
  lib/mayaUsd/resources/scripts/CMakeLists.txt
  lib/mayaUsd/resources/scripts/mayaUsdDuplicateAsUsdDataOptions.mel
  lib/mayaUsd/resources/scripts/mayaUsdDuplicateAsUsdDataOptions.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  plugin/adsk/scripts/mayaUsdMenu.mel
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: bug, adsk, ready-for-merge

#2885 MAYA-127404 sub-layers relative to their parent
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeItem.h
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  lib/usd/ui/layerEditor/mayaSessionState.h
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
  lib/usd/ui/layerEditor/sessionState.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
Labels: adsk, ready-for-merge

#2910 MAYA-127975 - Add "Unassign Material" function to viewport context menu
  plugin/adsk/scripts/USDMenuProc.mel
Labels: ready-for-merge

#2912 MAYA-128001 - clearMetadata doesn't work for UsdShadeNodeGraph attribute.
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  test/lib/ufe/testAttributes.py
Labels: ufe-usd, ready-for-merge

#2922 MAYA-126128 sync session layer for various commands
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.h
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.h
  lib/mayaUsd/ufe/UsdUndoReorderCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/layers.cpp
  lib/mayaUsd/utils/layers.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testRename.py
  test/lib/ufe/testReorderCmd.py
Labels: enhancement, ufe-usd, ready-for-merge

#2915 Add a getter for usdimaging delegate in proxy adapter
  lib/usd/hdMaya/adapters/proxyAdapter.h
Labels: mtoh, ready-for-merge

#2923 MAYA-127944 - As a user, I'd like to add prototypes to display layers
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_colored.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_hidden.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_hideonplayback.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_reference.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_templated.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_visible.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateDisplayLayersTest/baseline/displayLayersOnPointInstancerAsWhole_wireframe.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateDisplayLayers.py
Labels: vp2renderdelegate, ready-for-merge

#2929 MAYA-124715: Error: Failed verification: on File > New
  lib/mayaUsd/ufe/Utils.cpp
Labels: ufe-usd, ready-for-merge

#2918 MAYA-128040: isDisconnected local variable treated as error if pxr > v0.23
  lib/mayaUsd/ufe/UsdUndoConnectionCommands.cpp
Labels: ufe-usd, ready-for-merge

#2928 MAYA-126128 transform command error reporting
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/testBlockedLayerEdit.py
  test/lib/ufe/testGroupCmd.py
Labels: ufe-usd, ready-for-merge

#2930 Removed DisplayColor from ShadingMode export command as the flag has its own command exportDisplayColor
  lib/mayaUsd/commands/Readme.md
Labels: adsk, ready-for-merge

#2867 Add PXR_USD_WINDOWS_DLL_PATH to all of the windows module templates.
  modules/alUSD_Win.mod.template
  modules/mayaUSD_Win.mod.template
  modules/pxrUSD_Win.mod.template
Labels: al, pxr, adsk, ready-for-merge

#2931 Add cmake test fixes to go with .mod file changes made recently
  cmake/test.cmake
Labels: unit test, ready-for-merge

#2902 MAYA-127737 allow loading relative sub layers
  lib/usd/ui/layerEditor/loadLayersDialog.cpp
  lib/usd/ui/layerEditor/loadLayersDialog.h
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
Labels: enhancement, adsk, ready-for-merge

#2935 MAYA-127916 - As a user, I'd like USD Layer Editor in the Windows menu
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: adsk, ready-for-merge

#2933 MAYA-124702: retrieve ufe runtime id by data source integer reference
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.cpp
Labels: ufe, ready-for-merge

#2940 MAYA-128044: Outliner: Renaming prims changes icon to def
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
Labels: ufe-usd, ready-for-merge

#2934 MAYA-128211 block command when layers are muted
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/utils/layers.cpp
  lib/mayaUsd/utils/layers.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testRename.py
Labels: bug, ufe-usd, ready-for-merge

#2945 Detect if USD was built with extra security patches
  cmake/modules/FindUSD.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/utils/plugRegistryHelper.cpp
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  test/lib/usd/plugin/mayaUsdPlugInfo.json
Labels: adsk, ready-for-merge

#2948 Fix SceneIndex library path (linux/mac need lib prefix)
  lib/mayaUsd/sceneIndex/CMakeLists.txt
Labels: bug, ready-for-merge

#2955 MAYA-128407 fix edit-target loops in proxy shape compute
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/utils/layers.cpp
  lib/mayaUsd/utils/layers.h
  lib/mayaUsd/utils/targetLayer.cpp
  lib/mayaUsd/utils/targetLayer.h
Labels: bug, adsk, ready-for-merge

#2952 Single channel should show as black and white in viewport
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/DemoQuads_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_flat_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_base.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_specular_color.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/DemoQuads.usda
  test/testSamples/MaterialX/textures/R16F.exr
  test/testSamples/MaterialX/textures/R32F.exr
  test/testSamples/MaterialX/textures/R8U.png
  test/testSamples/MaterialX/textures/RG16F.exr
  test/testSamples/MaterialX/textures/RG32F.exr
  test/testSamples/MaterialX/textures/RG8U.png
Labels: vp2renderdelegate, ready-for-merge

#2927 [al]Fixing multiple colour sets export from Maya to USD
  plugin/al/translators/tests/testTranslators.py
  plugin/al/usdmayautils/AL/usdmaya/utils/MeshUtils.cpp
Labels: al, ready-for-merge

#2959 MAYA-128463 transform command return null.
  lib/mayaUsd/ufe/UsdTransform3d.cpp
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/Utils.h
Labels: ufe-usd, ready-for-merge

#2960 Preparation for Ufe v4.1
  cmake/modules/FindUFE.cmake
Labels: build, ready-for-merge

#2963 Assign to component tags
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.h
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2951 MAYA-127758 add edit routing for attributes
  lib/mayaUsd/base/tokens.cpp
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/python/wrapEditRouter.cpp
  lib/mayaUsd/python/wrapTokens.cpp
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdObject3d.cpp
  lib/mayaUsd/utils/editRouter.cpp
  lib/mayaUsd/utils/editRouter.h
  lib/usd/translators/mayaReferenceUpdater.cpp
  test/lib/ufe/testVisibilityCmd.py
Labels: enhancement, adsk, ready-for-merge

#2972 Add smart signaling for renderers.
  lib/mayaUsd/nodes/CMakeLists.txt
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/proxyShapeUpdateManager.cpp
  lib/mayaUsd/nodes/proxyShapeUpdateManager.h
  test/lib/ufe/testContextOps.py
  test/lib/ufe/testUINodeGraphNode.py
Labels: proxy, ready-for-merge

#2988 Merge v0.23.0 to dev
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#2942 Added applyEulerFilter to import
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/importData.cpp
  lib/mayaUsd/fileio/importData.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/translators/translatorSkel.cpp
  lib/mayaUsd/fileio/translators/translatorXformable.cpp
  plugin/adsk/plugin/importTranslator.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdImportEulerFilter.py
Labels: import-export, ready-for-merge

#2964 MAYA-114041 - As a user, I'd like my pulled Maya object to inherit visibility
  lib/mayaUsd/nodes/proxyAccessor.cpp
  lib/mayaUsd/nodes/proxyAccessor.h
  lib/mayaUsd/nodes/proxyAccessor.py
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
Labels: core, ready-for-merge

#2967 Added size functions in UINodeGraphNode
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdUINodeGraphNode.cpp
  lib/mayaUsd/ufe/UsdUINodeGraphNode.h
  test/lib/ufe/testUINodeGraphNode.py
Labels: ufe-usd, ready-for-merge

#2975 Adding missing <mutex> include
  lib/mayaUsd/nodes/proxyShapeUpdateManager.cpp
Labels: build, ready-for-merge

#2986 MAYA-126040 improve preventing edits
  doc/EditRouting.md
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.cpp
  lib/mayaUsd/ufe/UsdUndoVisibleCommand.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testEditRouting.py
  test/lib/ufe/testVisibilityCmd.py
Labels: ufe-usd, ready-for-merge

#2989 Turned off legacy mtoh build
  CMakeLists.txt
  README_DOC.md
Labels: mtoh, ready-for-merge

#2976 Adhere to coding standard and use the fully qualified namespace name
  lib/mayaUsd/fileio/jobs/meshDataReadJob.cpp
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/orphanedNodesManagerIO.cpp
  lib/mayaUsd/fileio/primUpdater.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/transformWriter.cpp
  lib/mayaUsd/fileio/translators/translatorCamera.cpp
  lib/mayaUsd/fileio/translators/translatorCurves.cpp
  lib/mayaUsd/fileio/translators/translatorMayaReference.cpp
  lib/mayaUsd/fileio/translators/translatorSkel.cpp
  lib/mayaUsd/fileio/translators/translatorUtil.cpp
  lib/mayaUsd/fileio/utils/adaptor.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/python/wrapConverter.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/PulledObjectHierarchyHandler.cpp
  lib/mayaUsd/ufe/UsdHierarchy.cpp
  lib/mayaUsd/ufe/UsdPathMappingHandler.cpp
  lib/mayaUsd/utils/util.cpp
  lib/usd/translators/mayaReferenceUpdater.cpp
  lib/usd/translators/shading/mtlxBaseReader.cpp
  lib/usd/translators/shading/mtlxBaseWriter.cpp
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/mtlxPreviewSurfaceWriter.cpp
  lib/usd/translators/shading/mtlxStandardSurfaceWriter.cpp
  lib/usd/translators/shading/usdDisplacementShaderWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.cpp
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.h
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  plugin/pxr/maya/lib/usdMaya/readJob_ImportWithProxies.cpp
  plugin/pxr/maya/lib/usdMaya/translatorModelAssembly.cpp
  test/lib/mayaUsd/utils/testLoadRules.cpp
  test/lib/mayaUsd/utils/testSplitString.cpp
  test/lib/mayaUsd/utils/testTargetLayer.cpp
  test/lib/usd/utils/test_DiffAttributes.cpp
  test/lib/usd/utils/test_DiffComputeOverall.cpp
  test/lib/usd/utils/test_DiffDictionaries.cpp
  test/lib/usd/utils/test_DiffLists.cpp
  test/lib/usd/utils/test_DiffMetadatas.cpp
  test/lib/usd/utils/test_DiffPrims.cpp
  test/lib/usd/utils/test_DiffPrimsAttributes.cpp
  test/lib/usd/utils/test_DiffPrimsChildren.cpp
  test/lib/usd/utils/test_DiffPrimsRelations.cpp
  test/lib/usd/utils/test_DiffRelationships.cpp
  test/lib/usd/utils/test_DiffValues.cpp
  test/lib/usd/utils/test_DiffValuesArrays.cpp
  test/lib/usd/utils/test_DiffValuesDoubleVecs.cpp
  test/lib/usd/utils/test_DiffValuesFloatVecs.cpp
  test/lib/usd/utils/test_DiffValuesGeneric.cpp
  test/lib/usd/utils/test_DiffValuesHalfVecs.cpp
  test/lib/usd/utils/test_DiffValuesIntVecs.cpp
  test/lib/usd/utils/test_DiffValuesMatrices.cpp
  test/lib/usd/utils/test_DiffValuesQuaternions.cpp
  test/lib/usd/utils/test_MergePrims.cpp
Labels: build, ready-for-merge

#2994 Recognize string properties with IsAssetIdentifier as being filename
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/Utils.cpp
Labels: ufe-usd, ready-for-merge
