Repository Autodesk/maya-usd, pull requests merged in 2023-12, with the labels that each got.

#3489 EMSUSD-647 fix copying the proxy shape node
  lib/mayaUsd/nodes/layerManager.cpp
Labels: import-export, ready-for-merge

#3482 EMSUSD-599 - USD data is not registered on the Maya File Path Editor
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  plugin/adsk/plugin/plugin.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: adsk, import-export, ready-for-merge

#3493 Use new Hd MtlxStdLibraries API
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/utils/test_ShaderGenUtils.cpp
Labels: vp2renderdelegate, ready-for-merge

#3488 EMSUSD-835 - Provide access to the Export Selected options
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  plugin/adsk/plugin/exportTranslator.cpp
  test/lib/mayaUsd/fileio/testExportChaser.py
Labels: import-export, ready-for-merge

#3494 LOOKDEVX-2260 - Add a third party naming convention for shader outliner icons
  lib/mayaUsd/ufe/MayaUsdUIInfoHandler.cpp
  lib/mayaUsd/ufe/MayaUsdUIInfoHandler.h
Labels: ufe-usd, ready-for-merge

#3496 EMSUSD-791 - Add bulk editing support for unload and load with descendants
  lib/usdUfe/ufe/UsdContextOps.cpp
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#3498 EMSUSD-126 fix finding strongest layer.
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/utils/layers.cpp
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testVariant.py
  test/testSamples/variantInRef/layout/assets/asset.usda
  test/testSamples/variantInRef/layout/assets/geo_variants.usda
  test/testSamples/variantInRef/layout/layout.usda
  test/testSamples/variantInRef/shot.usda
Labels: ufe-usd, ready-for-merge

#3506 EMSUSD-807 - From LookdevX bring over UINodeGraphNode new virtual functions
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdUINodeGraphNode.cpp
  lib/mayaUsd/ufe/UsdUINodeGraphNode.h
  test/lib/ufe/testUINodeGraphNode.py
Labels: ufe-usd, ready-for-merge

#3504 EMSUSD-852 allow saving locked layers
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeView.cpp
Labels: adsk, ready-for-merge

#3503 LOOKDEVX-2128 - Allow specializing the topo neutral graph generator
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.h
  lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/colorManagementPreferences.cpp
  lib/mayaUsd/render/vp2RenderDelegate/colorManagementPreferences.h
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: core, build, ready-for-merge

#3507 EMSUSD-765 - Update OCIO code to handle new Hydra colorspace info
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/color_management_USD.usda
  test/testSamples/MaterialX/no-rule-studio-config-v1.0.0_aces-v1.3_ocio-v2.0.ocio
Labels: vp2renderdelegate, ready-for-merge

#3509 LOOKDEVX-2266 - Fix multiple NodeGraph connections.
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.cpp
  test/lib/mayaUsd/utils/materialx_test_data/MultiConnect1_topo.mtlx
  test/lib/mayaUsd/utils/materialx_test_data/topology_tests.mtlx
Labels: vp2renderdelegate, ready-for-merge

#3505 EMSUSD-808 - Integrated UsdSceneItemMetaData Into UsdSceneItem
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/usdUfe/CMakeLists.txt
  lib/usdUfe/ufe/CMakeLists.txt
  lib/usdUfe/ufe/UsdSceneItem.cpp
  lib/usdUfe/ufe/UsdSceneItem.h
  lib/usdUfe/ufe/UsdUndoClearSceneItemMetadataCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearSceneItemMetadataCommand.h
  lib/usdUfe/ufe/UsdUndoSetSceneItemMetadataCommand.cpp
  lib/usdUfe/ufe/UsdUndoSetSceneItemMetadataCommand.h
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
Labels: adsk, ready-for-merge

#3479 EMSUSD-820 run more of the Pixar plugin tests
  plugin/pxr/maya/lib/CMakeLists.txt
  plugin/pxr/maya/lib/pxrUsdMayaGL/CMakeLists.txt
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/baseline/InstancerTest_cards_v1.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/baseline/InstancerTest_frame50_v1.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/baseline/InstancerTest_instance2_v1.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/RefAssemblyDrawRepresentationsTest/baseline/RefAssemblyDrawRepresentationsTest_Cards_v1.png
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testBatchRendererIsolateSelection.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testPxrUsdMayaGLInstancerDraw.py
  plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/testRefAssemblyDrawRepresentations.py
  test/lib/mayaUsd/render/pxrUsdMayaGL/testProxyShapeDrawColors.py
Labels: pxr, unit test, ready-for-merge

#3508 EMSUSD-848 fix edit target after layer clear
  lib/mayaUsd/commands/layerEditorCommand.cpp
Labels: bug, adsk, ready-for-merge

#3514 EMSUSD-875 - MayaUSD : Bump UFE version to v5.0
  cmake/modules/FindUFE.cmake
Labels: build, ready-for-merge

#3499 EMSUSD-215 support custom display name for USD attributes
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/attribute_custom_control.py
  lib/mayaUsd/resources/ae/usdschemabase/custom_enum_control.py
  lib/mayaUsd/resources/ae/usdschemabase/custom_image_control.py
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttribute.h
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdAttributeHolder.h
  lib/mayaUsd/ufe/UsdShaderAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdShaderAttributeHolder.h
  lib/usdUfe/utils/Utils.cpp
  test/lib/testAttributeEditorTemplate.py
  test/lib/ufe/testAttribute.py
Labels: adsk, ready-for-merge

#3515 LOOKDEVX-1625 - Use proper API to set color space in USD
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
Labels: ufe-usd, ready-for-merge

#3513 EMSUSD-65 use wait cursor for payload commands
  lib/mayaUsd/ufe/Global.cpp
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/usdUfe/ufe/CMakeLists.txt
  lib/usdUfe/ufe/Global.cpp
  lib/usdUfe/ufe/Global.h
  lib/usdUfe/ufe/UsdContextOps.cpp
  lib/usdUfe/ufe/UsdUndoLongDurationCommand.cpp
  lib/usdUfe/ufe/UsdUndoLongDurationCommand.h
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
Labels: enhancement, adsk, ready-for-merge

#3519 EMSUSD-808 - Fixes an out of range crash that only occurs in Debug mode
  lib/usdUfe/utils/Utils.cpp
  test/lib/ufe/testAttribute.py
Labels: bug, ready-for-merge

#3524 Update README.md with a link to the release page
  README.md
Labels: documentation, ready-for-merge

#3517 LOOKDEVX-2260 - Fix Linux icon paths
  lib/mayaUsd/ufe/MayaUsdUIInfoHandler.cpp
Labels: arnold, ready-for-merge

#3516 LOOKDEVX-2324 - Export MaterialX path for extra nodes
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
Labels: arnold, ready-for-merge

#3528 EMSUSD-799: See the bulk menu look modern and up to date with VXD
  lib/usdUfe/ufe/UsdContextOps.cpp
Labels: ufe-usd, ready-for-merge

#3526 EMSUSD-756 allow parenting under a stronger layer
  lib/usdUfe/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
Labels: bug, ufe-usd, ready-for-merge

#3522 Pr/deprecate boost optional for sdf copy spec
  lib/usd/utils/MergePrims.cpp
Labels: build, ready-for-merge

#3530 EMSUSD-761 - Fixes USDZ extension not being accepted in prim hierarchy view
  lib/mayaUsd/utils/utilSerialization.cpp
Labels: ready-for-merge, regression

#3531 LOOKDEVX-2333 - Use uimin if uisoftmin is missing
  lib/mayaUsd/ufe/UsdShaderAttributeDef.cpp
  test/lib/ufe/testAttribute.py
Labels: ufe-usd, ready-for-merge

#3532 EMSUSD-869 - Restore OpenEXR test
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
Labels: unit test, ready-for-merge

#3518 EMSUSD-671 fix reloading scene with layers saved in the Maya scene
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/mayaUsd/nodes/ProxyShapeBaseTest/CubeModel.usda
  test/lib/mayaUsd/nodes/testLayerManagerSerialization.py
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
Labels: core, ready-for-merge

#3533 EMSUSD-841 don't show set-as-default prim when already default
  lib/usdUfe/ufe/UsdContextOps.cpp
Labels: adsk, ufe-usd, ready-for-merge
