Repository Autodesk/maya-usd, pull requests merged in 2023-02, with the labels that each got.

#2858 Adding a MaterialX v1.38.5 update for closures
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
Labels: vp2renderdelegate, ready-for-merge

#2879 Update version to v0.23.0
  cmake/mayausd_version.info
Labels: build

#2830 MAYA-104552 flush the diagnostic when Maya exits.
  lib/mayaUsd/utils/diagnosticDelegate.cpp
Labels: enhancement, ready-for-merge

#2846 MAYA-127428 - Missing metadata notification.
  lib/mayaUsd/ufe/StagesSubject.cpp
Labels: ufe-usd, ready-for-merge

#2853 Add a version upper bound on Hydra workaround
  lib/mayaUsd/ufe/UsdConnectionHandler.cpp
  lib/mayaUsd/ufe/UsdUndoConnectionCommands.cpp
Labels: ufe-usd, ready-for-merge

#2855 MAYA-127393 allow USD ref to be relative
  lib/mayaUsd/resources/scripts/CMakeLists.txt
  lib/mayaUsd/resources/scripts/mayaUsdAddUSDReference.mel
  lib/mayaUsd/ufe/UsdContextOps.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
  plugin/adsk/scripts/mayaUsd_pluginUICreation.mel
Labels: adsk, ready-for-merge

#2861 MAYA-127459 - Create an autotest for USD root layer having a relative path
  lib/mayaUsd/python/wrapUtil.cpp
  test/lib/testMayaUsdCreateStageCommands.py
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: unit test, ready-for-merge

#2862 mayaUsd scene hierarchies need flattening scene index filter.
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.cpp
Labels: enhancement, ready-for-merge

#2864 MAYA-127478 fix bulk save of root layer filename
  lib/mayaUsd/nodes/layerManager.cpp
Labels: bug, adsk, ready-for-merge

#2868 MAYA-124897 implement scale pivot for common API
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.h
Labels: adsk, ready-for-merge

#2870 Fix untextured rendering of ND_surface
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_flat_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_untextured_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/MayaSurfaces.usda
Labels: vp2renderdelegate, ready-for-merge

#2875 MAYA-125727 - Implement display layer's template and reference modes for instanced geometry
  lib/mayaUsd/render/vp2RenderDelegate/draw_item.h
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2876 MAYA-125340 improve error messages
  lib/mayaUsd/ufe/Utils.cpp
Labels: enhancement, adsk, ready-for-merge

#2866 MAYA-126541 - Create a more extensive unit test for display layer support during USD to USD duplication
  test/lib/ufe/testDisplayLayer.py
Labels: unit test, ready-for-merge

#2873 MAYA-127699 - Avoid diving into material when user selects "Show in LookdevX"
  lib/mayaUsd/ufe/UsdMaterial.cpp
Labels: ready-for-merge, materials

#2852 MAYA-127483 - Deleting a connection does not delete source and destination properties.
  lib/mayaUsd/ufe/UsdUndoConnectionCommands.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/ufe/testConnections.py
  test/testSamples/properties/properties.usda
Labels: ufe-usd, ready-for-merge

#2883 MAYA-125724 - Implement display layer's wireframe mode for instanced geometry
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
Labels: vp2renderdelegate, ready-for-merge

#2884 MAYA-114188 save the target layer
  lib/mayaUsd/listeners/stageNoticeListener.cpp
  lib/mayaUsd/listeners/stageNoticeListener.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/nodes/proxyShapeStageExtraData.cpp
  lib/mayaUsd/nodes/proxyShapeStageExtraData.h
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/targetLayer.cpp
  lib/mayaUsd/utils/targetLayer.h
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/mayaUsd/utils/CMakeLists.txt
  test/lib/mayaUsd/utils/testTargetLayer.cpp
Labels: enhancement, adsk, schema, ready-for-merge

#2888 MAYA-000000 Reduce testUsdExportPackage failures
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportPackage.py
Labels: unit test, ready-for-merge

#2889 Restore disabled test
  test/lib/ufe/testVisibilityCmd.py
Labels: unit test, ready-for-merge

#2891 Correctly handle MaterialX filename inputs
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_flat_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/MayaSurfaces_untextured_render.png
  test/testSamples/MaterialX/MayaSurfaces.usda
Labels: vp2renderdelegate, ready-for-merge

#2890 MAYA-127808 update edit target when saving an anonymous layer
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
Labels: bug, adsk, ready-for-merge

#2860 Import meshes with single samples as static geometry
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  test/lib/usd/translators/UsdImportSkeleton/skelStaticTimeSampledMesh.usda
  test/lib/usd/translators/testUsdImportSkeleton.py
Labels: import-export, ready-for-merge

#2894 MAYA-127484 : Deleting a connected compound attribute does not delete its connection.
  lib/mayaUsd/ufe/UsdAttributes.cpp
  test/lib/ufe/testAttributes.py
Labels: ufe-usd, ready-for-merge

#2897 MAYA-125725 - Implement display layer's untextured mode for instanced geometry
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mayaPrimCommon.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  lib/mayaUsd/render/vp2RenderDelegate/mesh.h
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/tokens.h
Labels: vp2renderdelegate, ready-for-merge

#2895 MAYA-124737 improve duplicate command
  lib/mayaUsd/ufe/UsdUndoDuplicateCommand.cpp
  lib/usd/utils/util.cpp
  lib/usd/utils/util.h
  test/lib/ufe/testDuplicateCmd.py
  test/testSamples/cubeRef/cube-root.usda
  test/testSamples/cubeRef/cube.usda
Labels: bug, ufe-usd, ready-for-merge

#2782 Write sourceColorSpace=raw when using Utility - Raw
  lib/usd/translators/shading/shadingTokens.h
  lib/usd/translators/shading/usdFileTextureWriter.cpp
Labels: import-export, ready-for-merge

#2898 MAYA-127907 - Reset unauthored attributes to default on Sync
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_base.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_file.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_scale.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_specular_color.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/delete_attr_test_value1.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/delete_attr_test.usda
Labels: vp2renderdelegate, ready-for-merge

#2899 MAYA-124922 use Load/Unload for payload
  lib/mayaUsd/ufe/UsdContextOps.cpp
Labels: enhancement, adsk, ready-for-merge

#2901 MAYA-110702 - Prim AE template cleanup Xformable section
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: adsk, ready-for-merge

#2892 MAYA-106352 keep hierarchy window on top of import window
  lib/usd/ui/importDialog/USDImportDialogCmd.cpp
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: enhancement, adsk, import-export, ready-for-merge

#2904 MAYA-127427 fix rename when staged multiple times
  lib/mayaUsd/ufe/UsdSceneItem.cpp
  lib/mayaUsd/ufe/UsdUIInfoHandler.cpp
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
Labels: bug, adsk, ready-for-merge, outliner

#2837 MAYA-127355 : Deleting a node does not delete its connections.
  lib/mayaUsd/ufe/UsdAttributes.cpp
  lib/mayaUsd/ufe/UsdAttributes.h
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  test/lib/ufe/testDeleteCmd.py
  test/testSamples/MaterialX/multiple_connections.usda
Labels: ufe-usd, ready-for-merge

#2903 Use "mtl" as default scope name on export
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/testMayaUsdInteractiveMaterialsScopeName.py
  test/lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportMultiMaterial.py
Labels: import-export, ready-for-merge, materials

#2906 MAYA-127959 avoid crash when world node has an unexpected name
  lib/mayaUsd/ufe/ProxyShapeCameraHandler.cpp
Labels: ready-for-merge, crash

#2905 MAYA-127370 - Preview of my relative path (resolved and unresolved)
  lib/mayaUsd/python/wrapUtil.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
Labels: adsk, ready-for-merge

#2754 Add Custom Layer Data export flag
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  test/lib/usd/translators/testUsdExportLayerAttributes.py
Labels: import-export, ready-for-merge

#2900 Removed an artifical crash in transform operations and replaced it with a asserts.
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
Labels: adsk, ready-for-merge, crash

#2908 Add env var MAYAUSD_VP2_USE_ONLY_PREVIEWSURFACE
  lib/mayaUsd/render/vp2RenderDelegate/render_delegate.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/ShadedPyramid_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateNoMaterialX.py
  test/testSamples/MaterialX/ShadedPyramid.usda
Labels: vp2renderdelegate, ready-for-merge, materials
