Repository Autodesk/maya-usd, pull requests merged in 2023-01, with the labels that each got.

#2783 MAYA-126483 Fix a bug where materials got created in the wrong scope.
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#2791 MAYA-126533 Merge top UFE classification for glsfx and USD shader
  lib/mayaUsd/ufe/UsdShaderNodeDef.cpp
Labels: ufe-usd, ready-for-merge

#2788 Correctly expose Material and NodeGraph attributes in Maya AE
  lib/mayaUsd/base/tokens.h
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdShaderAttributeDef.cpp
  lib/mayaUsd/ufe/UsdShaderAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdShaderNodeDef.cpp
  lib/mayaUsd/utils/util.cpp
Labels: ufe-usd, ready-for-merge

#2808 MAYA-126158 update documentation of the export command
  lib/mayaUsd/commands/Readme.md
Labels: documentation, ready-for-merge

#2805 MAYA-126175: add scene index plugin code
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/sceneIndex/CMakeLists.txt
  lib/mayaUsd/sceneIndex/plugInfo.json
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.cpp
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.h
Labels: enhancement, core, ready-for-merge

#2790 MAYA-124105 Fix opacity computations for MaterialX and USD materials
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/CMakeLists.txt
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/transparencyScene.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/transparencyScene.ma
  test/testSamples/MaterialX/transparencyStage.usda
Labels: vp2renderdelegate, ready-for-merge, materials

#2800 Maya-126871 Delete compound attributes does not remove their connections.
  lib/mayaUsd/ufe/UsdAttributes.cpp
  test/lib/ufe/testAttributes.py
Labels: ufe-usd, ready-for-merge

#2814 Remove frequent warning in Arnold/RenderMan shading workflows
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: vp2renderdelegate, ready-for-merge

#2816 UDIM: Use default LOD values in anisotropic mode
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate, ready-for-merge

#2801 MAYA-126653 - mayaUsd.ufe.stagePath() returns incorrect value
  lib/mayaUsd/ufe/wrapUtils.cpp
  test/lib/ufe/testPythonWrappers.py
  test/lib/ufe/testRename.py
Labels: ufe-usd, unit test, ready-for-merge

#2819 MAYA-127074 - MayaUSD : Bump UFE version to 4.0
  cmake/modules/FindUFE.cmake
Labels: build, ready-for-merge

#2789 MAYA-109455 UFE USD camera commands
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdCamera.cpp
  lib/mayaUsd/ufe/UsdLight.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dUndoableCommands.cpp
  lib/mayaUsd/ufe/UsdTransform3dUndoableCommands.h
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.cpp
  lib/mayaUsd/ufe/UsdUndoAttributesCommands.h
  lib/mayaUsd/ufe/UsdUndoableCommand.cpp
  lib/mayaUsd/ufe/UsdUndoableCommand.h
  test/lib/ufe/testCamera.py
Labels: adsk, ufe-usd, ready-for-merge

#2794 MAYA-122927 interaction between deactivation and cancel edit
  lib/mayaUsd/fileio/orphanedNodesManager.cpp
  lib/mayaUsd/fileio/orphanedNodesManager.h
  lib/mayaUsd/fileio/pullInformation.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/primActivation.cpp
  lib/mayaUsd/utils/primActivation.h
  lib/usd/translators/mayaReferenceUpdater.cpp
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testAddMayaReference.py
  test/lib/mayaUsd/fileio/testDiscardEdits.py
Labels: bug, core, ready-for-merge

#2799 MAYA-104552 improve diagnostics
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/python/wrapDiagnosticDelegate.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/batchRenderer.h
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
  lib/mayaUsd/utils/diagnosticDelegate.cpp
  lib/mayaUsd/utils/diagnosticDelegate.h
  test/lib/mayaUsd/utils/testDiagnosticDelegate.py
  test/lib/ufe/testAttribute.py
  test/lib/ufe/testAttributes.py
  test/lib/ufe/testConnections.py
  test/lib/usd/translators/testUsdExportStripNamespaces.py
Labels: enhancement, core, ready-for-merge

#2803 MAYA-125036 correctly identify orphaned edited prims
  lib/mayaUsd/fileio/pullInformation.cpp
  lib/mayaUsd/fileio/pullInformation.h
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUsd.py
  lib/mayaUsd/ufe/MayaUIInfoHandler.cpp
Labels: adsk, ready-for-merge, outliner

#2813 MAYA-124789 invalid beziers
  lib/usd/translators/nurbsCurveWriter.cpp
  test/lib/usd/translators/testUsdExportNurbsCurve.py
Labels: import-export, ready-for-merge

#2818 Shorten nice names by trimming schema name
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  test/lib/ufe/testAttribute.py
Labels: ufe-usd, ready-for-merge

#2821 MAYA-126175: fix plugInfo to use relative path
  lib/mayaUsd/sceneIndex/CMakeLists.txt
  lib/mayaUsd/sceneIndex/plugInfo.json
Labels: core, ready-for-merge

#2822 LOOKDEVX-1084 - Prevent string conversions to throw exceptions with empty value
  lib/mayaUsd/ufe/Utils.cpp
Labels: ufe-usd, ready-for-merge

#2811 MAYA-127045 Add reparenting rules for Shaders, NodeGraphs and Materials.
  lib/mayaUsd/ufe/UsdUndoInsertChildCommand.cpp
  test/lib/ufe/testParentCmd.py
Labels: ufe-usd, ready-for-merge

#2824 Prettify: Add space on lower to upper transition
  lib/mayaUsd/utils/util.cpp
  test/lib/ufe/testAttribute.py
Labels: ufe-usd, ready-for-merge

#2823 LOOKDEVX-1091 - Add Ufe log on console to notify shader attribute without a default value
  lib/mayaUsd/ufe/UsdShaderAttributeHolder.cpp
Labels: adsk, ufe-usd, ready-for-merge

#2827 Use the PXR namespace directive
  lib/mayaUsd/utils/primActivation.cpp
Labels: build, ready-for-merge

#2828 LOOKDEVX-1093 | Prevents a hang that can occur when forming certain
  lib/mayaUsd/ufe/UsdUndoConnectionCommands.cpp
  test/lib/ufe/testConnections.py
  test/testSamples/MaterialX/compound_displacement_passthrough.usda
Labels: ufe-usd, ready-for-merge

#2834 Skip new test if UFE attribute metadata not available
  test/lib/ufe/testAttribute.py
Labels: unit test, ready-for-merge

#2784 Fix empty values for remapUVSetsTo
  test/lib/usd/translators/testUsdExportUVSetMappings.py
Labels: unit test, ready-for-merge

#2840 MAYA-126515 clean options of materials scope name
  lib/mayaUsd/resources/scripts/mayaUsdOptions.py
Labels: adsk, ready-for-merge

#2845 Fixes an issue on layer editor save dialog, where an invalid extension could cause a crash. The fallback is .usd.
  lib/mayaUsd/utils/utilSerialization.cpp
Labels: adsk, ready-for-merge

#2848 MAYA-127353 - As a user, I'd like to load my USD root file as relative to the scene file
  lib/mayaUsd/python/wrapUtil.cpp
  lib/mayaUsd/utils/utilFileSystem.cpp
  lib/mayaUsd/utils/utilFileSystem.h
  plugin/adsk/scripts/AETemplateHelpers.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
  plugin/adsk/scripts/mayaUsd_layerEditorFileDialogs.mel
Labels: adsk, ready-for-merge

#2829 MAYA-124459 import as anim cache
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportPointCacheTest/pointCache.usda
  test/lib/usd/translators/testUsdImportPointCache.py
Labels: bug, adsk, import-export

#2836 Preserve NodeGraph boundaries on duplicate.
  lib/mayaUsd/ufe/UsdUndoDuplicateSelectionCommand.cpp
  test/lib/ufe/testBatchOpsHandler.py
Labels: ufe-usd, ready-for-merge

#2844 MAYA-127233: enable instances to determine non empty stage in preparation for USD v23
  lib/mayaUsd/sceneIndex/proxyShapeSceneIndexPlugin.cpp
Labels: mtoh, ready-for-merge

#2847 Fixes an issue on layer editor when trying to save a root layer directly (by right clicking on the layer and Save As.), where an invalid extension could cause a crash. The fallback is .usd.
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  lib/usd/ui/layerEditor/layerTreeItem.cpp
Labels: adsk, ready-for-merge

#2854 MAYA-127119 - Save USD root file relative to scene file
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsd_USDRootFileRelative.py
Labels: adsk, ready-for-merge
