Repository Autodesk/maya-usd, pull requests merged in 2024-07, with the labels that each got.

#3839 EMSUSD-1115 export stages as references
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  lib/usd/translators/CMakeLists.txt
  lib/usd/translators/stageWriter.cpp
  lib/usd/translators/stageWriter.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsd_exportHelpers.py
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportStagesAsRefsTest/sceneWithStage.ma
  test/lib/usd/translators/UsdExportStagesAsRefsTest/stage.usda
  test/lib/usd/translators/testUsdExportStagesAsRefs.py
Labels: adsk, import-export, ready-for-merge

#3842 MAYA-131348 - Adapt to Maya Ufe world node change
  lib/mayaUsd/commands/PullPushCommands.cpp
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/python/wrapPrimUpdaterManager.cpp
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/mayaUsd/ufe/UsdUndoCreateStageWithNewLayerCommand.cpp
  lib/mayaUsd/ufe/UsdUndoCreateStageWithNewLayerCommand.h
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  lib/mayaUsd/ufe/wrapUtils.cpp
  lib/mayaUsdAPI/utils.h
  plugin/adsk/scripts/mayaUsd_createStageWithNewLayer.py
  test/lib/mayaUsd/fileio/testDiscardEdits.py
  test/lib/mayaUsd/fileio/testDuplicateAs.py
  test/lib/mayaUsd/nodes/testLayerManagerSerialization.py
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/lib/mayaUsd/undo/testOpUndoItem.py
  test/lib/mayaUsd/undo/testOpUndoItemList.py
  test/lib/mayaUsd/undo/testUsdUndoManager.py
  test/lib/testMayaUsdCreateStageCommands.py
  test/lib/ufe/testBatchOpsHandler.py
  test/lib/ufe/testClipboard.py
  test/lib/ufe/testDeleteCmd.py
  test/lib/ufe/testGroupCmd.py
  test/lib/ufe/testLegacyDeleteCmd.py
  test/lib/ufe/testObject3d.py
  test/lib/ufe/testParentCmd.py
  test/lib/ufe/testPythonWrappers.py
  test/lib/ufe/testRename.py
  test/lib/ufe/testReorderCmd.py
Labels: bug, ufe, ready-for-merge

#3841 EMSUSD-1379 write Autodesk metadata to the session layer
  lib/usdUfe/base/tokens.h
  lib/usdUfe/ufe/UsdSceneItem.cpp
  lib/usdUfe/ufe/UsdSceneItem.h
  lib/usdUfe/ufe/UsdUndoClearSceneItemMetadataCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearSceneItemMetadataCommand.h
  lib/usdUfe/ufe/UsdUndoSetSceneItemMetadataCommand.cpp
  lib/usdUfe/ufe/UsdUndoSetSceneItemMetadataCommand.h
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testSceneItemMetadata.py
Labels: adsk, ufe, ready-for-merge

#3843 EMSUSD-1389 save before export
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/layerManager.h
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.cpp
  lib/usd/ui/layerEditor/batchSaveLayersUIDelegate.h
  lib/usd/ui/layerEditor/layerTreeModel.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.cpp
  lib/usd/ui/layerEditor/saveLayersDialog.h
  lib/usd/ui/layerEditor/stringResources.h
Labels: import-export, ready-for-merge

#3848 Remove unused ghc include
  lib/usd/translators/stageWriter.cpp
Labels: build, ready-for-merge

#3845 Fixed accessing JobExportArgs TfToken arguments in Python
  lib/mayaUsd/python/wrapPrimWriter.cpp
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testExportChaser.py
  test/lib/mayaUsd/fileio/utils/CMakeLists.txt
  test/lib/mayaUsd/nodes/CMakeLists.txt
  test/lib/mayaUsd/undo/CMakeLists.txt
  test/lib/mayaUsd/utils/CMakeLists.txt
  test/lib/mayaUsdAPI/CMakeLists.txt
  test/lib/ufe/CMakeLists.txt
  test/lib/usd/pxrUsdPreviewSurface/CMakeLists.txt
  test/lib/usd/translators/CMakeLists.txt
Labels: import-export, ready-for-merge

#3852 MAYA-131348 - Nothing prevents users from naming nodes "world"
  test/lib/testMayaUsdCreateStageCommands.py
Labels: requires maya, unit test, ready-for-merge

#3856 EMSUSD-1361 Same-name Python edit routers
  lib/mayaUsd/python/__init__.py
  lib/mayaUsd/ufe/Global.cpp
  lib/usdUfe/python/wrapEditRouter.cpp
  lib/usdUfe/utils/editRouter.cpp
  lib/usdUfe/utils/editRouter.h
  test/lib/ufe/testEditRouting.py
Labels: bug, adsk, ready-for-merge

#3851 EMSUSD-1160 improve Maya pivot support
  lib/mayaUsd/ufe/trf/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/trf/UsdTransform3dMayaXformStack.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testCenterPivot.py
  test/lib/ufe/testPivotConversion.py
  test/testSamples/pivot/cube-usd-pivot.usda
Labels: ufe, ready-for-merge

#3849 EMSUSD-1186 - Fix the bug that default prim does not retain
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3857 LOOKDEVX-3144 - Fix transmission issues
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.h
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/utils/util.cpp
  lib/usdUfe/utils/Utils.cpp
  plugin/adsk/plugin/adskMaterialCommands.cpp
Labels: vp2renderdelegate, ready-for-merge

#3858 EMSUSD-1444 improve curve import sanity checking
  lib/mayaUsd/fileio/translators/translatorCurves.cpp
  test/lib/usd/translators/UsdImportBasisCurvesTest/invalidNurbsCurves.usda
  test/lib/usd/translators/testUsdImportNurbsCurves.py
Labels: import-export, ready-for-merge

#3863 EMSUSD-1339 default prim tooltip
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
Labels: adsk, ready-for-merge

#3862 Add required includes explicitly
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/utils/selectability.cpp
Labels: build, ready-for-merge

#3867 EMSUSD-1357 material scope when no default prim given
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  test/lib/mayaUsd/fileio/testSchemaApiAdaptor.py
  test/lib/usd/pxrUsdPreviewSurface/testPxrUsdPreviewSurfaceExport.py
  test/lib/usd/translators/testUsdExport8BitNormalMap.py
  test/lib/usd/translators/testUsdExportCustomConverter.template.py
  test/lib/usd/translators/testUsdExportDisplacement.py
  test/lib/usd/translators/testUsdExportEmptyXforms.py
  test/lib/usd/translators/testUsdExportFannedOutFileNodesMaterial.py
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdExportImportUDIM.py
  test/lib/usd/translators/testUsdExportMaterialScope.py
  test/lib/usd/translators/testUsdExportMaterialX.py
  test/lib/usd/translators/testUsdExportMultiMaterial.py
  test/lib/usd/translators/testUsdExportRfMShaders.py
  test/lib/usd/translators/testUsdExportRoots.py
  test/lib/usd/translators/testUsdExportSchemaApi.py
  test/lib/usd/translators/testUsdExportShadingInstanced.py
  test/lib/usd/translators/testUsdExportShadingModePxrRis.py
  test/lib/usd/translators/testUsdExportSkeleton.py
  test/lib/usd/translators/testUsdExportTexture.py
  test/lib/usd/translators/testUsdExportUVSetMappings.py
  test/lib/usd/translators/testUsdExportUVTransforms.py
  test/lib/usd/translators/testUsdExportUsdPreviewSurface.py
  test/lib/usd/translators/testUsdExportUsdzPackage.py
  test/testSamples/twoSpheres/sphere.usda
Labels: import-export, ready-for-merge

#3868 EMSUSD-867 don't set kind when editing as Maya
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  test/lib/mayaUsd/fileio/testMergeToUsd.py
Labels: workflows, ready-for-merge
