Repository Autodesk/maya-usd, pull requests merged in 2024-05, with the labels that each got.

#3741 EMSUSD-1135 Add flag to export empty transform
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/fileio/jobs/writeJob.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/plugin/CMakeLists.txt
  test/lib/usd/plugin/plugInfoExportEmptyConfig.json
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportEmptyXforms.py
Labels: adsk, import-export, ready-for-merge

#3744 EMSUSD-1118 instance selection highlight
  cmake/modules/FindUSD.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.h
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
Labels: vp2renderdelegate, ready-for-merge

#3746 EMSUSD-1111 Edit routing for transform commands
  lib/mayaUsd/ufe/UsdPointInstanceModifierBase.h
  lib/mayaUsd/ufe/UsdPointInstanceOrientationModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstanceOrientationModifier.h
  lib/mayaUsd/ufe/UsdPointInstancePositionModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstancePositionModifier.h
  lib/mayaUsd/ufe/UsdPointInstanceScaleModifier.cpp
  lib/mayaUsd/ufe/UsdPointInstanceScaleModifier.h
  lib/mayaUsd/ufe/UsdSetXformOpUndoableCommandBase.cpp
  lib/mayaUsd/ufe/UsdSetXformOpUndoableCommandBase.h
  lib/mayaUsd/ufe/UsdTransform3dBase.cpp
  lib/mayaUsd/ufe/UsdTransform3dBase.h
  lib/mayaUsd/ufe/UsdTransform3dCommonAPI.cpp
  lib/mayaUsd/ufe/UsdTransform3dMatrixOp.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  lib/mayaUsd/ufe/UsdTransform3dPointInstance.cpp
  lib/mayaUsd/ufe/UsdTransform3dPointInstance.h
  lib/usdUfe/base/tokens.h
  lib/usdUfe/python/wrapEditRouter.cpp
  test/lib/ufe/testEditRouting.py
Labels: ufe-usd, ready-for-merge

#3747 EMSUSD-1258 extend the delete cmd edit routing
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  lib/usdUfe/utils/editRouter.cpp
Labels: bug, ufe-usd, ready-for-merge

#3752 EMSUSD-1046 manip pivot position
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
Labels: ufe-usd, ready-for-merge

#3754 Remove down cast of world space hit point in HdxPickHit
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyShapeUI.cpp
Labels: legacy rendering, ready-for-merge

#3758 EMSUSD-1272 - CopyPaste: MayaUSD clipboard error messages when opening up preferences window
  lib/usdUfe/python/CMakeLists.txt
  plugin/adsk/scripts/mayaUsd_preferenceTab.mel
  test/lib/ufe/testClipboard.py
Labels: adsk, ufe-usd, ready-for-merge

#3757 EMSUSD-1192 - UsdUfe: create standalone builds for MaxUsd
  CMakeLists.txt
Labels: build, ready-for-merge

#3755 EMSUSD-26 fix center pivot command
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  test/lib/ufe/testCenterPivot.py
  test/testSamples/pivot/cube-far-pivot.usda
Labels: adsk, ready-for-merge

#3767 Update build.md
  doc/build.md
Labels: documentation, ready-for-merge

#3764 EMSUSD-000000 improve the undo/redo documentation
  lib/mayaUsd/python/wrapUsdUndoManager.cpp
  lib/mayaUsd/undo/MayaUsdUndoBlock.h
  lib/mayaUsd/undo/README-USD-Undo.md
  lib/usdUfe/undo/UsdUndoBlock.h
  test/lib/mayaUsd/undo/testUsdUndoManager.py
Labels: documentation, adsk, ready-for-merge

#3771 LOOKDEVX-2903 - Update for a change in MaterialX 1.38.10
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
Labels: ready-for-merge, materials

#3759 EMSUSD-1088 - Only contain rootprim in defaultprim list if its available
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3768 EMSUSD-1301 export materials checkbox
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/shading/symmetricShaderWriter.cpp
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
  lib/usd/translators/shading/mtlxBaseWriter.cpp
  lib/usd/translators/shading/mtlxSymmetricShaderWriter.cpp
  lib/usd/translators/shading/usdDisplacementShaderWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  lib/usd/translators/shading/usdMaterialWriter.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/translators/testUsdExportMultiMaterial.py
Labels: import-export, ready-for-merge

#3773 EMSUSD-1121 - Pasted prims should be selected
  lib/usdUfe/ufe/UsdClipboardCommands.cpp
Labels: ufe-usd, ready-for-merge

#3769 Add support for env var expansions in file node writers
  lib/usd/translators/shading/mtlxFileTextureWriter.cpp
  lib/usd/translators/shading/usdFileTextureWriter.cpp
  test/lib/usd/translators/testUsdExportTexture.py
Labels: import-export, ready-for-merge

#3777 EMSUSD-1121 - Pasted prims should be selected
  lib/usdUfe/ufe/UsdClipboardCommands.cpp
  lib/usdUfe/ufe/UsdClipboardCommands.h
  lib/usdUfe/ufe/UsdClipboardHandler.cpp
  lib/usdUfe/ufe/UsdUndoSelectAfterCommand.h
  test/lib/ufe/testClipboard.py
Labels: ufe-usd, ready-for-merge

#3756 EMSUSD-1260 fix rotation when prim already single-axis rotation
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dFallbackMayaXformStack.h
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.cpp
  lib/mayaUsd/ufe/UsdTransform3dMayaXformStack.h
  test/lib/ufe/testRotateCmd.py
Labels: ufe-usd, ready-for-merge

#3774 EMSUSD-1113 export material scope
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/pxrUsdPreviewSurface/testPxrUsdPreviewSurfaceExport.py
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportMaterialScopeTest/one-group.ma
  test/lib/usd/translators/UsdExportMaterialScopeTest/two-groups.ma
  test/lib/usd/translators/testUsdExport8BitNormalMap.py
  test/lib/usd/translators/testUsdExportCustomConverter.template.py
  test/lib/usd/translators/testUsdExportDisplacement.py
  test/lib/usd/translators/testUsdExportEmptyXforms.py
  test/lib/usd/translators/testUsdExportFannedOutFileNodesMaterial.py
  test/lib/usd/translators/testUsdExportImportRoundtripPreviewSurface.py
  test/lib/usd/translators/testUsdExportImportUDIM.py
  test/lib/usd/translators/testUsdExportMaterialScope.py
  test/lib/usd/translators/testUsdExportMaterialX.py
  test/lib/usd/translators/testUsdExportMultiMaterial.py
  test/lib/usd/translators/testUsdExportRfMShaders.py
  test/lib/usd/translators/testUsdExportRoots.py
  test/lib/usd/translators/testUsdExportShadingInstanced.py
  test/lib/usd/translators/testUsdExportShadingModePxrRis.py
  test/lib/usd/translators/testUsdExportTexture.py
  test/lib/usd/translators/testUsdExportUVSetMappings.py
  test/lib/usd/translators/testUsdExportUVTransforms.py
  test/lib/usd/translators/testUsdExportUsdPreviewSurface.py
  test/lib/usd/translators/testUsdExportUsdzPackage.py
Labels: import-export, ready-for-merge

#3783 Samuelliu adsk/merge 0 28 0 to dev
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#3775 Add support to import Usd Blendshape as Maya blendshapes
  lib/mayaUsd/fileio/translators/CMakeLists.txt
  lib/mayaUsd/fileio/translators/translatorBlendShape.cpp
  lib/mayaUsd/fileio/translators/translatorBlendShape.h
  lib/mayaUsd/fileio/translators/translatorMesh.cpp
  lib/mayaUsd/fileio/translators/translatorSkel.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/usd/translators/meshWriter_BlendShapes.cpp
  lib/usd/translators/skelReader.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportSkeleton/morpher_box.usd
  test/lib/usd/translators/testUsdImportBlendShapes.py
Labels: import-export, ready-for-merge, usdSkel

#3785 EMSUSD-1005 export materials without meshes
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/mayaUsd/fileio/shading/shadingModePxrRis.cpp
  lib/mayaUsd/fileio/shading/shadingModeUseRegistry.cpp
  lib/mayaUsd/fileio/writeJobContext.cpp
  lib/mayaUsd/render/mayaToHydra/shadingModeExporter.cpp
  plugin/adsk/plugin/exportTranslator.cpp
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsd_exportHelpers.py
  plugin/pxr/maya/lib/usdMaya/exportTranslator.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportMaterialsOnly.py
Labels: import-export, ready-for-merge

#3776 Add remapUVSetsTo option to UsdImport
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/primReaderArgs.cpp
  lib/mayaUsd/fileio/primReaderArgs.h
  lib/mayaUsd/fileio/translators/translatorMaterial.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.cpp
  lib/mayaUsd/fileio/utils/meshReadUtils.h
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/readUtil.h
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/usd/translators/meshReader.cpp
  test/lib/usd/translators/testUsdImportUVSetMappings.py
  test/lib/usd/translators/testUsdImportUVSets.py
Labels: import-export, ready-for-merge

#3788 EMSUSD-1264 add tooltip for lookdevx button in material section in AE
  lib/mayaUsd/resources/ae/usdschemabase/material_custom_control.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: adsk, ready-for-merge

#3791 EMSUSD-1122 - As a user, I'd like to copy and then paste a prim as a sibling
  lib/usdUfe/ufe/UsdClipboard.cpp
  lib/usdUfe/ufe/UsdClipboard.h
  lib/usdUfe/ufe/UsdClipboardCommands.cpp
  lib/usdUfe/ufe/UsdClipboardCommands.h
  lib/usdUfe/ufe/UsdClipboardHandler.cpp
  test/lib/ufe/testClipboard.py
Labels: ufe-usd, ready-for-merge

#3787 LOOKDEVX-2653 - Fix UDIMs for custom textures
  lib/mayaUsd/render/MaterialXGenOgsXml/CMakeLists.txt
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.h
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaCompoundNode.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaCompoundNode.h
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaHwImageNode.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaHwImageNode.h
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaShaderGraph.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaShaderGraph.h
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/grids_with_udims_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/grids_with_udims.usda
Labels: vp2renderdelegate, ready-for-merge, materials

#3795 LOOKDEVX-2954 - Backport MaterialX 1.39 fix for source code node
  lib/mayaUsd/render/MaterialXGenOgsXml/CMakeLists.txt
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaSourceCodeNode.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaSourceCodeNode.h
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/grid_with_smoothsteps_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/grid_with_smoothsteps.usda
Labels: vp2renderdelegate, ready-for-merge, materials

#3793 EMSUSD-1126 - Cut a prim and not have it paste if the cut is restricted
  lib/usdUfe/ufe/UsdClipboardCommands.cpp
  lib/usdUfe/ufe/UsdClipboardHandler.cpp
  test/lib/ufe/testClipboard.py
Labels: ufe-usd, ready-for-merge

#3799 EMSUSD-1134 fix maya-hydra compilation.
  lib/mayaUsd/render/mayaToHydra/shadingModeExporter.cpp
Labels: bug, ready-for-merge, regression, mayaHydra
