Repository Autodesk/maya-usd, pull requests merged in 2024-04, with the labels that each got.

#3685 EMSUSD-1141 - Updates Layer Editor color visuals.
  lib/usd/ui/layerEditor/layerTreeItemDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeItemDelegate.h
Labels: ready-for-merge, regression

#3684 EMSUSD-1073 - Update for USD v24.03
  lib/usd/utils/MergePrims.cpp
Labels: bug, ready-for-merge

#3678 Fix conflict in shaders with MaterialX 1.38.9
  lib/mayaUsd/render/MaterialXGenOgsXml/libraries/1.38.3/mx_lighting_maya_v3.glsl
  lib/mayaUsd/render/MaterialXGenOgsXml/libraries/1.38.7/mx_lighting_maya_v3.glsl
  lib/mayaUsd/render/MaterialXGenOgsXml/libraries/mx_lighting_maya_v3.glsl
Labels: ready-for-merge, materials

#3691 MAYA-133210: Dope Sheet : Error when right-click on channel set if USD plugin installed
  plugin/adsk/scripts/mayaUsdMenu.mel
Labels: bug, adsk, ready-for-merge

#3693 LOOKDEVX-2358 - Fix image file attribute detection
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsdAPI/utils.cpp
  lib/mayaUsdAPI/utils.h
Labels: bug, ready-for-merge, materials

#3699 EMSUSD-801 - Make rootPrimType persistent through exports
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3681 Support exporting a joint hierarchy inside a node tree to the root level
  lib/mayaUsd/fileio/utils/jointWriteUtils.cpp
  lib/mayaUsd/fileio/utils/jointWriteUtils.h
  lib/usd/translators/jointWriter.cpp
  test/lib/usd/translators/UsdExportSkeletonTest/UsdExportPartialSkeleton.ma
  test/lib/usd/translators/testUsdExportSkeleton.py
Labels: import-export, ready-for-merge

#3688 EMSUSD-1039 Adding a C++ export plugin example
  CMakeLists.txt
  README_DOC.md
  lib/mayaUsd/fileio/jobContextRegistry.cpp
  lib/mayaUsd/fileio/jobContextRegistry.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/utils/CMakeLists.txt
  lib/mayaUsd/utils/json.h
  lib/mayaUsd/utils/jsonConverter.h
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  tutorials/import-export-plugin-c++/CMakeLists.txt
  tutorials/import-export-plugin-c++/README.md
  tutorials/import-export-plugin-c++/exampleExportPlugin.cpp
  tutorials/import-export-plugin-c++/exampleImportPlugin.cpp
  tutorials/import-export-plugin-c++/helpers.cpp
  tutorials/import-export-plugin-c++/helpers.h
  tutorials/import-export-plugin-c++/helpersJSON.cpp
  tutorials/import-export-plugin-c++/helpersUI.cpp
  tutorials/import-export-plugin-c++/mayaUsdPlugInfo.json
  tutorials/import-export-plugin-c++/plugInfo.json
  tutorials/import-export-plugin-c++/plugin.cpp
  tutorials/import-export-plugin/ExampleExportPlugin.py
  tutorials/import-export-plugin/ExampleImportPlugin.py
  tutorials/import-export-plugin/README-PYTHON.md
  tutorials/import-export-plugin/README.md
  tutorials/import-export-plugin/plugins.py
  tutorials/import-export-plugin/resources/plugInfo.json
Labels: documentation, import-export, ready-for-merge

#3692 EMSUSD-1088 - Keep rootprim in default prim list when export options change
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3697 EMSUSD-1161 - Fix the crash when attempting to save a USD file from USD Layer Editor
  lib/usd/ui/layerEditor/pathChecker.cpp
  lib/usd/ui/layerEditor/pathChecker.h
Labels: bug, ready-for-merge

#3709 EMSUSD-993: When opening a file dependency in the AE, the dialog doesn't open to that path
  lib/mayaUsd/resources/ae/usdschemabase/custom_image_control.py
  lib/mayaUsd/utils/utilFileSystem.h
Labels: workflows, ready-for-merge

#3704 EMSUSD-1185 update layer editor lock status after adding a layer
  lib/usd/ui/layerEditor/layerTreeItem.cpp
Labels: workflows, ready-for-merge

#3705 EMSUSD-1030 - Persist the default prim selection if its available
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3708 EMSUSD-1187 disable root prim type UI
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: adsk, import-export, ready-for-merge

#3710 EMSUSD-1193 hide unwanted export plugin options
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
Labels: import-export, ready-for-merge

#3706 EMSUSD-1149 prevent unlocking system-locked layer when unlocking parents
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/usd/ui/layerEditor/mayaCommandHook.cpp
  test/lib/testMayaUsdLayerEditorCommands.py
  test/testSamples/layerLocking/layerLockingSubLayer.usda
  test/testSamples/layerLocking/layerLockingSubSubLayer.usda
Labels: workflows, ready-for-merge

#3712 EMSUSD-1067 allow deleting prims carrying a loaded payload
  lib/usdUfe/ufe/Utils.cpp
  test/lib/ufe/testPayloadCommands.py
  test/lib/ufe/testReferenceCommands.py
Labels: ufe-usd, ready-for-merge

#3715 EMSUSD-1142 layer editor icon scaling
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeItemDelegate.cpp
  lib/usd/ui/layerEditor/qtUtils.cpp
  lib/usd/ui/layerEditor/resources.qrc
Labels: bug, ready-for-merge

#3717 EMSUSD-1202 - Default prim lists an empty item on export.
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: adsk, ready-for-merge

#3724 Early out of fn if the required 'pxrUsd' plugin isn't loaded
  plugin/pxr/maya/lib/usdMaya/__init__.py
Labels: pxr, ready-for-merge

#3703 EMSUSD-1180 Fix blendshape names
  lib/usd/translators/meshWriter_BlendShapes.cpp
  test/lib/usd/translators/testUsdExportBlendshapes.py
Labels: import-export, ready-for-merge

#3721 LOOKDEVX-2672 - Add default value concept to USD datamodel for UFE
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/ufe/UsdAttribute.cpp
  lib/mayaUsd/ufe/UsdAttribute.h
  lib/mayaUsd/ufe/UsdAttributeHolder.cpp
  lib/mayaUsd/ufe/UsdAttributeHolder.h
  test/lib/ufe/testAttribute.py
Labels: ufe, ready-for-merge

#3723 Wrap the 'unilinearizeColors' parameter
  lib/mayaUsd/python/wrapReadUtil.cpp
Labels: core, ready-for-merge

#3726 EMSUSD-1192 - UsdUfe: create standalone builds for MaxUsd
  CMakeLists.txt
  build.py
Labels: ufe-usd, ready-for-merge

#3719 EMSUSD-1173 filter items hidden in the outliner
  plugin/adsk/scripts/mayaUsd_exportHelpers.py
Labels: adsk, ready-for-merge

#3722 EMSUSD-1092 fix layer editor refresh when reloading from AE
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/mayaUsd/python/__init__.py
  lib/usd/ui/layerEditor/layerTreeView.cpp
  lib/usd/ui/layerEditor/layerTreeView.h
  lib/usdUfe/python/wrapUICallback.cpp
  lib/usdUfe/utils/uiCallback.cpp
  lib/usdUfe/utils/uiCallback.h
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ufe-usd, workflows, ready-for-merge

#3725 EMSUSD-1002 repaint layer editor when layer muting changes
  lib/usd/ui/layerEditor/layerTreeView.cpp
  lib/usd/ui/layerEditor/layerTreeView.h
Labels: bug, workflows, ready-for-merge

#3731 EMSUSD-208 Material custom control for AE
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: adsk, ready-for-merge

#3714 EMSUSD-895 - Payload command undo to restore payload rules
  lib/usdUfe/ufe/UsdUndoPayloadCommand.cpp
  lib/usdUfe/ufe/UsdUndoPayloadCommand.h
  test/lib/ufe/testPayloadCommands.py
  test/testSamples/payload/multipots.usda
Labels: ufe-usd, ready-for-merge

#3711 Update LayerLocking.md
  doc/LayerLocking.md
Labels: documentation, ready-for-merge

#3735 Migration guide from AL_USDMaya to Autodesk's MayaUSD
  plugin/al/MIGRATION_GUIDE.md
  plugin/al/README.md
Labels: documentation, al, ready-for-merge

#3736 EMSUSD-204 Material binding strength in AE
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/material_custom_control.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: adsk, workflows, ready-for-merge

#3742 Update version to v0.29.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#3695 Support EditRouter in delete command
  lib/mayaUsd/ufe/UsdUndoDeleteCommand.cpp
  lib/usdUfe/base/tokens.h
  lib/usdUfe/python/wrapEditRouter.cpp
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/utils/editRouter.cpp
  lib/usdUfe/utils/editRouter.h
  test/lib/ufe/testDeleteCmd.py
Labels: ufe-usd, ready-for-merge

#3740 EMSUSD-209 graph the material in LookdevX
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/material_custom_control.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  test/lib/testAttributeEditorTemplate.py
Labels: ready-for-merge, materials

#3689 EMSUSD-1073 - Fix Pixar plugin for USD v24.03
  plugin/pxr/cmake/macros/Public.cmake
  plugin/pxr/cmake/macros/testWrapper.py
  plugin/pxr/maya/lib/usdMaya/CMakeLists.txt
  plugin/pxr/maya/plugin/pxrUsd/CMakeLists.txt
Labels: pxr, unit test, ready-for-merge
