Repository Autodesk/maya-usd, pull requests merged in 2024-10, with the labels that each got.

#3790 Prim metadata editRouting
  doc/EditRouting.md
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/usdUfe/base/tokens.h
  lib/usdUfe/python/wrapCommands.cpp
  lib/usdUfe/python/wrapEditRouter.cpp
  lib/usdUfe/ufe/SetVariantSelectionCommand.cpp
  lib/usdUfe/ufe/SetVariantSelectionCommand.h
  lib/usdUfe/ufe/UsdUndoAddRefOrPayloadCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearPayloadsCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearReferencesCommand.cpp
  lib/usdUfe/ufe/UsdUndoClearSceneItemMetadataCommand.cpp
  lib/usdUfe/ufe/UsdUndoSetKindCommand.cpp
  lib/usdUfe/ufe/UsdUndoSetSceneItemMetadataCommand.cpp
  lib/usdUfe/ufe/UsdUndoToggleActiveCommand.cpp
  lib/usdUfe/ufe/UsdUndoToggleInstanceableCommand.cpp
  lib/usdUfe/utils/editRouter.cpp
  lib/usdUfe/utils/editRouter.h
  lib/usdUfe/utils/editRouterContext.cpp
  lib/usdUfe/utils/editRouterContext.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testPrimMetadataEditRouting.py
Labels: ready-for-merge, Edit Routing

#3937 EMSUSD-948 scale export to USD according to units
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/fileio/jobs/writeJob.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/mayaUsd/utils/autoUndoCommands.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/testUsdExportUnits.py
Labels: import-export, ready-for-merge

#3939 EMSUSD-1694 fix error in duplicate to USD option UI
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: bug, ready-for-merge

#3942 LOOKDEVX-2640 - Fix compilation error when using geomcolor nodes
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.cpp
Labels: ready-for-merge, materials

#3927 Copy input file for test in separate location
  test/lib/mayaUsd/fileio/UsdExportMaterialScopeTest/one-group.ma
  test/lib/mayaUsd/fileio/testDuplicateAs.py
Labels: unit test, ready-for-merge

#3941 EMSUSD-947 units conversion for USD import
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseImportCommand.cpp
  lib/mayaUsd/commands/baseImportCommand.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/fileio/jobs/readJob.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  lib/mayaUsd/python/wrapPrimReader.cpp
  lib/mayaUsd/utils/util.cpp
  lib/mayaUsd/utils/util.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdImportUnitsTests/UnitsMillimeters.usda
  test/lib/usd/translators/testUsdImportUnits.py
Labels: import-export, ready-for-merge

#3946 LOOKDEVX-3482 - Fix freeze while fixing tangents on broken NodeDef
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: ready-for-merge, materials

#3950 Disable upAxis translation on import/export in tests
  test/lib/mayaUsd/fileio/testDuplicateAs.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/lib/usd/translators/testUsdImportXformAnim.py
Labels: unit test, ready-for-merge

#3949 Use macros for the pxr namespace
  lib/usdUfe/utils/editRouterContext.h
Labels: build, ready-for-merge

#3951 EMSUSD-1682 assign material to lock layer
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.h
  lib/mayaUsd/ufe/UsdUndoRenameCommand.cpp
  test/lib/ufe/testContextOps.py
Labels: bug, ready-for-merge, materials, crash

#3953 EMSUSD-1222 set up-axis and units on saved layers
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/utils/utilSerialization.cpp
  lib/mayaUsd/utils/utilSerialization.h
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/mayaUsd/fileio/testSaveUpAxisAndUnits.py
Labels: workflows, ready-for-merge

#3954 EMSUSD-1712 Reimport blendshape issues
  lib/mayaUsd/fileio/translators/translatorBlendShape.cpp
  lib/mayaUsd/fileio/translators/translatorSkel.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.cpp
  lib/mayaUsd/fileio/utils/meshWriteUtils.h
  lib/usd/translators/meshWriterBlendShapes.cpp
  test/lib/usd/translators/testUsdExportBlendshapes.py
  test/lib/usd/translators/testUsdImportBlendShapes.py
Labels: import-export, ready-for-merge

#3948 EMSUSD-1700 make up-axis and units attribute visible
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/utils/dynamicAttribute.cpp
  lib/mayaUsd/utils/dynamicAttribute.h
  test/lib/usd/translators/testUsdImportUnits.py
  test/lib/usd/translators/testUsdImportUpAxis.py
Labels: import-export, ready-for-merge

#3955 EMSUSD-1613 clean session layer when undoing add prim
  lib/usdUfe/ufe/UsdUndoAddNewPrimCommand.cpp
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
  lib/usdUfe/undo/UsdUndoBlock.cpp
  lib/usdUfe/undo/UsdUndoBlock.h
  lib/usdUfe/undo/UsdUndoManager.cpp
  lib/usdUfe/undo/UsdUndoManager.h
  test/lib/ufe/testContextOps.py
Labels: ufe-usd, ready-for-merge

#3961 Add support for OpenPBR as default material
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/openPBRSurfaceDefaultMaterial/basisCurveInstance_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/openPBRSurfaceDefaultMaterial/basisCurveInstance_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/openPBRSurfaceDefaultMaterial/defaultMaterialBillboards_default.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePerInstanceInheritedDataTest/baseline/openPBRSurfaceDefaultMaterial/defaultMaterialBillboards_defaultSelected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePerInstanceInheritedData.py
Labels: unit test, ready-for-merge, materials

#3958 Fix Cmake configure overwriting plugInfo.json
  test/lib/mayaUsd/fileio/CMakeLists.txt
Labels: unit test, ready-for-merge

#3959 EMSUSD-1504 prevent warnings when reloading the plugin
  lib/mayaUsd/fileio/doc/How-to-add-new-option.md
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.mel
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  plugin/adsk/plugin/plugin.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  test/lib/mayaUsd/nodes/testProxyShapeConversion.py
Labels: adsk, ready-for-merge

#3960 EMSUSD-1718 automatically close prefs when changing units
  lib/mayaUsd/fileio/jobs/readJob.cpp
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: import-export, ready-for-merge

#3962 EMSUSD-1222 no metadata on read-only layers
  lib/mayaUsd/utils/utilSerialization.cpp
Labels: bug, workflows, ready-for-merge

#3964 EMSUSD-0 fix bad merge in string resources
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
Labels: build, ready-for-merge

#3965 EMSUSD-1722 find the correct layer manager node
  lib/mayaUsd/nodes/layerManager.cpp
  lib/mayaUsd/nodes/layerManager.h
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdCreateStageInMayaRef.py
Labels: bug, workflows, ready-for-merge

#3952 Optimize VP2 rendering of USD objects with geometric cut-outs
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
Labels: vp2renderdelegate, ready-for-merge

#3970 Make unit test scene file names unique
  test/lib/mayaUsd/fileio/testSaveLockedAnonLayer.py
  test/lib/mayaUsd/fileio/testSaveUpAxisAndUnits.py
Labels: unit test, ready-for-merge

#3969 EMSUSD-1521 refactor AE template
  README_DOC.md
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usdschemabase/Attribute-Editor-Template-Doc.md
  lib/mayaUsd/resources/ae/usdschemabase/__init__.py
  lib/mayaUsd/resources/ae/usdschemabase/aeUITemplate.py
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/arrayCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/attributeCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/connectionsCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/displayCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/enumCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/imageCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/materialCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/metadataCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/observers.py
  test/lib/testAttributeEditorTemplate.py
Labels: documentation, ready-for-merge

#3968 Adds support for defaultgeomprop values on nodegraph inputs.
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaShaderGraph.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaShaderGraph.h
Labels: enhancement, ready-for-merge

#3972 EMSUSD-1630: Support custom callback for primitives AE template
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/mayaUsd/python/__init__.py
  lib/mayaUsd/resources/ae/usdschemabase/Attribute-Editor-Template-Doc.md
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/attributeCustomControl.py
  lib/usdUfe/python/wrapUICallback.cpp
  lib/usdUfe/ufe/UsdContextOps.cpp
  lib/usdUfe/utils/uiCallback.cpp
  lib/usdUfe/utils/uiCallback.h
Labels: enhancement, adsk, ready-for-merge

#3976 EMSUSD-1724 add support for decimeters in export
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/jobs/writeJob.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/translators/testUsdExportUnits.py
  test/testUtils/transformUtils.py
Labels: import-export, ready-for-merge

#3975 EMSUSD-1521 modify AE section order
  lib/mayaUsd/resources/ae/usdschemabase/Attribute-Editor-Template-Doc.md
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/scripts/mayaUsdLibRegisterStrings.py
  test/lib/testAttributeEditorTemplate.py
Labels: adsk, ready-for-merge

#3980 Copies nodegraph input defaultgeomprop values during TopoNeutralGraph construction
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.h
  test/lib/mayaUsd/utils/materialx_test_data/DefaultGeomPropCase1.mtlx
  test/lib/mayaUsd/utils/materialx_test_data/defaultgeomprop_topo.mtlx
  test/lib/mayaUsd/utils/test_ShaderGenUtils.cpp
Labels: ready-for-merge, materials

#3982 EMSUSD-1455 no save during export
  lib/mayaUsd/nodes/layerManager.cpp
  lib/usdUfe/utils/layers.cpp
  lib/usdUfe/utils/layers.h
  test/lib/usd/translators/UsdExportStagesAsRefsTest/sceneWithStage.ma
  test/lib/usd/translators/testUsdExportStagesAsRefs.py
Labels: import-export, ready-for-merge

#3983 EMSUSD-1766 adjust axis and units section indent
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: adsk, ready-for-merge
