Repository Autodesk/maya-usd, pull requests merged in 2024-03, with the labels that each got.

#3641 EMSUSD-1030 - Make root prim persistent and update default prim accordingly
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
Labels: import-export, ready-for-merge

#3644 EMSUSD-000 improve the undo/redo documentation
  lib/mayaUsd/undo/README-Op-Undo.md
  lib/mayaUsd/undo/README-USD-Undo.md
  lib/mayaUsd/undo/README.md
Labels: documentation, ready-for-merge

#3645 EMSUSD-990 - Publish USD Branches
  doc/build.md
Labels: documentation, ready-for-merge

#3650 EMSUSD-1087 - Fixes the issue where the lock state isn't applied from Maya file when the layer is both locked and muted.
  lib/mayaUsd/nodes/proxyShapeBase.cpp
Labels: core, ready-for-merge

#3652 EMSUSD-1071 - Remember unknown color spaces
  lib/mayaUsd/render/vp2RenderDelegate/colorManagementPreferences.cpp
  lib/mayaUsd/render/vp2RenderDelegate/colorManagementPreferences.h
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate, ready-for-merge, materials

#3653 Allow Raw colorspace aliases in file texture validation
  lib/usd/pxrUsdPreviewSurface/usdPreviewSurfaceWriter.cpp
Labels: ready-for-merge, materials

#3554 Apply root-to-prim transforms
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
Labels: proxy, ready-for-merge

#3640 Restrict UFE nodes according to proxyNode's primPath
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  lib/mayaUsd/nodes/proxyShapeBase.h
  lib/mayaUsd/ufe/MayaUsdHierarchy.cpp
  lib/mayaUsd/ufe/MayaUsdHierarchy.h
  lib/mayaUsd/ufe/MayaUsdRootChildHierarchy.cpp
  lib/mayaUsd/ufe/ProxyShapeHierarchy.cpp
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  plugin/pxr/maya/lib/usdMaya/testenv/UsdReferenceAssemblyUfeNodes/tiny.ma
  plugin/pxr/maya/lib/usdMaya/testenv/UsdReferenceAssemblyUfeNodes/tiny.usd
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdReferenceAssemblyUfeNodes.py
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegatePrimPathTest/baseline/empty.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegatePrimPath.py
Labels: core, ufe, ready-for-merge

#3654 Un-shared stage and its sublayers will appear as system lock
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeItem.h
  lib/usd/ui/layerEditor/layerTreeItemDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeItemDelegate.h
Labels: enhancement, ready-for-merge

#3656 EMSUSD-1045 : Add support for doubleSided attribute on USD prims in VP2 delegate
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.h
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/doubleSided_disabled_back.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/doubleSided_disabled_front.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/doubleSided_enabled_back.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/doubleSided_enabled_front.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/transparencyScene.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/doubleSided_disabled_back.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/doubleSided_disabled_front.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/doubleSided_enabled_back.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateUSDPreviewSurface/baseline/doubleSided_enabled_front.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateUSDPreviewSurface.py
  test/testSamples/doubleSided/MaterialX_StandardSurface.usda
  test/testSamples/doubleSided/UsdPreviewSurface.usda
  test/testUtils/mayaUtils.py
Labels: vp2renderdelegate, ready-for-merge

#3665 EMSUSD-885 - Targets the session layer when no other layers are modifiable
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/usdUfe/python/wrapUtils.cpp
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ufe-usd, workflows, ready-for-merge

#3663 EMS1056 vertex processing robustness
  lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp
Labels: bug, vp2renderdelegate, ready-for-merge

#3639 EMSUSD-1024 - Provide a mechanism to retrieve an unambigous version f…
  CMakeLists.txt
  cmake/utils.cmake
  lib/mayaUsd/base/CMakeLists.txt
  lib/mayaUsd/base/buildInfo.cpp
  lib/mayaUsd/base/buildInfo.h.src
  plugin/adsk/plugin/CMakeLists.txt
  plugin/adsk/plugin/mayaUsdInfoCommand.cpp
  plugin/adsk/plugin/mayaUsdInfoCommand.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/CMakeLists.txt
  test/lib/testMayaUsdInfoCommand.py
Labels: adsk, ready-for-merge

#3667 EMSUSD-1120 - Stage loading problems using MEL proc
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
  test/lib/testMayaUsdCreateStageCommands.py
Labels: bug, unit test, ready-for-merge

#3668 Fix mistake in command name
  plugin/adsk/plugin/mayaUsdInfoCommand.cpp
Labels: ready-for-merge

#3670 Update testMayaUsdInfoCommand.py
  test/lib/testMayaUsdInfoCommand.py
Labels: unit test, ready-for-merge

#3671 EMSUSD-1114 - Adds a callback for RefreshSystemLock when a layer's lock status is changed
  README_DOC.md
  doc/LayerLocking.md
  doc/images/layerlocking/LayerEditor_LockLayerActionButton.png
  doc/images/layerlocking/LayerEditor_LockLayerActionButton_Locked.png
  doc/images/layerlocking/LayerEditor_LockLayerActionButton_SystemLocked.png
  doc/images/layerlocking/LayerEditor_LockLayerActionButton_SystemLocked_modified.png
  doc/images/layerlocking/LayerEditor_LockLayerMenuItems.png
  doc/images/layerlocking/LayerEditor_LockLayerMenuItems_SystemLock_Disabled.png
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/mayaUsd/python/__init__.py
  lib/usdUfe/python/CMakeLists.txt
  lib/usdUfe/python/module.cpp
  lib/usdUfe/python/wrapUICallback.cpp
  lib/usdUfe/utils/CMakeLists.txt
  lib/usdUfe/utils/uiCallback.cpp
  lib/usdUfe/utils/uiCallback.h
  test/lib/testMayaUsdLayerEditorCommands.py
Labels: ufe-usd, workflows, ready-for-merge

#3673 Fixup UFE_PREVIEW_NUM to use better Ufe cmake checks.
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/MayaUsdContextOps.cpp
  lib/mayaUsd/ufe/UsdMaterial.cpp
  lib/mayaUsd/ufe/UsdMaterial.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testMaterial.py
  test/lib/ufe/testUINodeGraphNode.py
Labels: ufe, unit test, ready-for-merge

#3655 EMSUSD-961 first pass at updating the export plugin configuration UI
  README_DOC.md
  lib/mayaUsd/commands/baseListJobContextsCommand.cpp
  lib/mayaUsd/fileio/jobContextRegistry.cpp
  lib/mayaUsd/fileio/jobContextRegistry.h
  lib/mayaUsd/python/wrapJobContextRegistry.cpp
  lib/mayaUsd/resources/scripts/mayaUsdMergeToUSDOptions.py
  lib/mayaUsd/utils/util.cpp
  plugin/adsk/icons/CMakeLists.txt
  plugin/adsk/icons/menu_options_100.png
  plugin/adsk/icons/menu_options_150.png
  plugin/adsk/icons/menu_options_200.png
  plugin/adsk/icons/toggle_off_100.png
  plugin/adsk/icons/toggle_off_150.png
  plugin/adsk/icons/toggle_off_200.png
  plugin/adsk/icons/toggle_on_100.png
  plugin/adsk/icons/toggle_on_150.png
  plugin/adsk/icons/toggle_on_200.png
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/plugin/nullApiExporter.cpp
  tutorials/export-plugin/ExampleExportPlugin.py
  tutorials/export-plugin/README-PYTHON.md
  tutorials/export-plugin/README.md
  tutorials/export-plugin/mayaUsdPlugInfo.json
  tutorials/export-plugin/resources/plugInfo.json
Labels: import-export, ready-for-merge

#3675 EMSUSD-1072 - Build USD v24.03 for Maya master (2026)
  plugin/al/translators/pxrUsdTranslators/ProxyShapeTranslator.h
Labels: build, ready-for-merge

#3680 Clear the selected stage layer database attribute when no stage selected
  lib/mayaUsd/nodes/layerManager.cpp
Labels: adsk, ready-for-merge

#3679 EMSUSD-591: Remove lingering invalid prims after adding prim under prim that is deactivated
  lib/usdUfe/ufe/UsdUndoAddNewPrimCommand.cpp
Labels: ufe-usd, ready-for-merge

#3683 MAYA-132000: implement Ufe::Camera::renderable() for Maya Master (2026)
  cmake/modules/FindUFE.cmake
  lib/usdUfe/ufe/CMakeLists.txt
  lib/usdUfe/ufe/UsdCamera.cpp
  lib/usdUfe/ufe/UsdCamera.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testCamera.py
Labels: ufe, ufe-usd, ready-for-merge

#3676 EMSUSD-1038 import plugin config UI
  README_DOC.md
  lib/mayaUsd/commands/baseListJobContextsCommand.cpp
  lib/mayaUsd/fileio/jobContextRegistry.cpp
  lib/mayaUsd/fileio/jobContextRegistry.h
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/python/wrapJobContextRegistry.cpp
  plugin/adsk/scripts/mayaUSDRegisterStrings.mel
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  plugin/adsk/scripts/mayaUsdTranslatorImport.mel
  tutorials/import-export-plugin/ExampleExportPlugin.py
  tutorials/import-export-plugin/ExampleImportPlugin.py
  tutorials/import-export-plugin/README-PYTHON.md
  tutorials/import-export-plugin/README.md
  tutorials/import-export-plugin/mayaUsdPlugInfo.json
  tutorials/import-export-plugin/resources/plugInfo.json
Labels: import-export, ready-for-merge
