Repository Autodesk/maya-usd, pull requests merged in 2025-01, with the labels that each got.

#4058 EMSUSD-1519 Collections: remove all includes and excludes
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionRulesMenu.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/theme.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/collectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
  lib/mayaUsd/resources/ae/usdschemabase/lightCustomControl.py
Labels: enhancement, ready-for-merge

#4060 HYDRA-1347 : Free resources and do not update when not using the VP2 …
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#4055 EMSUSD-1975 - Optimize material libraries
  lib/mayaUsd/render/MaterialXGenOgsXml/LobePruner.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/LobePruner.h
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsdAPI/render.cpp
  lib/mayaUsdAPI/render.h
  test/lib/mayaUsd/utils/test_ShaderGenUtils.cpp
Labels: ready-for-merge, materials

#4064 EMSUSD-1657 bring changes back from other light linking repo
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionRulesMenu.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/widget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/theme.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/collectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
Labels: ready-for-merge, shared_components

#4049 Removing some readers for Renderman-for-Maya lights
  lib/usd/translators/lightReader.cpp
  lib/usd/translators/plugInfo.json
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
  test/lib/usd/translators/testUsdImportRfMLight.py
Labels: import-export, ready-for-merge

#4066 EMSUSD-2000 - Do not contaminate HdStorm libraries with lobe pruning
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
Labels: vp2renderdelegate, ready-for-merge

#4065 EMSUSD-1996 Fix expression UI
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionRulesMenu.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
Labels: bug, ready-for-merge, regression, shared_components

#4067 EMSUSD-1657 light linking undo and redo
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/widget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/host.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
  plugin/adsk/plugin/plugin.cpp
Labels: adsk, ready-for-merge, shared_components

#4036 Update change processing code
  lib/usdUfe/ufe/StagesSubject.cpp
  test/lib/ufe/testSelection.py
Labels: ufe-usd, ready-for-merge

#4069 HYDRA-1347 : Fully revert the changes from PR #4060.
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge, mayaHydra

#4071 EMSUSD-0 bring light linking changes from the shared repo
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/widget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/resizable.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/stringListPanel.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/theme.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/collectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/stringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/validator.py
Labels: ready-for-merge, shared_components

#4070 Document how to get nice undo labels
  lib/mayaUsd/undo/README-Nice-Undo.md
  lib/mayaUsd/undo/README-Op-Undo.md
  lib/mayaUsd/undo/README-USD-Undo.md
  lib/mayaUsd/undo/README.md
Labels: documentation, ready-for-merge

#4072 EMSUSD-1984 collection tab look
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/widget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/theme.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4074 EMSUSD-2014 report error for invalid include and exclude
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/host.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/stringListData.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4075 EMSUSD-2012 implement theme scale in Maya Host
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4082 Update version to v0.32.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge

#4076 EMSUSD-1646 add the selection to a collection
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/host.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4080 EMSUSD-1997 adjust collection UI spacing
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/menuButton.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/theme.py
Labels: ready-for-merge, shared_components

#4081 EMSUSD-1890 show Def in AE
  lib/usdUfe/ufe/UsdSceneItem.cpp
  test/lib/testAttributeEditorTemplate.py
Labels: bug, schema, ready-for-merge

#4085 EMSUSD-0 bring back collection code from shared repo
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
Labels: ready-for-merge, shared_components

#4086 EMSUSD-2004 save collection list view size
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/persistentStorage.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionCustomControl.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4088 EMSUSD-1539 select include/exclude or expression items
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/host.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/collectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/stringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4089 Sync internal Include/Exclude editor
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionRulesMenu.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListModel.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/host.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/stringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
Labels: ready-for-merge, shared_components

#4093 EMSUSD-1874 detect data conflicts
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/warningWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/collectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
Labels: ready-for-merge, shared_components

#4098 EMSUSD-2132 fix collections for Maya 2023
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/validator.py
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, ready-for-merge, shared_components
