Repository Autodesk/maya-usd, pull requests merged in 2025-02, with the labels that each got.

#4090 EMSUSD-2124 - MayaUsd: rerun failed tests to make random failures more stable
  build.py
Labels: unit test, ready-for-merge

#4097 EMSUSD-1516 Sync drag and drop from max
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/stringListData.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
Labels: ready-for-merge, shared_components

#4099 EMSUSD-1674 fi warning icon not disappearing
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/warningWidget.py
Labels: ready-for-merge, shared_components

#4101 EMSUSD-2111 support the collection UI in Maya 2023.
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, ready-for-merge, shared_components

#4102 Bringing code back from shared repo
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
Labels: ready-for-merge, shared_components

#4104 EMSUSD-1140 - Remove all the UFE_PREVIEW_VERSION_NUM v5/v6 checks
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/usdUfe/CMakeLists.txt
  test/lib/mayaUsd/fileio/CMakeLists.txt
  test/lib/ufe/CMakeLists.txt
  test/testUtils/ufeUtils.py
Labels: ufe, unit test, ready-for-merge

#4103 EMSUSD-1999 set status tip when setting tool tips
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/warningWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/stringListPanel.py
Labels: bug, ready-for-merge, shared_components

#4094 HYDRA-1347 : Fix double texture loading when using Hydra
  lib/mayaUsd/render/mayaToHydra/utils.h
  lib/mayaUsd/render/px_vp20/utils.cpp
  lib/mayaUsd/render/px_vp20/utils.h
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge, mayaHydra

#4056 EMSUSD-1887 - Disable edit as maya for geometry light
  lib/usd/translators/lightReader.cpp
Labels: workflows, ready-for-merge

#4111 EMSUSD-1598 add help for create stage option box
  lib/mayaUsd/resources/helpTable/helpTableMayaUSD
  plugin/adsk/scripts/mayaUsd_createStageFromFile.mel
Labels: documentation, adsk, ready-for-merge

#4114 EMSUSD-1932 applied schemas in AE
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  test/lib/testAttributeEditorTemplate.py
Labels: adsk, ready-for-merge

#4120 EMSUSD-2154 honor the target-session option var
  lib/mayaUsd/nodes/proxyShapeBase.cpp
  test/lib/mayaUsd/nodes/testProxyShapeBase.py
  test/testSamples/targetRootLayer/target-root-layer.ma
Labels: core, ready-for-merge

#4122 Bring collection code from shared repo
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionRulesMenu.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/collectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
Labels: ready-for-merge, shared_components

#4124 MTOA-2265 duplicate material to USD with Arnold
  lib/mayaUsd/fileio/primUpdaterManager.cpp
Labels: bug, arnold, ready-for-merge

#4106 ShadingModeExporter: Fix potential crash when exporting collection-based material bindings.
  lib/mayaUsd/fileio/shading/shadingModeExporter.cpp
Labels: import-export, ready-for-merge

#4130 EMSUSD-2171 Fix multiple collection UI issues
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListModel.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/data/stringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/validator.py
Labels: bug, ready-for-merge, shared_components

#4131 EMSUSD-2185 fix schemas in AE
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: bug, adsk, ready-for-merge

#4107 EMSUSD-1626 : Support MaterialX document in USD Exporter
  lib/usd/translators/shading/CMakeLists.txt
  lib/usd/translators/shading/mtlxMaterialXSurfaceShaderWriter.cpp
  test/lib/usd/translators/UsdExportMaterialXSurfaceShader/MaterialXStackExport.mtlx
  test/lib/usd/translators/UsdExportMaterialXSurfaceShader/Multioutput.mtlx
  test/lib/usd/translators/testUsdExportMaterialXSurfaceShader.py
Labels: import-export, ready-for-merge

#4132 EMSUSD-2184 add remove from both menu item
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
Labels: ready-for-merge, shared_components

#4137 EMSUSD-2188 make materialX bindings accessible in Maya
  CMakeLists.txt
  modules/mayaUSD.mod.template
  modules/mayaUSD_Win.mod.template
  test/lib/testMayaUsdPythonImport.py
Labels: ready-for-merge, materials

#4136 EMSUSD-1896 avoid crash when shader has no uvLink
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportUVSetsSwitchTest/UsdExportUVSwitchTest.ma
  test/lib/usd/translators/testUsdExportUVSetsSwitch.py
Labels: bug, import-export, ready-for-merge, crash
