Repository Autodesk/maya-usd, pull requests merged in 2025-04, with the labels that each got.

#4171 EMSUSD-2113 As an artist, I want a Help link to point me to training docs for Collections
  lib/mayaUsd/resources/ae/CMakeLists.txt
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/expressionRulesMenu.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/host.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/usdCollectionStringListData.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/usdData/validator.py
  lib/mayaUsd/resources/ae/usdschemabase/collectionMayaHost.py
  lib/mayaUsd/resources/helpTable/helpTableMayaUSD
Labels: ready-for-merge, shared_components

#4172 LOOKDEVX-4039 - Add Outliner icons for NodeGraphs.
  lib/usdUfe/resources/icons/CMakeLists.txt
  lib/usdUfe/resources/icons/out_USD_NodeGraph_100.png
  lib/usdUfe/resources/icons/out_USD_NodeGraph_150.png
  lib/usdUfe/resources/icons/out_USD_NodeGraph_200.png
  lib/usdUfe/ufe/UsdUIInfoHandler.cpp
  test/lib/ufe/testUIIcons.py
Labels: ufe-usd, ready-for-merge

#4180 EMSUSD-2222: Duplicating a ProxyStage and hiding the dup causes crash
  lib/mayaUsd/nodes/proxyAccessor.h
  test/lib/testMayaUsdProxyAccessor.py
Labels: core, ready-for-merge

#4179 Update README.md
  README.md
Labels: documentation, ready-for-merge

#4183 EMSUSD-2278 - Creating or parenting a camera under a USD def will crash Maya
  lib/mayaUsd/ufe/MayaUsdObject3d.cpp
  lib/usdUfe/ufe/UsdCamera.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_invisibile.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateCamerasTest/baseline/RenderCameras_visibile.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateCameras.py
Labels: ufe-usd, ready-for-merge

#4186 Properly handle deleted attributes
  lib/usdUfe/ufe/StagesSubject.cpp
  test/lib/ufe/testAttribute.py
Labels: ufe, ready-for-merge

#4184 Check that the stagePath points to a valid Ufe item
  lib/mayaUsd/ufe/ProxyShapeSceneSegmentHandler.cpp
Labels: ufe-usd, ready-for-merge

#4189 Update proxyRenderDelegate.cpp
  lib/mayaUsd/render/vp2RenderDelegate/proxyRenderDelegate.cpp
Labels: vp2renderdelegate, ready-for-merge

#4188 Update diffCore.cpp
  lib/usdUfe/utils/diffCore.cpp
Labels: build, ready-for-merge

#4195 EMSUSD-2301 - Layer Editor Won't Launch
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/abstractLayerEditorWindow.h
  lib/mayaUsd/commands/layerEditorWindowCommand.cpp
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/mayaCommandHook.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.h
  test/lib/testMayaUsdInteractiveLayerEditorCommands.py
Labels: workflows, unit test, ready-for-merge

#4190 EMSUSD-2232 - Avoids rebuilding cache when trying to getProxyShape
  lib/mayaUsd/ufe/Utils.cpp
Labels: ufe-usd, ready-for-merge

#4196 Port layers editor fixes
  lib/mayaUsd/commands/layerEditorCommand.cpp
  lib/usd/ui/layerEditor/mayaSessionState.cpp
  lib/usd/ui/layerEditor/stageSelectorWidget.cpp
  lib/usd/ui/layerEditor/warningDialogs.cpp
Labels: workflows, ready-for-merge

#4203 Update version to v0.33.0
  cmake/mayausd_version.info
Labels: build, ready-for-merge
