Repository Autodesk/maya-usd, pull requests merged in 2025-03, with the labels that each got.

#4138 Improve reliability of OpenPBR VP2 test
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/OpenPBRShowcase_UsdPS_Import_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/testSamples/MaterialX/OpenPBRShowcase.ma
Labels: vp2renderdelegate, unit test, ready-for-merge, materials

#4141 Use new Sdr API
  lib/lookdevXUsd/UsdMaterialValidator.cpp
  lib/mayaUsd/fileio/translators/translatorUtil.cpp
  lib/mayaUsd/fileio/utils/shadingUtil.cpp
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
  lib/mayaUsd/ufe/UsdShaderNodeDef.cpp
  lib/mayaUsd/ufe/UsdUndoMaterialCommands.cpp
  lib/usd/hdMaya/adapters/materialNetworkConverter.cpp
  lib/usd/translators/shading/mtlxBaseWriter.cpp
  lib/usdUfe/ufe/UsdAttributes.cpp
  lib/usdUfe/ufe/UsdShaderAttributeDef.cpp
  lib/usdUfe/ufe/Utils.cpp
  plugin/adsk/plugin/adskMaterialCommands.cpp
Labels: build, ready-for-merge

#4148 Updating changelog for v0.31.0
  doc/CHANGELOG.md
Labels: documentation, ready-for-merge

#4140 EMSUSD-1644 Adds a cutom gizmo shape and geometry
  lib/mayaUsd/ufe/UsdLight.cpp
  plugin/adsk/plugin/CMakeLists.txt
  plugin/adsk/plugin/drawUtils.cpp
  plugin/adsk/plugin/drawUtils.h
  plugin/adsk/plugin/gizmoGeometryOverride.cpp
  plugin/adsk/plugin/gizmoGeometryOverride.h
  plugin/adsk/plugin/gizmoShape.cpp
  plugin/adsk/plugin/gizmoShape.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_animation.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_stage_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_stage_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmos_with_new_light.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateLights.py
  test/testSamples/light/RenderLightsCustomGizmos.usda
Labels: adsk, workflows, ready-for-merge

#4143 EMSUSD-2084 - adding or removing of items in collections should respect the edit restrictions as other attributes
  lib/usdUfe/python/wrapUtils.cpp
  lib/usdUfe/ufe/Utils.cpp
  lib/usdUfe/ufe/Utils.h
  test/lib/ufe/CMakeLists.txt
  test/lib/ufe/testAttributeBlock.py
  test/lib/ufe/testRelationshipBlock.py
Labels: ufe-usd, ready-for-merge

#4113 EMSUSD-1973 Add LookdevXUsd unit tests
  cmake/modules/FindLookdevXUfe.cmake
  lib/lookdevXUsd/UsdFileHandler.cpp
  lib/lookdevXUsd/UsdSceneItemUI.cpp
  test/lib/CMakeLists.txt
  test/lib/LookdevXUfe/CMakeLists.txt
  test/lib/LookdevXUfe/testLdxCapabilityHandler.py
  test/lib/LookdevXUfe/testLdxComponentConnections.py
  test/lib/LookdevXUfe/testLdxConnection.py
  test/lib/LookdevXUfe/testLdxDebugHandler.py
  test/lib/LookdevXUfe/testLdxFileHandler.py
  test/testSamples/lookdevXUsd/RelativeReferencedUdimTextures.usda
  test/testSamples/lookdevXUsd/assets/simplePlane/simplePlane.usda
  test/testSamples/lookdevXUsd/assets/simplePlane/textures/diffuse.1001.jpg
  test/testSamples/lookdevXUsd/assets/simplePlane/textures/diffuse.1002.jpg
  test/testSamples/lookdevXUsd/assets/simplePlane/textures/diffuse.1003.jpg
  test/testSamples/lookdevXUsd/extendedConnections.usda
  test/testSamples/lookdevXUsd/isInternalConnection.usda
  test/testSamples/lookdevXUsd/test_component.usda
  test/testSamples/lookdevXUsd/test_component_connections.usda
  test/testSamples/lookdevXUsd/test_component_connections3.usda
Labels: unit test, ready-for-merge, lookdevxusd

#4149 Add details to the axis and units import flag doc.
  lib/mayaUsd/commands/Readme.md
Labels: documentation, ready-for-merge

#4154 EMSUSD-2168 Adjust some sizes of the light linking widget to better match the design
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/collection/includeExcludeWidget.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/filteredStringListView.py
  lib/mayaUsd/resources/ae/usd-shared-components/src/python/usdSharedComponents/common/stringListPanel.py
Labels: ready-for-merge, shared_components

#4155 EMSUSD-2224 - usdUfe.registerUICallback can crash with python lambdas
  lib/usdUfe/python/wrapUICallback.cpp
Labels: bug, ufe-usd, ready-for-merge

#4146 Selectable imaging node caused issues with XRay shading
  lib/mayaUsd/render/pxrUsdMayaGL/hdImagingShapeDrawOverride.h
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.cpp
  lib/mayaUsd/render/pxrUsdMayaGL/proxyDrawOverride.h
Labels: ready-for-merge

#4153 PrimUpdaterManager: Avoid spurious `allowTopologyMod` reference edits
  lib/mayaUsd/fileio/primUpdaterManager.cpp
  lib/mayaUsd/undo/OpUndoItems.cpp
  lib/mayaUsd/undo/OpUndoItems.h
Labels: workflows, ready-for-merge

#4110 EMSUSD-1910 - Make USD camera invisible when the parents turn invisible
  cmake/modules/FindUFE.cmake
  lib/mayaUsd/ufe/CMakeLists.txt
  lib/mayaUsd/ufe/MayaUsdObject3d.cpp
  lib/mayaUsd/ufe/MayaUsdObject3d.h
  lib/usdUfe/ufe/CMakeLists.txt
  lib/usdUfe/ufe/UsdCamera.cpp
  lib/usdUfe/ufe/UsdCamera.h
Labels: ufe-usd, ready-for-merge

#4159 HYDRA-1519 - Fixes viewport filter for USD lights
  plugin/adsk/plugin/gizmoGeometryOverride.cpp
Labels: adsk, ready-for-merge

#4147 Removing UsdLuxGeometryLight reader
  lib/usd/translators/lightReader.cpp
  lib/usd/translators/plugInfo.json
  test/lib/usd/translators/UsdImportRfMLightTest/RfMLightsTest.usda
  test/lib/usd/translators/testUsdImportRfMLight.py
Labels: import-export, ready-for-merge

#4161 Update README.md
  tutorials/import-export-plugin/README.md
Labels: documentation, ready-for-merge

#4160 Update to MaterialX 1.39.3
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/GlslFragmentGenerator.h
  lib/mayaUsd/render/MaterialXGenOgsXml/LobePruner.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/MayaShaderGraph.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/Nodes/SurfaceNodeMaya.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsFragment.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/OgsXmlGenerator.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.cpp
  lib/mayaUsd/render/MaterialXGenOgsXml/ShaderGenUtil.h
  lib/mayaUsd/render/vp2RenderDelegate/material.cpp
  lib/mayaUsd/utils/util.cpp
  lib/usd/translators/shading/mtlxMaterialXSurfaceShaderWriter.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/DemoQuads_render.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateMaterialXTest/baseline/DemoQuads_render_1.38.5.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateMaterialX.py
  test/lib/mayaUsd/utils/materialx_test_data/Channel1_topo_1_39.mtlx
  test/lib/mayaUsd/utils/materialx_test_data/Interface2_topo_1_39.mtlx
  test/lib/mayaUsd/utils/materialx_test_data/topology_tests_1_39.mtlx
  test/lib/mayaUsd/utils/test_ShaderGenUtils.cpp
  test/testSamples/MaterialX/DemoQuads.usda
Labels: vp2renderdelegate, ready-for-merge, materials

#4164 EMSUSD-1668 Added export splines anim for camera attributes
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/baseExportCommand.cpp
  lib/mayaUsd/commands/baseExportCommand.h
  lib/mayaUsd/fileio/doc/How-to-add-new-option.md
  lib/mayaUsd/fileio/jobs/jobArgs.cpp
  lib/mayaUsd/fileio/jobs/jobArgs.h
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  lib/mayaUsd/fileio/utils/writeUtil.h
  lib/mayaUsd/python/wrapPrimWriter.cpp
  lib/usd/translators/cameraWriter.cpp
  lib/usd/translators/cameraWriter.h
  plugin/adsk/scripts/mayaUSDRegisterStrings.py
  plugin/adsk/scripts/mayaUsdTranslatorExport.mel
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportCameraTest/UsdExportCameraAttrSplineTest.ma
  test/lib/usd/translators/testUsdExportCameraAttrSpline.py
Labels: import-export, ready-for-merge

#4158 EMSUSD-2199 - Fixes a performance issue regarding findGatwayItems() / cameras
  lib/mayaUsd/ufe/ProxyShapeSceneSegmentHandler.cpp
  lib/mayaUsd/ufe/UsdStageMap.cpp
  lib/mayaUsd/ufe/UsdStageMap.h
  lib/mayaUsd/ufe/Utils.cpp
  lib/mayaUsd/ufe/Utils.h
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateCameras.py
Labels: ufe-usd, ready-for-merge

#4170 EMSUSD-2186 - Publish USD v24.11 branch
  doc/build.md
Labels: documentation, ready-for-merge

#4168 Port over recent layer editor changes
  lib/mayaUsd/commands/Readme.md
  lib/mayaUsd/commands/abstractLayerEditorWindow.h
  lib/mayaUsd/commands/layerEditorWindowCommand.cpp
  lib/usd/ui/layerEditor/layerEditorWidget.cpp
  lib/usd/ui/layerEditor/layerEditorWidget.h
  lib/usd/ui/layerEditor/layerTreeItemDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeModel.h
  lib/usd/ui/layerEditor/layerTreeView.cpp
  lib/usd/ui/layerEditor/layerTreeView.h
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.cpp
  lib/usd/ui/layerEditor/mayaLayerEditorWindow.h
  lib/usd/ui/layerEditor/stringResources.h
Labels: workflows, ready-for-merge
