Repository Autodesk/maya-usd, pull requests merged in 2025-06, with the labels that each got.

#4228 EMSUSD-2300 : Support Import for spline attribute of USD Lights.
  lib/mayaUsd/fileio/translators/translatorCamera.cpp
  lib/mayaUsd/fileio/translators/translatorLight.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/splineUtils.cpp
  lib/mayaUsd/fileio/utils/splineUtils.h
  test/lib/usd/translators/testUsdExportLightAttrSplines.py
Labels: import-export, ready-for-merge

#4227 Added support for USD Domelight_1
  lib/mayaUsd/fileio/translators/translatorRfMLight.cpp
  lib/mayaUsd/fileio/translators/translatorRfMLightDeprecated.cpp
  lib/mayaUsd/ufe/UsdLight.cpp
  plugin/adsk/plugin/gizmoGeometryOverride.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_animation.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_stage_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_stage_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_with_new_light.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateLights.py
  test/testSamples/light/RenderLightsCustomGizmoVP2Shading.usda
Labels: vp2renderdelegate, workflows, ready-for-merge

#4230 EMSUSD-2524 : Crash if the file port is promoted to the top level of the graph
  lib/usd/translators/shading/mtlxMaterialXSurfaceShaderWriter.cpp
Labels: import-export, ready-for-merge

#4232 EMSUSD-2492 Import Xform transformations with Animation Curves
  cmake/modules/FindUSD.cmake
  lib/mayaUsd/CMakeLists.txt
  lib/mayaUsd/fileio/transformWriter.cpp
  lib/mayaUsd/fileio/translators/translatorXformable.cpp
  lib/mayaUsd/fileio/utils/CMakeLists.txt
  lib/mayaUsd/fileio/utils/splineUtils.cpp
  lib/mayaUsd/fileio/utils/splineUtils.h
  lib/mayaUsd/fileio/utils/xformStack.cpp
  lib/mayaUsd/fileio/utils/xformStack.h
  test/lib/usd/translators/testUsdImportXformAnim.py
Labels: import-export, ready-for-merge

#4234 EMSUSD-2295 : Texture paths are not saved as relative when exporting an object with MaterialX Document
  lib/usd/translators/shading/mtlxMaterialXSurfaceShaderWriter.cpp
  test/lib/usd/translators/UsdExportMaterialXSurfaceShader/RelativePath.mtlx
  test/lib/usd/translators/testUsdExportMaterialXSurfaceShader.py
Labels: import-export, ready-for-merge

#4235 Merge v0.32.0 to dev
  doc/CHANGELOG.md
Labels: build, ready-for-merge

#4236 EMSUSD-2559 : Transforms are lost If objects contain transform data and Animation Curves is set on export
  lib/mayaUsd/fileio/transformWriter.cpp
Labels: import-export, ready-for-merge

#4240 EMSUSD-2576 : Rotation is incorrectly written on export to USD when using splines.
  lib/mayaUsd/fileio/transformWriter.cpp
  lib/mayaUsd/fileio/translators/translatorCamera.cpp
  lib/mayaUsd/fileio/translators/translatorLight.cpp
  lib/mayaUsd/fileio/translators/translatorXformable.cpp
  lib/mayaUsd/fileio/utils/readUtil.cpp
  lib/mayaUsd/fileio/utils/splineUtils.h
  lib/mayaUsd/fileio/utils/xformStack.cpp
  test/lib/usd/translators/testUsdExportSplineXforms.py
  test/lib/usd/translators/testUsdImportXformAnim.py
Labels: import-export, ready-for-merge

#4238 LOOKDEVX-4467 - Move ProxyShapeLookdevHandler to MayaUSD.
  lib/lookdevXUsd/CMakeLists.txt
  lib/lookdevXUsd/LookdevXUsd.cpp
  lib/lookdevXUsd/ProxyShapeLookdevHandler.cpp
  lib/lookdevXUsd/ProxyShapeLookdevHandler.h
  lib/lookdevXUsd/UsdMaterialHandler.cpp
Labels: ready-for-merge, lookdevxusd

#4242 Revert "Merge pull request #4238 from Autodesk/frohnej/LOOKDEVX-4467/…
  lib/lookdevXUsd/CMakeLists.txt
  lib/lookdevXUsd/LookdevXUsd.cpp
  lib/lookdevXUsd/ProxyShapeLookdevHandler.cpp
  lib/lookdevXUsd/ProxyShapeLookdevHandler.h
  lib/lookdevXUsd/UsdMaterialHandler.cpp
Labels: ready-for-merge

#4244 LOOKDEVX-4467 - Move ProxyShapeLookdevHandler to MayaUSD.
  lib/lookdevXUsd/CMakeLists.txt
  lib/lookdevXUsd/LookdevXUsd.cpp
  lib/lookdevXUsd/ProxyShapeLookdevHandler.cpp
  lib/lookdevXUsd/ProxyShapeLookdevHandler.h
  lib/lookdevXUsd/UsdMaterialHandler.cpp
Labels: ready-for-merge, lookdevxusd

#4243 EMSUSD-2578: Material prims break AE on Maya 2023 / 2022
  lib/mayaUsd/resources/ae/usdschemabase/ae_template.py
Labels: workflows, ready-for-merge

#4241 EMSUSD-2577 : Some tangent usage are not translated correctly in 25.05 on Stage Creation
  lib/mayaUsd/fileio/translators/translatorXformable.cpp
  lib/mayaUsd/fileio/utils/splineUtils.h
  test/lib/usd/translators/testUsdImportXformAnim.py
Labels: import-export, ready-for-merge

#4248 EMSUSD-2577 : Some tangent are not translated correctly on export
  lib/mayaUsd/fileio/utils/splineUtils.h
  test/lib/usd/translators/testUsdExportCameraAttrSpline.py
Labels: import-export, ready-for-merge
