Repository Autodesk/maya-usd, pull requests merged in 2025-05, with the labels that each got.

#4201 Move deprecated Usd ZipFile-related codesites
  lib/mayaUsd/fileio/jobs/readJob.cpp
  plugin/pxr/maya/lib/usdMaya/testenv/testUsdExportPackage.py
Labels: build, ready-for-merge

#4214 EMSUSD-2494 Wrong/Missing info on Camera spline exporting properties
  lib/mayaUsd/fileio/utils/writeUtil.cpp
  test/lib/usd/translators/testUsdExportCameraAttrSpline.py
Labels: import-export, ready-for-merge

#4218 Use new wireframe draw modes
  lib/mayaUsd/render/pxrUsdMayaGL/shapeAdapter.cpp
Labels: legacy rendering, ready-for-merge

#4219 Fixes for building with QT_DISABLE_DEPRECATED_BEFORE
  lib/usd/ui/importDialog/ItemDelegate.cpp
  lib/usd/ui/importDialog/USDImportDialog.cpp
  lib/usd/ui/layerEditor/layerTreeItem.cpp
  lib/usd/ui/layerEditor/layerTreeItemDelegate.cpp
  lib/usd/ui/layerEditor/layerTreeViewStyle.h
Labels: build, ready-for-merge

#4217 EMSUSD-2265 : Mtlx-USD export should add ND_geompropvalue node to the image node during convertion
  lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp
  lib/usd/translators/shading/mtlxMaterialXSurfaceShaderWriter.cpp
  test/lib/usd/translators/CMakeLists.txt
  test/lib/usd/translators/UsdExportMaterialXSurfaceShader/ImageWithoutGeomProp.mtlx
  test/lib/usd/translators/testUsdExportMaterialXSurfaceShader.py
Labels: import-export, ready-for-merge

#4222 EMSUSD-2357 - Add internal Maya light shading to USD lights
  plugin/adsk/plugin/gizmoGeometryOverride.cpp
  plugin/adsk/plugin/gizmoShape.cpp
  plugin/adsk/plugin/gizmoShape.h
  plugin/adsk/plugin/plugin.cpp
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_animation.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_stage_moved.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_stage_selected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_unselected.png
  test/lib/mayaUsd/render/vp2RenderDelegate/VP2RenderDelegateLightsTest/baseline/RenderLightsCustomGizmoVP2Shading_with_new_light.png
  test/lib/mayaUsd/render/vp2RenderDelegate/testVP2RenderDelegateLights.py
  test/testSamples/light/RenderLightsCustomGizmoVP2Shading.usda
Labels: adsk, ready-for-merge
